﻿
         ul li a i{
            font-size: 18px;
        }
        .chaser {
            background: #fff;
        }
        .menu{
                padding-top: 10px;
    font-size: small;
    text-align: justify;
        }
        h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    font-weight: normal;
    color: #2d3e52;
}
        #main-menu .navbar-brand {
            line-height: 60px;
        }

        #header.style5 .logo a {
            background-size: auto 50px;
        }

        #header .logo {
            width: 16%;
        }

        .chaser .logo a {
            background-size: auto 43px;
        }

        .parallax {
            background-attachment: fixed;
            background-position: 50% 0;
            background-repeat: no-repeat;
            background-size: auto auto;
            overflow: hidden;
        }

        #div_show {
            padding-top: 80px, !important;
            padding-bottom: 70px, !important;
        }

        .page-title-container .page-title .entry-title{
            line-height: 35px;
        }
        .page-title-container{
            height: 35px;
        }
        .page-title-container .breadcrumbs li{
            line-height: 35px;
        }
        a.button {
    display: inline-block;
    background: #d9d9d9;
    background: #171515;
    font-size: .8333em;
    line-height: 1.8333em;
    white-space: nowrap;
    text-align: center;
   
    height: 28px;
    padding: 0  24px 47px ;
    line-height: 28px;
    font-size: .9167em;
}
.image-box .discount{
    text-indent: 11px;
}

    #main-menu ul.menu > li.active > a, .chaser ul.menu > li.active > a {
    background-color: rgb(228, 64, 73);
    font-weight: bold;
    color: white;
    padding: 1px 15px 1px 10px;
    border-radius: 14px;
}
.price {
    color: rgb(228, 64, 73);
}
.price-per-unit{
     color: rgb(228, 64, 73) !important;
}

