<section id="content">
  <div class="container">
    <div id="main-booking" style="margin-top: 20px;">
      <div *ngIf="_display==='Detail'">
        <div class="row">
          <div class="col-md-12">
            <div class="booking-information travelo-box">
              <div class="row">
                <div class="col-lg-9 col-md-9 col-6">
                  Booking Details
                </div>
                <div class="col-lg-3 col-md-3 col-6 text-right">
                  <h5 class="red-color">
                    <a href="javascript:;" (click)="CancelBooking(InvoiceDetail.arrResrvation.BookingID)"
                      *ngIf="InvoiceDetail.arrResrvation.TicketStatus ==='1'">Cancel
                    </a>
                  </h5>
                </div>
              </div>
              <mat-divider class="divider"></mat-divider>
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <span><b>Status :</b>
                    <span *ngIf="InvoiceDetail.arrResrvation.TicketStatus === '1'"> Ticketed</span>
                    <span *ngIf="InvoiceDetail.arrResrvation.TicketStatus === 'Cancelled'"> Cancelled</span>
                    <span
                      *ngIf="InvoiceDetail.arrResrvation.TicketStatus !='1' && InvoiceDetail.arrResrvation.TicketStatus !='Cancelled'">
                      Hold</span>
                  </span><br>
                  <!-- <span><b>Reference NO :</b> </span><br> -->
                  <span><b>Invoice No :</b> {{InvoiceDetail.arrResrvation.InvoiceNo}} </span>
                </div>
                <div class="col-lg-4 col-md-4">
                  <span><b>Booked On :</b> {{InvoiceDetail.arrResrvation.Date}}</span><br>
                  <span><b>Departure Date :</b> {{InvoiceDetail.arrResrvation.DepartureDate}} </span> <br>
                  <span><b>Total Amount :</b> {{InvoiceDetail.arrResrvation.InvoiceAmount}} </span>
                </div>
                <div class="col-lg-4 col-md-4 col-12 h-addres">
                  <span><b>Airline Name :</b> {{InvoiceDetail.arrResrvation.AirlineName}} </span><br>
                  <span><b>PNR :</b> {{InvoiceDetail.arrResrvation.PNR}}
                  </span><br>
                  <!-- <span><b> :</b>  </span> -->
                </div>
              </div>
              <mat-divider class="divider"></mat-divider>
              <div class="row">
                <div class="col-md-6">
                  <span><strong>Passenger Name:</strong> {{InvoiceDetail.arrResrvation.LeadingPaxName}} </span><br>
                  <!-- <span><strong>No Of Pax</strong> : 1 </span><br> -->
                  <!-- <span><strong>Mobile</strong> : {{InvoiceDetail.arrResrvation.Contact}} </span><br> -->
                </div>
                <div class="col-md-6">
                  <span><strong>No Of Pax :</strong> {{InvoiceDetail.arrResrvation.Paxces}} </span><br>
                </div>
              </div>
              <br>
              <mat-divider class="divider"></mat-divider>
              <br>
              <div class="row">
                <div class="col-md-5">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-6">
                      <a href="javascript:void(0)" class="red-color" (click)="downloadPdf('Invoice',i)">Download
                        Invoice</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-6">
                      <a href="javascript:void(0)" class="red-color" (click)="print('Invoice',i)">Print Invoice</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-6">
                      <a href="javascript:void(0)" class="red-color" (click)="downloadPdf('Ticket',i)">Download
                        Ticket</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-6">
                      <a href="javascript:void(0)" class="red-color" (click)="print('Ticket',i)">Print Ticket</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <a style="cursor: pointer;" id="Back-to-detail" *ngIf="_display==='Invoice' || _display==='Ticket'"
        (click)="Back()">Back to detail</a>
      <br>
      <app-flight-invoice *ngIf="_display==='Invoice'" (bookingAction)="Action($event)" [FlightInvoice]="InvoiceDetail">
      </app-flight-invoice>
      <app-flight-ticket *ngIf="_display==='Ticket'" (bookingAction)="Action($event)" [InvoiceDetail]="InvoiceDetail">
      </app-flight-ticket>

      <ngx-ui-loader></ngx-ui-loader>
    </div>
  </div>
</section>