<div class="page-title-container">
  <div class="container">
    <div class="page-title pull-left">
      <h2 class="entry-title">Packages</h2>
    </div>
    <ul class="breadcrumbs pull-right">
      <li><a href="home">HOME</a></li>
      <li class="active">Packages</li>
    </ul>
  </div>
</div>
<section id="content">
  <div class="container">
    <div class="row car-list image-box car listing-style1">
      <div class="col-md-4" *ngFor="let Package of Packages | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize;
      let i = index">
        <article class="box has-discount">
          <span class="discount"><span class="discount-text">{{Package.noDays}} Days</span></span>
          <figure>
            <a class="hover-effect" style="cursor:pointer" *ngIf="Package.Images.length !=0">
              <img src="{{Package.Images[0].Url}}" onerror="ErrorImage(this)" alt="" />
            </a>
            <a class="hover-effect" style="cursor:pointer" *ngIf="Package.Images.length ==0">
              <img src="../assets/images/news/NoImageFound.jpg" onerror="ErrorImage(this)" alt="" />
            </a>
          </figure>
          <div class="details">
            <span class="price" *ngIf="Package.Category.length !=0 && Package.MinPrice!=0">
              <small>From</small> <i class="fa fa-inr"></i>
              {{Package.MinPrice}}
            </span>
            <h4 class="box-title">{{ Package.PackageName}} <small>{{ Package.City}} </small></h4>
            <div class="amenities">
              <ul>
                <li><i class="soap-icon-hotel circle"></i>Hotel</li>
                <li><i class="soap-icon-food circle"></i>Meal</li>
                <li><i class="soap-icon-car circle"></i>Car</li>
                <li><i class="soap-icon-departure circle"></i>Sightseeing</li>
              </ul>
            </div>

            <div class="action" style=" padding-left: 27%;">
              <a [routerLink]="['/packagesdetails']" [queryParams]="{ ID:Package.Packageid}"
                class="button btn-small">VIEW DETAILS</a>
              <!-- <button [routerLink]="['/packagesdetails']" [queryParams]="{ ID: Package.Packageid}" class="button btn-small" matbutton>VIEW DETAILS</button> -->
              <!-- <a class="button btn-small" href="packagebooking?Id={{Package.Packageid}}"
                data-box="40.463667, -3.749220">BOOK TOUR</a> -->
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="has-text-centered" *ngIf="Packages.length != 0">
      <!-- <pagination-controls (pageChange)="page = $event"></pagination-controls> -->
      <ngb-pagination [collectionSize]="Packages.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="5"
        [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
    </div>
    <!-- end pagination-->
  </div>
  <ngx-ui-loader></ngx-ui-loader>
</section>
