<div class="page-title-container" *ngIf="!hoteldetail">
    <div class="container">
        <div class="page-title pull-left">
            <h2 class="entry-title">Hotel Search Results</h2>
        </div>
        <ul class="breadcrumbs pull-right">
            <li><a href="/home">HOME</a></li>
            <li class="active">Hotel Search Results</li>
        </ul>
    </div>
</div>
<section id="content" *ngIf="!hoteldetail">
    <div class="container">
        <div id="main">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <h4 class="search-results-title"><i class="soap-icon-search"></i><b>{{CountHotel}}</b> hotels found.
                    </h4>
                    <div class="toggle-container filters-container">
                        <div class="panel style1 arrow-right">
                            <app-modify-search [objTraveller]="objTraveller" [Traveller]="Traveller" [Code]="Code">
                            </app-modify-search>
                        </div>
                        <br>
                        <!-- filter start -->
                        <app-hotel-filter *ngIf="_response && Hotels.length != 0" (filterHotel)="FilteredHotel($event)"
                            [search]="objSearch.Destination" [Currency]="Currency" [HotelData]="FilterHotels"
                            [Category]="Category" [Facility]="Facility" [max]="MaxPrice" [min]="MinPrice"
                            [Location]="Location">
                        </app-hotel-filter>
                        <!-- filter end -->
                    </div>

                </div>
                <div class="col-sm-8 col-md-9">
                    <div class="sort-by-section clearfix">
                        <h4 class="sort-by-title block-sm">Sort results by:</h4>
                        <ul class="sort-bar clearfix block-sm">
                            <li class="sort-by-name"><a class="sort-by-container" href="#"><span>name</span></a></li>
                            <li class="sort-by-price"><a class="sort-by-container" href="#"><span>price</span></a></li>
                            <li class="clearer visible-sms"></li>
                            <li class="sort-by-rating active"><a class="sort-by-container"
                                    href="#"><span>rating</span></a></li>
                            <li class="sort-by-popularity"><a class="sort-by-container"
                                    href="#"><span>popularity</span></a></li>
                        </ul>

                    </div>
                    <div class="hotel-list">
                        <div class="row image-box hotel listing-style1">
                            <div class="col-sm-6 col-md-4" *ngFor="let hotel of Hotels  | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize;
                            let i = index
                          ">
                                <article class="box">
                                    <figure>
                                        <a style="cursor: pointer;" (click)="setRates(hotel.hotelID)">
                                            <img width="270" height="161" *ngIf="hotel.Image.length !==0"
                                                class="hover-effect popup-gallery" alt="" src="{{hotel.Image[0].Url}}">
                                        </a>
                                    </figure>
                                    <div class="details">
                                        <span class="price">
                                            <small>avg/night</small>
                                            {{hotel.Currency}} {{hotel.Charge.TotalPrice.toFixed(2)}}
                                        </span>
                                        <h4 class="box-title">
                                            {{
                                          hotel.HotelName.length > 17
                                          ? (hotel.HotelName | slice: 0:17) + ".."
                                          : hotel.HotelName
                                            }}
                                            <small> {{
                                        hotel.Address.length > 40
                                          ? (hotel.Address | slice: 0:40) + ".."
                                          : hotel.Address
                                      }}
                                                <app-star-ratings [Rating]="hotel.Category" style="float: right;">
                                                </app-star-ratings>
                                            </small></h4>

                                        <p class="description" [innerHtml]="hotel.Description.length > 115
                                        ? (hotel.Description | slice: 0:100) + '..'
                                        : hotel.Description"></p>
                                        <div class="action">
                                            <a class="button btn-small black popup-map"
                                                (click)="setRates(hotel.ResultIndex)"><i *ngIf="hotel.loading"
                                                    class="fa fa-spinner fa-spin"></i>
                                                Details</a>
                                            <a class="button btn-small red popup-map" href="#"
                                                attr.data-box="{{hotel.Latitude}}, {{hotel.Langitude}}">View on Map</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="hotel-list" *ngIf="!_response">
                        <div class="row image-box hotel listing-style1">
                            <app-hotellist-loder></app-hotellist-loder>
                            <app-hotellist-loder></app-hotellist-loder>
                            <app-hotellist-loder></app-hotellist-loder>
                            <app-hotellist-loder></app-hotellist-loder>
                            <app-hotellist-loder></app-hotellist-loder>
                            <app-hotellist-loder></app-hotellist-loder>
                        </div>
                    </div>
                    <hr *ngIf="Hotels.length != 0" />
                    <div class="has-text-centered" *ngIf="Hotels.length != 0">
                        <!-- <pagination-controls (pageChange)="page = $event"></pagination-controls> -->
                        <ngb-pagination [collectionSize]="Hotels.length" [(page)]="page" [pageSize]="pageSize"
                            [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                    </div>
                    <!-- end pagination-->
                </div>
            </div>
        </div>
    </div>

</section>
<app-hotel-details *ngIf="hoteldetail" [Hotel]="_hotelData" [objSearch]="objSearch" [TockenID]="TockenID"
    (valueChange)="hideHotelDetails($event)"></app-hotel-details>