<kendo-pdf-export #pdf paperSize="A4" margin="0cm" [scale]="scale">
  <div class="row">
    <div class="col-md-12">
      <div class="travelo-box">
        <div class="row">
          <div class="col-md-12">
            <h5>
              <strong>
                {{AgentDetails.Name}}
              </strong>
            </h5>
            <!-- <img *ngIf="!isb2c" src="http://clickurtrip.net/Agencylogo/{{InvoiceDetails.AdminUser.Code}}.jpg"
              height="58" width="277"> -->
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="banner">
              <h3 class="text-center">Voucher / Accommodation</h3>
              <p class="text-center">Booking confirmed and guaranteed - Voucher - Hotel</p>
            </div>
          </div>
        </div>
        <mat-divider class="margin-6"></mat-divider>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-12">
            <div class="banner">
              <div class="row">
                <div class="col-lg-5 col-md-5 col-6">
                  <strong>Status :</strong>
                </div>
                <div class="col-lg-7 col-md-7 col-6">
                  <span> {{Resrvation.Status}} </span>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-5 col-md-5 col-6">
                  <strong>Voucher No :</strong>
                </div>
                <div class="col-lg-7 col-md-7 col-6">
                  <span> {{Resrvation.VoucherNo}} </span>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-lg-6 col-md-6 col-6">
                  <strong>Supplier Ref No. :</strong>
                </div>
                <div class="col-lg-6 col-md-6 col-6">
                  <span>436-985128</span>
                </div>
              </div> -->
              <div class="row">
                <div class="col-lg-6 col-md-6 col-6">
                  <strong>Agent Ref No. :</strong>
                </div>
                <div class="col-lg-6 col-md-6 col-6">
                  <span>{{Resrvation.SupplierID}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-5 col-md-5 col-6">
                  <strong>Booking date :</strong>
                </div>
                <div class="col-lg-7 col-md-7 col-6">
                  <span>{{Resrvation.Bookingdate}}</span>
                </div>
              </div>

            </div>
            <div class="row margin-bottom-10">
              <div class="col-lg-6 col-md-6 col-6">
                <strong>From : {{Resrvation.checkin}}</strong>
              </div>
              <div class="col-lg-6 col-md-6 col-6">
                <strong>To : {{Resrvation.checkout}}</strong>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-12">
            <div class="row">
              <div class="col-md-12">
                <strong>
                  <p class="h-name">{{Resrvation.HotelName}}</p>
                </strong>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-3 col-4">
                <strong>Address :</strong>
              </div>
              <div class="col-lg-9 col-md-9 col-8">
                <span> {{Hotel.Address}} <br>
                  {{Resrvation.City}}
                </span>
              </div>
            </div>
            <div class="row">
              <!-- <div class="col-lg-3 col-md-3 col-4">
                <strong>Phone :</strong>
              </div>
              <div class="col-lg-9 col-md-9 col-8">
                <span>+41 4480810 00</span>
              </div> -->
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-3 col-4">
                <strong>Postal Code :</strong>
              </div>
              <div class="col-lg-9 col-md-9 col-8">
                <span>{{Hotel.PostalCode}}</span>
              </div>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <br>
        <div *ngFor="let r of Rooms; let i=index">
          <div class="row">
            <div class="col-md-2">
              <strong>{{r.RoomNumber}}</strong><br>
              <small>
                <span *ngIf="r.Child ===0"> {{r.Adults}} Adult(s)</span>
                <span *ngIf="r.Child >0"> {{r.Adults}} Adult(s) {{r.Child}} Child(s)</span>
              </small>
            </div>
            <div class="col-md-4">
              <div *ngFor="let guest of GuestList; let last=last">
                <strong *ngIf="guest.RoomNumber == r.RoomNumber">Guest Name</strong><br
                  *ngIf="guest.RoomNumber == r.RoomNumber">
                <span
                  *ngIf="guest.RoomNumber == r.RoomNumber && (guest.PassengerType=='AD' || guest.PassengerType=='1')">
                  {{guest.Name}} {{guest.LastName}}
                </span><br *ngIf="guest.RoomNumber == r.RoomNumber">
                <span
                  *ngIf="guest.RoomNumber == r.RoomNumber && (guest.PassengerType=='CH' || guest.PassengerType=='2')">
                  {{guest.Name}} (Age : {{guest.Age}} yrs)
                </span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-6">
                  <strong>Room type</strong><br>
                  <span>{{r.RoomType}} </span>
                </div>
                <div class="col-lg-6 col-md-6 col-6">
                  <strong>Board</strong><br>
                  <span>{{r.BoardText}} </span>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
        <br>
        <br>
        <mat-divider></mat-divider>
        <div class="row">
          <div class="col-md-12">
            <br>
            <h4>Cancellation Charge</h4>
            <div class="row" *ngFor="let r of Rooms; let i=index">
              <div class="col-md-12">
                <strong>{{r.RoomNumber}} ({{r.RoomType}} , {{r.BoardText}})</strong>
                <ul>
                  <li *ngFor="let Cancellation of CancellationPolicy[i]">
                    {{Cancellation}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <br>
        <mat-divider></mat-divider>
        <div class="row">
          <div class="col-md-12">
            <br>
            <h4>Terms & Conditions</h4>
            <ul>
              <li>Please collect all extras directly from clients prior to departure</li>
              <li>It is mandatory to present valid Passport at the time of check-in for Internationalhotel booking & any
                valid photo ID for domestic hotel booking</li>
              <li>Hotel holds right to reject check in or charge supplement due to wrongly selectionof Nationality or
                Residency at the time of booking</li>
              <li>Early check-in & late check-out will be subject to availability and approval byrespective hotel only
              </li>
              <li>Kindly inform hotel in advance for any late check-in, as hotel may automaticallycancel the room in not
                check-in by 18:00Hrs local time</li>
              <li>You may need to deposit security amount at some destination as per the local ruleand regulations at
                the time of check-in</li>
              <li>Tourism fees may apply at the time of check-in at some destinations like Dubai,Paris, etc...</li>
              <li>General check-in time is 14:00Hrs & check-out time is 12:00Hrs</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button kendo-button (click)="pdf.saveAs('Voucher.pdf')" class="btn_full" id="btn_Voucher_pdf"
    style="display: none"></button>
</kendo-pdf-export>