<header id="header" class="navbar-static-top style5" style="background: white">
    <div class="main-header">

        <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
            Mobile Menu Toggle
        </a>

        <div class="main-navigation">
            <div class="container">
                <nav id="main-menu" role="navigation">
                    <h1 class="logo navbar-brand">
                        <a href="/home" title="Ideal Tours & Travels">
                            <img src="assets/images/logo.png">
                        </a>
                    </h1>

                    <ul class="menu">
                        <li class="menu-item-has-children active Home">
                            <a href="home"><i class="soap-icon-address"></i>&nbsp;Home</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="aboutus"><i class="soap-icon-notice"></i>&nbsp;About Us</a>
                        </li>
                        <li class="menu-item-has-children Holidays">
                            <a href="packages"><i class="soap-icon-suitcase"></i>&nbsp;Holidays</a>
                            <ul>
                                <li><a href="packages?Type=Domestic"><i class="soap-icon-suitcase"></i>&nbsp;Holidays in
                                        India</a></li>
                                <li><a href="packages?Type=International"><i
                                            class="soap-icon-suitcase"></i>&nbsp;International Holidays</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="flight-search"><i class="soap-icon-plane-right takeoff-effect"></i>&nbsp;Flight</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="search-hotel"><i class="soap-icon-hotel-3"></i>&nbsp;Hotel</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="contactus"><i class="soap-icon-phone"></i>&nbsp;Contact Us</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="payment"><i class="fa fa-money" aria-hidden="true"></i>&nbsp;Payment</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a style="cursor: pointer" class="account">
                                <i class="soap-icon-user"></i>&nbsp;
                                My account
                            </a>
                            <!-- <a *ngIf="login.retCode ==1" style="cursor: pointer" class="user-name">
                                <i class="soap-icon-user"></i>&nbsp;
                                {{login.LoginDetail.Email}}
                            </a> -->
                            <ul>
                                <li *ngIf="login.retCode !==1"><a style="cursor: pointer" class="a-white logReg"
                                        (click)="openDialog()">
                                        Login / Register
                                    </a>
                                </li>
                                <li *ngIf=" login.retCode ==1">
                                    <a routerLink="/booking-report">
                                        My Bookings
                                    </a>
                                </li>
                                <li *ngIf=" login.retCode ==1">
                                    <a routerLink="/profile">
                                        Profile
                                    </a>
                                </li>
                                <li *ngIf=" login.retCode ==1">
                                    <a style="cursor: pointer" class="a-white Out" (click)="signout()">
                                        Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <nav id="mobile-menu-01" class="mobile-menu-toggle collapse">
            <ul id="mobile-primary-menu" class="menu">
                <li class="menu-item-has-children a-white">
                    <a href="/home">Home</a>
                    <button class="dropdown-toggle collapsed" data-toggle="collapse"
                        data-target="#mobile-menu-submenu-item-0"></button>
                </li>
                <li class="menu-item-has-children">
                    <a href="aboutus">About Us</a>
                    <button class="dropdown-toggle collapsed" data-toggle="collapse"
                        data-target="#mobile-menu-submenu-item-1"></button>
                </li>
                <li class="menu-item-has-children">
                    <a href="packages?Type=Domestic">Holidays in India</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="packages?Type=International">International Holidays</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="flight-search">Flight</a>
                    <button class="dropdown-toggle collapsed" data-toggle="collapse"
                        data-target="#mobile-menu-submenu-item-3"></button>
                </li>
                <li class="menu-item-has-children">
                    <a href="search-hotel">Hotel</a>
                    <button class="dropdown-toggle collapsed" data-toggle="collapse"
                        data-target="#mobile-menu-submenu-item-4"></button>
                </li>
                <li class="menu-item-has-children">
                    <a href="contactus">Contact Us</a>
                    <button class="dropdown-toggle collapsed" data-toggle="collapse"
                        data-target="#mobile-menu-submenu-item-5"></button>
                </li>
                <li class="menu-item-has-children">
                    <a href="payment"><i class="fa fa-money" aria-hidden="true"></i>Payment</a>
                </li>
                <li class="menu-item-has-children">
                    <a style="cursor: pointer" class="account">
                        <i class="soap-icon-user"></i>&nbsp;
                        My account
                    </a>
                    <!-- <a *ngIf="login.retCode ==1" style="cursor: pointer" class="user-name">
                        <i class="soap-icon-user"></i>&nbsp;
                        {{login.LoginDetail.Email}}
                    </a> -->
                    <ul>
                        <li *ngIf="login.retCode !==1"><a style="cursor: pointer" class="a-white logReg"
                                (click)="openDialog()">
                                Login / Register
                            </a>
                        </li>
                        <li *ngIf=" login.retCode ==1">
                            <a routerLink="/booking-report">
                                My Bookings
                            </a>
                        </li>
                        <li *ngIf=" login.retCode ==1">
                            <a routerLink="/profile">
                                Profile
                            </a>
                        </li>
                        <li *ngIf=" login.retCode ==1">
                            <a style="cursor: pointer" class="a-white Out" (click)="signout()">
                                Log Out
                            </a>
                        </li>
                    </ul>
                    <!-- <a style="cursor: pointer" class="a-white account"><i class="soap-icon-user"></i>My account</a>
                    <ul>
                        <li><a style="cursor: pointer" class="a-white logReg" onclick="SignUpModal()">Login /
                                Register</a></li>
                        <li><a style="cursor: pointer" onclick="Mybookings()">My Bookings</a></li>
                        <li><a style="cursor: pointer; display: none" onclick="Logout()" class="a-white Out">Log Out</a>
                        </li>
                    </ul> -->
                </li>
            </ul>
        </nav>
    </div>
</header>