<div id="slideshow">
  <div class="fullwidthbanner-container">
      <div class="revolution-slider rev_slider" style="height: 0; overflow: hidden;">
          <ul>
              <!-- SLIDE  -->
              <li data-index="rs-16" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-thumb="http://slider.travelo.com/wp-content/" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                  <!-- MAIN IMAGE -->
                  <img src="../../../slider.travelo.com/wp-content/plugins/revslider/admin/assets/images/transparent.html" style='background-color: #2f3e00' alt="" title="Slider1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                  <!-- LAYERS -->

                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption   tp-resizeme"
                      id="slide-16-layer-1"
                      data-x="center" data-hoffset=""
                      data-y="center" data-voffset=""
                      data-width="['none','none','none','none']"
                      data-height="['none','none','none','none']"
                      data-transform_idle="o:1;"
                      data-transform_in="opacity:0;s:300;e:Power3.easeInOut;"
                      data-transform_out="opacity:0;s:300;s:300;"
                      data-start="500"
                      data-responsive_offset="on"
                      style="z-index: 5;">
                      <img src="assets/images/Promotion/bg3-1.png" alt="" data-ww="auto" data-hh="auto" data-no-retina>
                  </div>

                  <!-- LAYER NR. 2 -->
                  <div class="tp-caption black3_1   tp-resizeme"
                      id="slide-16-layer-2"
                      data-x="587"
                      data-y="434"
                      data-width="['auto']"
                      data-height="['auto']"
                      data-transform_idle="o:1;"
                      data-transform_in="x:right;s:1500;e:easeInOutBack;"
                      data-transform_out="x:50px;opacity:0;s:300;s:300;"
                      data-start="1100"
                      data-splitin="none"
                      data-splitout="none"
                      data-responsive_offset="on"
                      style="z-index: 6;">
                      FARES
                  </div>

                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption black3_1   tp-resizeme"
                      id="slide-16-layer-3"
                      data-x="589"
                      data-y="337"
                      data-width="['auto']"
                      data-height="['auto']"
                      data-transform_idle="o:1;"
                      data-transform_in="x:right;s:1500;e:easeInOutBack;"
                      data-transform_out="x:50px;opacity:0;s:300;s:300;"
                      data-start="1400"
                      data-splitin="none"
                      data-splitout="none"
                      data-responsive_offset="on"
                      style="z-index: 7;">
                      flight
                  </div>

                  <!-- LAYER NR. 4 -->
                  <div class="tp-caption black3_1   tp-resizeme"
                      id="slide-16-layer-4"
                      data-x="590"
                      data-y="237"
                      data-width="['auto']"
                      data-height="['auto']"
                      data-transform_idle="o:1;"
                      data-transform_in="x:right;s:1500;e:easeInOutBack;"
                      data-transform_out="x:50px;opacity:0;s:300;s:300;"
                      data-start="1700"
                      data-splitin="none"
                      data-splitout="none"
                      data-responsive_offset="on"
                      style="z-index: 8;">
                      ever
                  </div>

                  <!-- LAYER NR. 5 -->
                  <div class="tp-caption black3_1   tp-resizeme"
                      id="slide-16-layer-5"
                      data-x="592"
                      data-y="138"
                      data-width="['auto']"
                      data-height="['auto']"
                      data-transform_idle="o:1;"
                      data-transform_in="x:right;s:1500;e:easeInOutBack;"
                      data-transform_out="x:50px;opacity:0;s:300;s:300;"
                      data-start="2000"
                      data-splitin="none"
                      data-splitout="none"
                      data-responsive_offset="on"
                      style="z-index: 9;">
                      BEST
                  </div>

                  <!-- LAYER NR. 6 -->
                  <div class="tp-caption   tp-resizeme"
                      id="slide-16-layer-6"
                      data-x="39"
                      data-y="88"
                      data-width="['none','none','none','none']"
                      data-height="['none','none','none','none']"
                      data-transform_idle="o:1;"
                      data-transform_in="x:left;s:1500;e:Power3.easeInOut;"
                      data-transform_out="x:-50px;opacity:0;s:300;s:300;"
                      data-start="2300"
                      data-responsive_offset="on"
                      style="z-index: 10;">
                      <img src="assets/images/Promotion/girls3.png" alt="" data-ww="auto" data-hh="auto" data-no-retina>
                  </div>

                  <!-- LAYER NR. 7 -->
                  <div class="tp-caption   tp-resizeme"
                      id="slide-16-layer-7"
                      data-x="944"
                      data-y="144"
                      data-width="['none','none','none','none']"
                      data-height="['none','none','none','none']"
                      data-transform_idle="o:1;"
                      data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeInOut;"
                      data-transform_out="y:50px;opacity:0;s:300;s:300;"
                      data-start="2600"
                      data-responsive_offset="on"
                      style="z-index: 11;">
                      <img src="assets/images/Promotion/rectangle.png" alt="" data-ww="auto" data-hh="auto" data-no-retina>
                  </div>

                  <!-- LAYER NR. 8 -->
                  <div class="tp-caption black3_11   tp-resizeme"
                      id="slide-16-layer-8"
                      data-x="985"
                      data-y="185"
                      data-width="['auto']"
                      data-height="['auto']"
                      data-transform_idle="o:1;"
                      data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeInOut;"
                      data-transform_out="y:50px;opacity:0;s:300;s:300;"
                      data-start="2900"
                      data-splitin="none"
                      data-splitout="none"
                      data-responsive_offset="on"
                      style="z-index: 12;">
                      <a href="#">Read
                          <br>
                          More</a>
                  </div>
              </li>
              <!-- SLIDE  -->
              <li data-index="rs-17" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-thumb="http://slider.travelo.com/wp-content/" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                  <!-- MAIN IMAGE -->
                  <img src="../../../slider.travelo.com/wp-content/plugins/revslider/admin/assets/images/transparent.html" style='background-color: #541262' alt="" title="Slider1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                  <!-- LAYERS -->

                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption   tp-resizeme"
                      id="slide-17-layer-1"
                      data-x="center" data-hoffset=""
                      data-y="center" data-voffset=""
                      data-width="['none','none','none','none']"
                      data-height="['none','none','none','none']"
                      data-transform_idle="o:1;"
                      data-transform_in="opacity:0;s:300;e:Power3.easeInOut;"
                      data-transform_out="opacity:0;s:300;s:300;"
                      data-start="500"
                      data-responsive_offset="on"
                      style="z-index: 5;">
                      <img src="assets/images/Promotion/bg_22.png" alt="" data-ww="auto" data-hh="auto" data-no-retina>
                  </div>

                  <!-- LAYER NR. 2 -->
                  <div class="tp-caption black3_1   tp-resizeme"
                      id="slide-17-layer-2"
                      data-x="482"
                      data-y="327"
                      data-width="['auto']"
                      data-height="['auto']"
                      data-transform_idle="o:1;"
                      data-transform_in="x:right;s:1500;e:easeInOutBack;"
                      data-transform_out="x:right;s:300;s:300;"
                      data-start="800"
                      data-splitin="none"
                      data-splitout="none"
                      data-responsive_offset="on"
                      style="z-index: 6;">
                      deals
                  </div>

                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption   tp-resizeme"
                      id="slide-17-layer-3"
                      data-x="80"
                      data-y="134"
                      data-width="['none','none','none','none']"
                      data-height="['none','none','none','none']"
                      data-transform_idle="o:1;"
                      data-transform_in="y:top;s:1500;e:Power3.easeInOut;"
                      data-transform_out="y:50px;opacity:0;s:300;s:300;"
                      data-start="1100"
                      data-responsive_offset="on"
                      style="z-index: 7;">
                      <img src="assets/images/Promotion/girl_lap.png" alt="" data-ww="auto" data-hh="auto" data-no-retina>
                  </div>

                  <!-- LAYER NR. 4 -->
                  <div class="tp-caption   tp-resizeme"
                      id="slide-17-layer-4"
                      data-x="271"
                      data-y="425"
                      data-width="['none','none','none','none']"
                      data-height="['none','none','none','none']"
                      data-transform_idle="o:1;"
                      data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                      data-transform_out="opacity:0;s:300;s:300;"
                      data-start="1400"
                      data-responsive_offset="on"
                      style="z-index: 8;">
                      <img src="assets/images/Promotion/logo22.png" alt="" data-ww="auto" data-hh="auto" data-no-retina>
                  </div>

                  <!-- LAYER NR. 5 -->
                  <div class="tp-caption black3_1   tp-resizeme"
                      id="slide-17-layer-5"
                      data-x="483"
                      data-y="227"
                      data-width="['auto']"
                      data-height="['auto']"
                      data-transform_idle="o:1;"
                      data-transform_in="x:right;s:1500;e:easeInOutBack;"
                      data-transform_out="x:-50px;opacity:0;s:300;s:300;"
                      data-start="1700"
                      data-splitin="none"
                      data-splitout="none"
                      data-responsive_offset="on"
                      style="z-index: 9;">
                      holiday
                  </div>

                  <!-- LAYER NR. 6 -->
                  <div class="tp-caption black3_1   tp-resizeme"
                      id="slide-17-layer-6"
                      data-x="483"
                      data-y="125"
                      data-width="['auto']"
                      data-height="['auto']"
                      data-transform_idle="o:1;"
                      data-transform_in="x:right;s:1500;e:easeInOutBack;"
                      data-transform_out="x:50px;opacity:0;s:300;s:300;"
                      data-start="2000"
                      data-splitin="none"
                      data-splitout="none"
                      data-responsive_offset="on"
                      style="z-index: 10;">
                      great
                  </div>

                  <!-- LAYER NR. 7 -->
                  <div class="tp-caption   tp-resizeme"
                      id="slide-17-layer-7"
                      data-x="950"
                      data-y="341"
                      data-width="['none','none','none','none']"
                      data-height="['none','none','none','none']"
                      data-transform_idle="o:1;"
                      data-transform_in="x:50px;opacity:0;s:1500;e:Power3.easeInOut;"
                      data-transform_out="x:50px;opacity:0;s:300;s:300;"
                      data-start="2300"
                      data-responsive_offset="on"
                      style="z-index: 11;">
                      <img src="assets/images/Promotion/rectangle.png" alt="" data-ww="auto" data-hh="auto" data-no-retina>
                  </div>

                  <!-- LAYER NR. 8 -->
                  <div class="tp-caption black3_11   tp-resizeme"
                      id="slide-17-layer-8"
                      data-x="991"
                      data-y="382"
                      data-width="['auto']"
                      data-height="['auto']"
                      data-transform_idle="o:1;"
                      data-transform_in="x:right;s:1500;e:Power3.easeInOut;"
                      data-transform_out="x:50px;opacity:0;s:300;s:300;"
                      data-start="2600"
                      data-splitin="none"
                      data-splitout="none"
                      data-responsive_offset="on"
                      style="z-index: 12;">
                      <a href="#">Read
                          <br>
                          More</a>
                  </div>
              </li>
              <!-- SLIDE  -->
              <li data-index="rs-18" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-thumb="http://slider.travelo.com/wp-content/" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                  <!-- MAIN IMAGE -->
                  <img src="../../../slider.travelo.com/wp-content/plugins/revslider/admin/assets/images/transparent.html" style='background-color: #bd0000' alt="" title="Slider1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                  <!-- LAYERS -->

                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption   tp-resizeme"
                      id="slide-18-layer-1"
                      data-x="center" data-hoffset=""
                      data-y="center" data-voffset=""
                      data-width="['none','none','none','none']"
                      data-height="['none','none','none','none']"
                      data-transform_idle="o:1;"
                      data-transform_in="opacity:0;s:300;e:Power3.easeInOut;"
                      data-transform_out="opacity:0;s:300;s:300;"
                      data-start="500"
                      data-responsive_offset="on"
                      style="z-index: 5;">
                      <img src="assets/images/Promotion/slider_1_bg.png" alt="" data-ww="auto" data-hh="auto" data-no-retina>
                  </div>

                  <!-- LAYER NR. 2 -->
                  <div class="tp-caption   tp-resizeme"
                      id="slide-18-layer-2"
                      data-x="676"
                      data-y="39"
                      data-width="['none','none','none','none']"
                      data-height="['none','none','none','none']"
                      data-transform_idle="o:1;"
                      data-transform_in="x:right;s:1500;e:Power3.easeInOut;"
                      data-transform_out="x:-50px;opacity:0;s:300;s:300;"
                      data-start="800"
                      data-responsive_offset="on"
                      style="z-index: 6;">
                      <img src="assets/images/Promotion/man_1.png" alt="" data-ww="auto" data-hh="auto" data-no-retina>
                  </div>

                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption black3_1   tp-resizeme"
                      id="slide-18-layer-3"
                      data-x="71"
                      data-y="354"
                      data-width="['auto']"
                      data-height="['auto']"
                      data-transform_idle="o:1;"
                      data-transform_in="x:left;s:1500;e:easeInOutBack;"
                      data-transform_out="x:-50px;opacity:0;s:300;s:300;"
                      data-start="1100"
                      data-splitin="none"
                      data-splitout="none"
                      data-responsive_offset="on"
                      style="z-index: 7;">
                      deals
                  </div>

                  <!-- LAYER NR. 4 -->
                  <div class="tp-caption black3_1   tp-resizeme"
                      id="slide-18-layer-4"
                      data-x="70"
                      data-y="252"
                      data-width="['auto']"
                      data-height="['auto']"
                      data-transform_idle="o:1;"
                      data-transform_in="x:left;s:1500;e:easeInOutBack;"
                      data-transform_out="x:-50px;opacity:0;s:300;s:300;"
                      data-start="1400"
                      data-splitin="none"
                      data-splitout="none"
                      data-responsive_offset="on"
                      style="z-index: 8;">
                      business
                  </div>

                  <!-- LAYER NR. 5 -->
                  <div class="tp-caption black3_1   tp-resizeme"
                      id="slide-18-layer-5"
                      data-x="69"
                      data-y="158"
                      data-width="['auto']"
                      data-height="['auto']"
                      data-transform_idle="o:1;"
                      data-transform_in="x:right;s:1500;e:easeInOutBack;"
                      data-transform_out="x:-50px;opacity:0;s:300;s:300;"
                      data-start="1700"
                      data-splitin="none"
                      data-splitout="none"
                      data-responsive_offset="on"
                      style="z-index: 9;">
                      exciting
                  </div>

                  <!-- LAYER NR. 6 -->
                  <div class="tp-caption   tp-resizeme"
                      id="slide-18-layer-6"
                      data-x="528"
                      data-y="376"
                      data-width="['none','none','none','none']"
                      data-height="['none','none','none','none']"
                      data-transform_idle="o:1;"
                      data-transform_in="y:bottom;s:1500;e:Power3.easeInOut;"
                      data-transform_out="y:50px;opacity:0;s:300;s:300;"
                      data-start="2000"
                      data-responsive_offset="on"
                      style="z-index: 10;">
                      <img src="assets/images/Promotion/rectangle.png" alt="" data-ww="auto" data-hh="auto" data-no-retina>
                  </div>

                  <!-- LAYER NR. 7 -->
                  <div class="tp-caption black3_11   tp-resizeme"
                      id="slide-18-layer-7"
                      data-x="571"
                      data-y="419"
                      data-width="['auto']"
                      data-height="['auto']"
                      data-transform_idle="o:1;"
                      data-transform_in="y:bottom;s:1500;e:Power3.easeInOut;"
                      data-transform_out="y:50px;opacity:0;s:300;s:300;"
                      data-start="2300"
                      data-splitin="none"
                      data-splitout="none"
                      data-responsive_offset="on"
                      style="z-index: 11;">
                      <a href="#">Read
                          <br>
                          More</a>
                  </div>
              </li>
          </ul>
      </div>
  </div>
</div>