<article class="modify_search white-bg">
  <div class="row">
    <div class="col-md-9">
      <mat-radio-group aria-label="Select an option" [(ngModel)]="JourneyType"
        (ngModelChange)="onJourneyType(JourneyType)">
        <mat-radio-button style="font-weight: normal;" class="journey sr-text-color" *ngFor="let journey of Journey"
          [value]="journey.id">
          {{journey.name}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="col-md-3">
      <mat-checkbox class="sr-text-color" style="font-weight: normal;" [(ngModel)]="Direct"
        (ngModelChange)="onDirect($event)">
        Non Stop Flights
      </mat-checkbox>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-9">
      <div class="row" *ngFor="let destination of Destinations; let first=first; let i=index">
        <div class="col-md-4 modify">
          <label>From</label>
          <input type="text" class="input-text full-width" placeholder="enter your location" [matAutocomplete]="Origin"
            (keyup)="getAirports($event, i, 'origin')" [(ngModel)]="destination.Origin" placeholder="From...">
          <mat-autocomplete #Origin="matAutocomplete">
            <mat-option *ngFor="let airport of destination.OriginAirports" [value]="airport.value"
              (onSelectionChange)="onAirportselect(airport.id, i, 'origin')">
              <span class="airport-code"> <i class="soap-icon-plane"></i>
                {{airport.value}}</span><br>
              <small class="airport">{{airport.AirportName}}</small>
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class="col-md-4 modify">
          <label>To</label>
          <input type="text" class="input-text full-width" placeholder="enter a destination"
            [matAutocomplete]="Destination" (keyup)="getAirports($event, i, 'destination')"
            [(ngModel)]="destination.Destination" placeholder="Where...">
          <mat-autocomplete #Destination="matAutocomplete">
            <mat-option *ngFor="let airport of destination.DestinationAirports" [value]="airport.value"
              (onSelectionChange)="onAirportselect(airport.id, i, 'destination')">
              <span class="airport-code"> <i class="soap-icon-plane"></i>
                {{airport.value}}</span><br>
              <small class="airport">{{airport.AirportName}}</small>
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class="col-md-4 modify">
          <label>Date</label>
          <input type="text" class="input-text full-width" placeholder="select date" name="daterangeInput"
            daterangepicker [options]="destination.option" (selected)="choosedDate($event, i)" />
        </div>
        <div class="col-md-12">
          <br>
          <button class="soap-icon-plus" style="float: right;" *ngIf="!first && Destinations.length===2"
            (click)="onAddcity()">
            &nbsp;&nbsp; Add City
          </button>
          <button class="soap-icon-minus" style="float: right;" *ngIf="!first && i===2"
            (click)="onRemovecity()">&nbsp;&nbsp;Remove</button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-9 modify">
          <label>Traveller</label>
          <input type="text" class="input-text full-width" (click)="onShow()" [value]="Guests"
            class="input-text full-width">
          <div (mouseover)="onMouseover(true)" (mouseout)="onMouseover(false)"
            [ngClass]="show===true ? 'travellers-dropdown active' : 'travellers-dropdown'">
            <div class="row align-items-center">
              <div class="col-sm-6">
                <p class="mb-sm-0 traveller-heading">Adults
                  <small class="text-muted">(12+ yrs)</small>
                </p>
              </div>
              <div class="col-sm-6">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number" data-type="minus"
                      (click)="onTraveller('ad', 'minus')">
                      <span class="glyphicon glyphicon-minus"></span>
                    </button>
                  </span>
                  <input type="text" readonly="readonly" class="form-control input-number"
                    [(ngModel)]="Search.AdultCount">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number" data-type="plus"
                      (click)="onTraveller('ad', 'plus')">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                  </span>
                </div>
              </div>
            </div>
            <hr class="my-2">
            <div class="row align-items-center">
              <div class="col-sm-6">
                <p class="mb-sm-0 traveller-heading">Children <small class="text-muted">(2-12
                    yrs)</small></p>
              </div>
              <div class="col-sm-6">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number" data-type="minus"
                      (click)="onTraveller('ch', 'minus')">
                      <span class="glyphicon glyphicon-minus"></span>
                    </button>
                  </span>
                  <input type="text" readonly="readonly" class="form-control input-number"
                    [(ngModel)]="Search.ChildCount">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number" data-type="plus"
                      (click)="onTraveller('ch', 'plus')">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                  </span>
                </div>
              </div>
            </div>
            <hr class="my-2">
            <div class="row align-items-center">
              <div class="col-sm-6">
                <p class="mb-sm-0 traveller-heading">Infants <small class="text-muted">(Below 2
                    yrs)</small></p>
              </div>
              <div class="col-sm-6">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number" data-type="minus"
                      (click)="onTraveller('in', 'minus')">
                      <span class="glyphicon glyphicon-minus"></span>
                    </button>
                  </span>
                  <input type="text" readonly="readonly" class="form-control input-number"
                    [(ngModel)]="Search.InfantCount">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number" data-type="plus"
                      (click)="onTraveller('in', 'plus')">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                  </span>
                </div>
              </div>
            </div>
            <hr>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="Class"
              (ngModelChange)="onclass(Class)">
              <mat-radio-button class="example-radio-button" *ngFor="let seat of Seats" [value]="seat.name">
                <span class="flight-class"> {{seat.name}} </span>
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="col-md-3 modify">
          <br>
          <button type="button" class="button btn-medium red btn_modify" (click)="onSearch()">
            <i class="soap-icon-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</article>