<app-ideal-slider></app-ideal-slider>
<section id="content">
    <div class="section container">
        <!-- <h2>Most Popular Tour Packages</h2>
        <div class="image-carousel style2" data-animation="slide" data-item-width="370" data-item-margin="30">
          
      <div class="flex-viewport" style="overflow: hidden; position: relative;">
            <ul class="slides image-box style10" id="Static">
          </ul>
          </div>
            </div>
      <div class="row block">
          <div class="col-sm-12">
              <h2>What Travelers Say?</h2>
              <div class="testimonial style1 box" id="google-reviews">
              </div>
          </div>
      </div> -->
        <br />
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="icon-box style3 counters-box">
                    <div class="numbers">
                        <i class="soap-icon-places select-color"></i>
                        <span class="display-counter" data-value="3200">0</span>
                    </div>
                    <div class="description">Amazing Places To Visit</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="icon-box style3 counters-box">
                    <div class="numbers">
                        <i class="soap-icon-hotel skin-color"></i>
                        <span class="display-counter" data-value="5738">0</span>
                    </div>
                    <div class="description">5 Star Hotels To Stay</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="icon-box style3 counters-box">
                    <div class="numbers">
                        <i class="soap-icon-plane yellow-color"></i>
                        <span class="display-counter" data-value="4509">0</span>
                    </div>
                    <div class="description">Airlines To Travel the World</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="icon-box style3 counters-box">
                    <div class="numbers">
                        <i class="soap-icon-car yellow-color"></i>
                        <span class="display-counter" data-value="3250">0</span>
                    </div>
                    <div class="description">VIP Transport Options</div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="global-map-area section parallax" id="div_show"
        style="padding-top: 80px; padding-bottom: 70px  ,!important;" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="description text-center">
                <h1>Popular Destinations</h1>
                <p>
                    <br />
                </p>
            </div>
            <div class="image-carousel style3 flex-slider" data-item-width="400" data-item-margin="60">
                <ul class="slides image-box style9">
                    <li>
                        <article class="box">
                            <figure class="animated fadeInDown" data-animation-type="fadeInDown"
                                data-animation-delay="1.2"
                                style="animation-duration: 1s; animation-delay: 1.2s; visibility: visible;">
                                <a class="hover-effect popup-gallery" href="#" title="">
                                    <img style="width: 400px;height: 220px;"
                                        src="assets/images/sliders/homeslides/ABU DHABI.jpg" alt=""></a>
                            </figure>
                            <div class="details">

                                <h4 class="box-title">ABU DHABI - UAE<small></small></h4>
                                <div class="feedback">
                                    <div title="" class="five-stars-container" data-toggle="tooltip"
                                        data-placement="bottom" data-original-title="4 stars"><span class="five-stars"
                                            style="width: 80%;"></span></div>
                                    <span class="review">75 reviews</span>
                                </div>
                                <!-- <p class="description">ThisAbu Dhabi, the capital of the United Arab Emirates, sits off
                                    the mainland on an island in the Persian (Arabian) Gulf. Beneath white-marble domes,
                                    the vast Sheikh Zayed Grand Mosque features an immense Persian carpet, crystal
                                    chandeliers and capacity for 41,000 worshipers.</p> -->

                                <p class="description align">
                                    Abu Dhabi, the capital and the second largest city in the United Arab Emirates has
                                    now emerged as one of the country's finest tourist destinations because of its
                                    excellent infrastructure, growing economy and interesting attractions. Also it's a
                                    lot easier to get a visit visa to Abu Dhabi.
                                </p>
                                <p class="description align">
                                    A city once known for its exhaustive coverage of conventions and exhibitions has
                                    gained importance for entertainment and shopping as well. Various areas and islands
                                    in Abu Dhabi are developed to promote tourism that includes the Corniche, the Yas
                                    Island and the Saadiyat Island, which allow visitors to explore the stunning Arabian
                                    Gulf views and wildlife reserves.
                                </p>

                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="box">
                            <figure class="animated fadeInDown" data-animation-type="fadeInDown"
                                data-animation-delay="0.6"
                                style="animation-duration: 1s; animation-delay: 0.6s; visibility: visible;">
                                <a class="hover-effect popup-gallery" href="#" title="">
                                    <img style="width: 400px;height: 220px;"
                                        src="assets/images/sliders/homeslides/BAKU.jpg" alt=""></a>
                            </figure>
                            <div class="details">
                                <h4 class="box-title">BAKU AZERBAIJAN<small></small></h4>
                                <div class="feedback">
                                    <div title="" class="five-stars-container" data-toggle="tooltip"
                                        data-placement="bottom" data-original-title="4 stars"><span class="five-stars"
                                            style="width: 80%;"></span></div>
                                    <span class="review">170 reviews</span>
                                </div>
                                <!-- <p class="description">Europa-Park is the largest theme park in Germany, and the second
                                    most popular theme park resort in Europe, following Disneyland Paris. In the heart
                                    of Europe, between the Black Forest and the Vosges, lies one of the world's most
                                    beautiful theme parks - Europa-Park.</p> -->
                                <p class="description align">
                                    Baku is the capital city of Azerbaijan. It is also the largest city of the country.
                                    Nestled on the Caucasus region and the Caspian Sea, the city lies about 28 meters
                                    below the sea level as a result of which, it is also the lowest lying National
                                    Capital in the world.
                                </p>
                                <p class="description align">
                                    Situated on the southern shore of the Absheron Peninsula alongside the Bay of Baku,
                                    nearly one forth of the inhabitants of the country reside in the metropolitan region
                                    of the city.
                                </p>
                                <p class="description align">
                                    The city is cultural, scientific and industrial center of Azerbaijan. A number of
                                    sizeable Azerbaijan institutions also have their headquarters located there.
                                </p>

                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="box">
                            <figure class="animated fadeInDown" data-animation-type="fadeInDown"
                                data-animation-delay="0" style="animation-duration: 1s; visibility: visible;">
                                <a class="hover-effect popup-gallery"
                                    href="assets/images/sliders/homeslides/ISTANBUL.jpg" title="">
                                    <img style="width: 400px;height: 220px;"
                                        src="assets/images/sliders/homeslides/ISTANBUL.jpg" alt=""></a>
                            </figure>
                            <div class="details">
                                <h4 class="box-title">ISTANBUL - TURKEY<small></small></h4>
                                <div class="feedback">
                                    <div title="" class="five-stars-container" data-toggle="tooltip"
                                        data-placement="bottom" data-original-title="4 stars"><span class="five-stars"
                                            style="width: 80%;"></span></div>
                                    <span class="review">270 reviews</span>
                                </div>
                                <!-- <p class="description">Istanbul is the largest and most populous city in Turkey. Spread
                                    across Bosporus Channel, Istanbul is one of the world’s greatest cities known for
                                    its magnificent historical monuments and scenic beauty. With an amazing cultural and
                                    architectural heritage, Istanbul is a major tourist attraction.</p> -->
                                <p class="description align">
                                    Turkey is a modern country with a captivating blend of antiquity and contemporary
                                    and East and West. Get interesting information about Turkey and read up on our
                                    history, culture and art, nature and geography, traditional culinary culture, real
                                    Turkish lifestyle and more.
                                </p>
                                <p class="description align">
                                    Welcome to Istanbul, the city of the past, the present and the future. Istanbul not
                                    only joins continents, it also joins cultures and people. Close your eyes and
                                    imagine yourself in a city; the mysticism of the East and the modernity of the West,
                                    the constant time travel between past and the future, the balance of the traditional
                                    and the contemporary.


                                </p>
                            </div>
                        </article>
                    </li>

                    <li>
                        <article class="box">
                            <figure class="animated fadeInDown" data-animation-type="fadeInDown"
                                data-animation-delay="0.6"
                                style="animation-duration: 1s; animation-delay: 0.6s; visibility: visible;">
                                <a class="hover-effect popup-gallery" href="#" title="">
                                    <img style="width: 400px;height: 220px;"
                                        src="assets/images/sliders/homeslides/COORG.jpg" alt=""></a>
                            </figure>
                            <div class="details">
                                <h4 class="box-title">COORG - KARNATAKA<small></small></h4>
                                <div class="feedback">
                                    <div title="" class="five-stars-container" data-toggle="tooltip"
                                        data-placement="bottom" data-original-title="4 stars"><span class="five-stars"
                                            style="width: 80%;"></span></div>
                                    <span class="review">170 reviews</span>
                                </div>
                                <!-- <p class="description">Europa-Park is the largest theme park in Germany, and the second
                                    most popular theme park resort in Europe, following Disneyland Paris. In the heart
                                    of Europe, between the Black Forest and the Vosges, lies one of the world's most
                                    beautiful theme parks - Europa-Park.</p> -->
                                <p class="description align">
                                    Coorg, located in the Western Ghats of the Sahyadri Mountains in South Western
                                    Karnataka presents ample of holidaying options catering to all kinds of tourists.
                                    From waterfalls to dense forests to rivers to adventurous trekking routes to caves
                                    to temples to forts to museums, Coorg Tourism has wide range of options to keep its
                                    tourists entertained throughout their stay.
                                </p>
                                <p class="description align">
                                    The exceptionally rich flora and fauna can be seen from the fact that Coorg has
                                    three wildlife sanctuaries namely Brahmagiri Wildlife Sanctuary, Talakaveri Wildlife
                                    Sanctuary and Pushpagiri Wildlife Sanctuary and one national park namely Nagarahole
                                    or Rajiv Gandhi National Park.
                                </p>

                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="box">
                            <figure class="animated fadeInDown" data-animation-type="fadeInDown"
                                data-animation-delay="0.6"
                                style="animation-duration: 1s; animation-delay: 0.6s; visibility: visible;">
                                <a class="hover-effect popup-gallery" href="#" title="">
                                    <img style="width: 400px;height: 220px;"
                                        src="assets/images/sliders/homeslides/JAISALMER.jpg" alt=""></a>
                            </figure>
                            <div class="details">
                                <h4 class="box-title">JAISALMER - WHERE THE FORTS ARE STILL ALIVE!<small></small></h4>
                                <div class="feedback">
                                    <div title="" class="five-stars-container" data-toggle="tooltip"
                                        data-placement="bottom" data-original-title="4 stars"><span class="five-stars"
                                            style="width: 80%;"></span></div>
                                    <span class="review">170 reviews</span>
                                </div>
                                <!-- <p class="description">Europa-Park is the largest theme park in Germany, and the second
                                    most popular theme park resort in Europe, following Disneyland Paris. In the heart
                                    of Europe, between the Black Forest and the Vosges, lies one of the world's most
                                    beautiful theme parks - Europa-Park.</p> -->
                                <p class="description align">
                                    If geology interests you, then Jaisalmer is where you need to journey. The Wood
                                    Fossil Park or Aakal is located about 15 kilometres away from the city. Here, one
                                    can discover and trace geologic tragedies that occurred in the Thar Desert 180
                                    million years ago. The city of Jaisalmer also acts as the guard to western Rajasthan
                                    (and India’s) frontier.
                                </p>
                                <p class="description align">
                                    This 'Golden City’ is located close to the Pakistan border
                                    and in close proximity to the Thar Desert. The city’s most prominent landmark is the
                                    Jaisalmer Fort, also called Sonar Qila (Golden Fort). Unlike most other forts in
                                    India, Jaisalmer Fort is not just a tourist attraction. 
                                </p>

                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="box">
                            <figure class="animated fadeInDown" data-animation-type="fadeInDown"
                                data-animation-delay="0.6"
                                style="animation-duration: 1s; animation-delay: 0.6s; visibility: visible;">
                                <a class="hover-effect popup-gallery" href="#" title="">
                                    <img style="width: 400px;height: 220px;"
                                        src="assets/images/sliders/homeslides/SPITI.jpg" alt=""></a>
                            </figure>
                            <div class="details">
                                <h4 class="box-title">SPITI VALLEY - HIMACHAL PRADESH
                                    <small></small></h4>
                                <div class="feedback">
                                    <div title="" class="five-stars-container" data-toggle="tooltip"
                                        data-placement="bottom" data-original-title="4 stars"><span class="five-stars"
                                            style="width: 80%;"></span></div>
                                    <span class="review">170 reviews</span>
                                </div>
                                <p class="description align">The spellbinding Spiti Valley, located in Himachal Pradesh
                                    in
                                    India, is often proclaimed by those who see it to be world within a world. With an
                                    average height of around 12,500 feet above sea level, it consists of stark
                                    high-altitude alpine land. This is scattered with small villages and monasteries,
                                    and enclosed by soaring peaks crowned with snow.</p>
                                <p class="description align">
                                    Spiti is bordered by Ladakh in the north, Tibet to the east, Kinnaur to the south
                                    east, and the Kullu Valley to the south. It shares the same religion as Tibet --
                                    Tibetan Buddhism.

                                    The Spiti Valley Trek is a haven for adventure seekers and trekkers as it offers
                                    treks through some of the most unseen, dream-like landscapes.

                                </p>
                            </div>
                        </article>
                    </li>


                </ul>
            </div>
        </div>
    </div>
    <br />
    <div class="section parallax" id="div_Patners" style="padding-top: 80px; padding-bottom: 70px  ,!important;"
        data-stellar-background-ratio="0.5">
        <div class="image-carousel style3 flex-slider" data-item-width="400" data-item-margin="60">
            <div class="container">
                <ul class="slides image-box style9" style="padding-left: 20px">
                    <li>
                        <article class="box">
                            <figure class="animated fadeInDown" data-animation-type="fadeInDown"
                                data-animation-delay="0" style="animation-duration: 1s; visibility: visible;">
                                <a class="hover-effect popup-gallery" href="#" title="">
                                    <img style="width: 270px; height: 161px" src="assets/images/TAAI LOGO.png"
                                        alt=""></a>
                            </figure>
                        </article>
                    </li>

                    <li>
                        <article class="box">
                            <figure class="animated fadeInDown" data-animation-type="fadeInDown"
                                data-animation-delay="0" style="animation-duration: 1s; visibility: visible;">
                                <a class="hover-effect popup-gallery" href="#" title="">
                                    <img style="width: 270px; height: 161px" src="assets/images/IATA LOGO.jpg"
                                        alt=""></a>
                            </figure>
                        </article>
                    </li>


                    <li>
                        <article class="box">
                            <figure class="animated fadeInDown" data-animation-type="fadeInDown"
                                data-animation-delay="0" style="animation-duration: 1s; visibility: visible;">
                                <a class="hover-effect popup-gallery" href="#" title="">
                                    <img style="width: 270px; height: 161px" src="assets/images/UNIGLOBELOGO.jpeg"
                                        alt=""></a>
                            </figure>
                        </article>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <div class="global-map-area promo-box no-margin parallax" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="content-section description pull-right col-sm-9">
                <div class="table-wrapper hidden-table-sm">
                    <div class="table-cell">
                        <h2 class="m-title animated" data-animation-type="fadeInDown" data-animation-duration="1.5">Tell
                            us where you would like to go.<br />
                            <em>1,500+ Packages Available!</em>
                        </h2>
                    </div>
                    <div class="table-cell action-section col-md-4 no-float">
                        <form>
                            <div class="row">
                                <div class="col-xs-6 col-md-12">
                                    <input type="text" id="PackageCity" class="input-text input-large full-width"
                                        value="" placeholder="Enter destination" />
                                </div>
                                <div class="col-xs-6 col-md-12">
                                    <button type="button" class="full-width btn-large" onclick="Search()">search
                                        Packages</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="image-container col-sm-4">
                <img src="assets/images/shortcodes/promo-image1.png" alt="" width="342" height="258" class="animated"
                    data-animation-type="fadeInUp" />
            </div>
        </div>
    </div>
</section>