<footer id="footer">
  <div class="footer-wrapper">
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3">
                  <h2>ABOUT US</h2>
                  <p class="p-white">
                      Ideal Tours and Travels had a modest start as a ticketing company in 2008 and gradually spread its wings to develop a huge client base of corporates and others dealing with everything related to tra...
                      <a href="/AboutUs.aspx" class="full-width button btn-medium red">READ MORE</a>
                  </p>
              </div>
              <div class="col-sm-6 col-md-3">
                  <h2>POPULAR TOURS</h2>
                  <ul class="discover triangle hover row a-white">
                      <li class="col-xs-12"><a style="cursor: pointer;" (click)="setDeatination('AUSTRALIAN WONDER')">Australian Wonder</a></li>
                      <li class="col-xs-12"><a style="cursor: pointer;" (click)="setDeatination('LUXURY SOUTH AFRICA')">Luxury South Africa</a></li>
                      <li class="col-xs-12"><a style="cursor: pointer;" (click)="setDeatination('Exotic Switzerland Tour')">Exotic Switzerland Tour</a></li>
                      <li class="col-xs-12"><a style="cursor: pointer;" (click)="setDeatination('Majestic New Zealand')">Majestic New Zealand</a></li>
                      <li class="col-xs-12"><a style="cursor: pointer;" (click)="setDeatination('The UK Experience')">The UK Experience</a></li>
                      <li class="col-xs-12"><a style="cursor: pointer;" (click)="setDeatination('Scenic Turkey Tour')">Scenic Turkey Tour</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3">
                  <h2>OUR SERVICES</h2>
                  <ul class="discover triangle hover row a-white">
                      <li class="col-xs-12"><a href="#">Domestic Flights</a></li>
                      <li class="col-xs-12"><a href="#">International Flights</a></li>
                      <li class="col-xs-12"><a href="#">Tours &amp; Holidays</a></li>
                      <li class="col-xs-12"><a href="#">Domestic Hotels</a></li>
                      <li class="col-xs-12"><a href="#">International Hotels</a></li>
                      <li class="col-xs-12"><a href="#">Cruise Holidays</a></li>
                      <li class="col-xs-12"><a href="#">Car Rental</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3">
                  <h2>CONTACT US</h2>
                  <p class="p-white">
                      <i class="soap-icon-address circle"></i>&nbsp;Golden Palace, WHC Road,Near Sudama Theatre, Dharampeth,Nagpur, Maharashtra 440010
                  </p>
                  <p class="p-white"><i class="soap-icon-phone circle"></i><a href="#">&nbsp;+91 7030361288</a></p>
                  <p class="p-white"><i class="soap-icon-message circle"></i><a href="mailto:vacations@uniglobeidealtours.in">&nbsp;vacations@uniglobeidealtours.in</a></p>
              </div>
          </div>
      </div>
  </div>
</footer>
<div class="bottom gray-area">
  <div class="container">
      <div class="copyright pull-left">
          <p class="p-white">® All Rights Reserved © Copyright 2019 IDEAL TOUR & TRAVELS.</p>
      </div>
      <div class="pull-right">
          <a id="back-to-top" href="#" class="animated bounce" data-animation-type="bounce" style="animation-duration: 1s; visibility: visible;"><i class="soap-icon-longarrow-up circle"></i></a>
      </div>
      <div class="copyright pull-right">
          <p class="p-white">Concept by Ideal Tours, Developed <a href="https://trivo.in/" class="p-white a" target="_blank">Trivo IT Solutions.</a></p>
      </div>
  </div>
</div>