<section id="content" class="image-bg1">
    <div class="container">
        <div class="row">
            <div id="main" class="col-sm-12 col-md-12">
                <div class="search-box-wrapper style1">
                    <div class="search-box">
                        <ul class="search-tabs clearfix" style="width: 15%;">
                            <li><a href="#hotels-tab" data-toggle="tab"><i class="soap-icon-hotel"></i>HOTELS</a></li>
                            <li class="active"><a href="#flights-tab" data-toggle="tab"><i
                                        class="soap-icon-plane-right takeoff-effect"></i>FLIGHTS</a></li>
                            <!-- <li><a href="#flight-and-hotel-tab" data-toggle="tab"><i class="soap-icon-flight-hotel"></i>FLIGHT &amp; HOTELS</a></li> -->
                            <!-- <li><a href="#cars-tab" data-toggle="tab"><i class="soap-icon-car"></i>CARS</a></li> -->
                            <!-- <li><a href="#cruises-tab" data-toggle="tab"><i class="soap-icon-cruise"></i>CRUISES</a></li> -->
                            <!-- <li><a href="#flight-status-tab" data-toggle="tab"><i class="soap-icon-status"></i>FLIGHT STATUS</a></li> -->
                            <li><a href="#online-checkin-tab" data-toggle="tab"><i
                                        class="soap-icon-beach"></i>Holidays</a></li>
                        </ul>
                        <div class="visible-mobile" style="width: 85%;">
                            <ul id="mobile-search-tabs" class="search-tabs clearfix">
                                <li><a href="#hotels-tab">HOTELS</a></li>
                                <li class="active"><a href="#flights-tab">FLIGHTS</a></li>
                                <li><a href="#flight-and-hotel-tab">FLIGHT &amp; HOTELS</a></li>
                                <li><a href="#cars-tab">CARS</a></li>
                                <li><a href="#cruises-tab">CRUISES</a></li>
                                <li><a href="#flight-status-tab">FLIGHT STATUS</a></li>
                                <li><a href="#online-checkin-tab">ONLINE CHECK IN</a></li>
                            </ul>
                        </div>

                        <div class="search-tab-content">
                            <div class="tab-pane fade" id="hotels-tab">
                                <app-search-hotel [Code]="" [Traveller]="Traveller" [objTraveller]="objTraveller">
                                </app-search-hotel>
                            </div>
                            <div class="tab-pane fade active in" id="flights-tab">
                                <app-search-flight></app-search-flight>
                            </div>
                            <div class="tab-pane fade" id="online-checkin-tab">
                                <app-search-package></app-search-package>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>