<section id="content">
  <div class="container">
    <div id="main">
      <div class="row">
        <div class="col-lg-8 add_bottom_15">
          <div class="flight-list listing-style3 flight">
            <div class="all-searchbox">
              <div class="all-box-multiwaydata">
                <div class="col-lg-12">
                  <div class="row row-box-multiwaydata">
                    <div class="col-md-12 col-sm-12 col-xs-12 product-multi-way inherit-tabs">
                      <a class="flight-panelmultiway take-off">
                        <div class="icon"><i class="soap-icon-plane-right" style="font-size: 30px;"></i></div>&nbsp;
                        Flight Details
                      </a>
                    </div>
                  </div>
                </div>

                <div [ngClass]="first ? 'all-searchbox _details mb-0' : 'all-searchbox _details'"
                  *ngFor="let flight of FlightDetail; let f=index; let first=first">
                  <div class="all-box-multiwaydata">
                    <div *ngFor="let Segments of flight.Segments; let i=index; let last=last">
                      <!-- round trip International -->
                      <div class="col-lg-12"
                        *ngIf="arrFlightDetails.JourneyType==='2' && flight.Segments.length>1 && (!arrFlightDetails.IsDomestic || arrFlightDetails.IsDomestic)">
                        <div class="row mb10" style="padding: 0px 0px 3px 10px;" *ngIf="i===0">
                          <div class="col-lg-8" style="font-size: 14px;">
                            <span class="depart-air"></span>
                            <span>Depart&nbsp;&nbsp;
                              {{Segments[0].Origin.Airport.CityName}} -
                              {{Segments[Segments.length-1].Destination.Airport.CityName}}
                              &nbsp;&nbsp;
                              <b>{{Segments[0].Origin.DepTime}}</b>
                            </span>
                          </div>
                          <div class="col-lg-4" style="text-align: right;font-size: 14px;">
                            <span *ngIf="flight.IsRefundable" style="color: green;">Refundable</span>
                            <span *ngIf="!flight.IsRefundable" style="color: red;">Non-Refundable</span>
                          </div>
                        </div>
                        <div class="row mb10" style="padding: 0px 0px 3px 10px;" *ngIf="i===1">
                          <div class="col-lg-8" style="font-size: 14px;">
                            <span class="return-air"></span>
                            <span>Return&nbsp;&nbsp;{{Segments[0].Origin.Airport.CityName}} -
                              {{Segments[Segments.length-1].Destination.Airport.CityName}}
                              &nbsp;&nbsp;
                              <b>{{Segments[0].Origin.DepTime}}</b></span>
                          </div>
                        </div>
                      </div>

                      <!-- round trip Domastic -->
                      <div class="col-lg-12"
                        *ngIf="arrFlightDetails.JourneyType==='2' && flight.Segments.length ===1 && arrFlightDetails.IsDomestic">
                        <div class="row mb10" style="padding: 0px 0px 3px 10px;" *ngIf="f===0">
                          <div class="col-lg-8" style="font-size: 14px;">
                            <span class="depart-air"></span>
                            <span>Depart&nbsp;&nbsp;
                              {{Segments[0].Origin.Airport.CityName}} -
                              {{Segments[Segments.length-1].Destination.Airport.CityName}}
                              &nbsp;&nbsp;
                              <b>{{Segments[0].Origin.DepTime}}</b>
                            </span>
                          </div>
                          <div class="col-lg-4" style="text-align: right;font-size: 14px;">
                            <span *ngIf="flight.IsRefundable" style="color: green;">Refundable</span>
                            <span *ngIf="!flight.IsRefundable" style="color: red;">Non-Refundable</span>
                          </div>
                        </div>
                        <div class="row mb10" style="padding: 0px 0px 3px 10px;" *ngIf="f===1">
                          <div class="col-lg-8" style="font-size: 14px;">
                            <span class="return-air"></span>
                            <span>Return&nbsp;&nbsp;
                              {{Segments[0].Origin.Airport.CityName}} -
                              {{Segments[Segments.length-1].Destination.Airport.CityName}}
                              &nbsp;&nbsp;
                              <b>{{Segments[0].Origin.DepTime}}</b>
                            </span>
                          </div>
                          <div class="col-lg-4" style="text-align: right;font-size: 14px;">
                            <span *ngIf="flight.IsRefundable" style="color: green;">Refundable</span>
                            <span *ngIf="!flight.IsRefundable" style="color: red;">Non-Refundable</span>
                          </div>
                        </div>
                      </div>

                      <!-- multi city and one way -->
                      <div class="col-lg-12"
                        *ngIf="arrFlightDetails.JourneyType==='3' || arrFlightDetails.JourneyType==='1'">
                        <div class="row mb10" style="padding: 0px 0px 3px 10px;">
                          <div class="col-lg-8" style="font-size: 14px;">
                            <span class="depart-air"></span>
                            <span>Depart&nbsp;&nbsp;
                              {{Segments[0].Origin.Airport.CityName}} -
                              {{Segments[Segments.length-1].Destination.Airport.CityName}}
                              &nbsp;&nbsp;
                              <b>{{Segments[0].Origin.DepTime}}</b>
                            </span>
                          </div>
                          <div class="col-lg-4" style="text-align: right;font-size: 14px;">
                            <span *ngIf="flight.IsRefundable" style="color: green;">Refundable</span>
                            <span *ngIf="!flight.IsRefundable" style="color: red;">Non-Refundable</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-12">
                        <div class="row rowfs">
                          <div class="col-md-12 col-lg-12 col-xs-12 multiway-leftblock"
                            *ngFor="let segment of Segments; let last=last">
                            <div class="row mb10">
                              <div class="col-md-2 col-lg-2 col-xs-4 tour-multi-waydays">
                                <div class="row">
                                  <div class="col-md-12 col-lg-12 col-xs-12">
                                    <img class=""
                                      src="../../../../assets/img/AirlineLogo/{{segment.Airline.AirlineCode}}.gif" />&nbsp;
                                    <br>
                                    <span> {{segment.Airline.AirlineName}} </span><br>
                                    <span>({{segment.Airline.AirlineCode}} - {{segment.Airline.FlightNumber}})</span>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-3 col-lg-3 col-xs-3 product-multi-way">
                                <span>{{segment.Origin.Airport.CityName}}</span><br>
                                <span>
                                  {{segment.Origin.DepTime}}
                                </span><br>
                                <span *ngIf="segment.Origin.Airport.Terminal">
                                  Terminal - {{segment.Origin.Airport.Terminal}}
                                  <br>
                                </span>
                                <span> {{segment.Origin.Airport.AirportName}} </span>
                              </div>
                              <div class="col-md-4 col-lg-4 col-xs-4 product-multi-way" style="text-align: center;">
                                <span>
                                  {{segment.Duration}}
                                </span><br><img class="oneway-imgarrow" src="assets/img/main-img1.png">
                              </div>
                              <div class="col-md-3 col-lg-3 col-xs-2 product-multi-way">
                                <span>{{segment.Destination.Airport.CityName}}</span><br>
                                <span>
                                  {{segment.Destination.ArrTime}}
                                </span><br>
                                <span *ngIf="segment.Destination.Airport.Terminal">Terminal -
                                  {{segment.Destination.Airport.Terminal}}<br></span>
                                <span> {{segment.Destination.Airport.AirportName}}</span>
                              </div>
                            </div>
                            <div class="col-md-12" *ngIf="!last" style="margin-top: 5px; margin-bottom: 5px;">
                              <div class="post_info clearfix text-center">
                                <span><i class="icon_set_1_icon-52"></i>&nbsp;&nbsp; LAYOVER {{segment.layeOver}}
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <hr class="border-multiway" *ngIf="!last">
                    </div>
                    <div class="col-lg-12">
                      <ul class="nav nav-tabs multi-wayfdetails-tabs" id="fare-baggage" role="tablist">
                        <li role="presentation"><a class="" href="#far_rules{{f}}" role="tab" data-toggle="tab">Fare
                            Rules</a></li>
                        <li role="presentation"><a class="" href="#baggage{{f}}" role="tab"
                            data-toggle="tab">Baggage</a>
                        </li>
                      </ul>
                      <div class="tab-content Fdetails-content">
                        <div role="tabpanel" class="tab-pane" id="far_rules{{f}}">
                          <div [innerHTML]="flight.FareDetails"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="baggage{{f}}">
                          <div class="row mar-to-12">
                            <div> </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 fon13">
                              AIRLINE
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 pad-0 fon13">
                              Check-in Baggage
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 fon13">
                              Cabin-Baggage
                            </div>
                          </div>
                          <hr class="border-multitabs">
                          <div *ngFor="let segment of flight.Segments; let last=last">
                            <div class="row mar-to-12 no-margn" *ngFor="let segment of segment">
                              <div class="col-md-4 col-sm-4 col-xs-4 tour-roundtripwaydays">
                                <img class="" style="width: 35px;"
                                  src="../../../../assets/img/AirlineLogo/{{segment.Airline.AirlineCode}}.gif" />&nbsp;
                                <span>{{segment.Airline.AirlineName}}
                                </span>
                                <br>
                                <span>(
                                  {{segment.Airline.AirlineCode}} -
                                  {{segment.Airline.FlightNumber}}{{segment.Airline.FareClass}} )
                                </span>
                              </div>
                              <div class="col-md-4 col-lg-4 col-xs-4 product-roundtripway fr-timing">
                                <span>
                                  {{segment.Baggage}}
                                </span>
                              </div>
                              <div class="col-md-4 col-lg-4 col-xs-4 product-roundtripway stop-roundtrip">
                                <span>
                                  {{segment.CabinBaggage}}
                                </span>
                              </div>
                            </div>
                            <hr *ngIf="!last" class="border-multiway">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div>

            <form [formGroup]="bookingform" *ngIf="isloaded && !finalbooking">
              <!-- Passenger Details -->
              <div class="card card-border" formArrayName="customer">
                <div class="card-body">
                  <h4>Travellers Details</h4>
                  <hr>
                  <div class="card" [formGroupName]="p" *ngFor="let passenger of Passengers; let p=index">
                    <div class="card-header">
                      Passenger {{p+1}} ({{passenger.PaxType}})
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-2">
                          <div class="form-group">
                            <label>Title</label>
                            <mat-select class="input-text full-width" formControlName="title"
                              [ngClass]="{ 'is-invalid': submitted && getcustomerFormGroup(p).controls['title'].errors }">
                              <mat-option value="Mr" *ngIf="passenger.PaxType==='AD'">Mr </mat-option>
                              <mat-option value="Mrs" *ngIf="passenger.PaxType==='AD'">Mrs </mat-option>
                              <mat-option value="MASTER" *ngIf="passenger.PaxType!=='AD'">Master </mat-option>
                            </mat-select>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="input-text full-width" formControlName="name"
                              [ngClass]="{ 'is-invalid': submitted && getcustomerFormGroup(p).controls['name'].errors }">
                          </div>
                        </div>
                        <div class="col-sm-3" [ngClass]="passenger.DOB.IsRequired ? 'col-sm-3' : 'col-sm-4' ">
                          <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="input-text full-width" formControlName="lastName"
                              [ngClass]="{ 'is-invalid': submitted && getcustomerFormGroup(p).controls['lastName'].errors }">
                          </div>
                        </div>
                        <div class="col-sm-3" *ngIf="passenger.DOB.IsRequired">
                          <div class="form-group">
                            <label>DOB</label>
                            <input type="text" class="input-text full-width" formControlName="dob" name="daterangeInput"
                              daterangepicker [options]="Doboption"
                              [ngClass]="{ 'is-invalid': submitted && getcustomerFormGroup(p).controls['dob'].errors }">
                          </div>
                        </div>
                      </div>
                      <div class="row" *ngIf="passenger.Passport.IsRequired">
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>Passport No</label>
                            <input type="text" class="input-text full-width" formControlName="passportno"
                              [ngClass]="{ 'is-invalid': submitted && getcustomerFormGroup(p).controls['passportno'].errors }">
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>Expiry date</label>
                            <input type="text" class="input-text full-width" formControlName="expirydate"
                              name="daterangeInput" daterangepicker [options]="Expiryoption"
                              [ngClass]="{ 'is-invalid': submitted && getcustomerFormGroup(p).controls['expirydate'].errors }">
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>Nationality</label>
                            <select class="input-text full-width nationality">
                              <option [value]="country" *ngFor="let country of Country">
                                {{country.Countryname}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row" *ngIf="passenger.PaxType!=='In'">
                        <div class="col-md-12">
                          <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse{{p}}">
                            Show more Options ( Meal, Baggage, Special service)
                          </a>
                          <div id="collapse{{p}}" class="collapse">

                            <div class="row" *ngIf="Baggages.length>0">
                              <div class="col-md-12 mealTripHead">
                                <br>
                                <p style="font-weight: 500;
                            width: 160px;
                            display: inline-block;
                            z-index: 3;
                            padding: 0 10px 0 0px;
                            position: relative;"> Select Extra Baggage </p>
                              </div>
                              <div class="col-md-4" *ngFor="let Baggage of Baggages; let bg=index">
                                <div class="form-group">
                                  <label>{{Baggage.from}} - {{Baggage.to}} </label>
                                  <mat-select class="input-text full-width" [value]="Baggage.baggage[0]">
                                    <mat-option [value]="baggage" *ngFor="let baggage of Baggage.baggage"
                                      (click)="onBaggage(baggage, p, bg)">
                                      {{baggage.Weight}} kg at {{baggage.Currency}} {{baggage.Price}}
                                    </mat-option>
                                  </mat-select>
                                </div>
                              </div>
                            </div>

                            <div class="row" *ngIf="MealDynamic.length>0">
                              <div class="col-md-12 mealTripHead">
                                <br>
                                <p style="font-weight: 500;
                            width: 160px;
                            display: inline-block;
                            z-index: 3;
                            padding: 0 10px 0 0px;
                            position: relative;"> Select Extra Meal </p>
                              </div>
                              <div class="col-md-4" *ngFor="let MealDynamic of MealDynamic; let md=index">
                                <div class="form-group">
                                  <label>{{MealDynamic.from}} - {{MealDynamic.to}} </label>
                                  <mat-select class="input-text full-width" [value]=MealDynamic.mealdynamic[0]>
                                    <mat-option [value]="mealdynamic"
                                      *ngFor="let mealdynamic of MealDynamic.mealdynamic"
                                      (click)="onMealDynamic(mealdynamic, p, md)">
                                      {{mealdynamic.AirlineDescription}}
                                      ({{mealdynamic.Currency}} {{mealdynamic.Price}})
                                    </mat-option>
                                  </mat-select>
                                </div>
                              </div>
                            </div>

                            <div class="row" *ngIf="Meal.length>0">
                              <div class="col-md-12 mealTripHead">
                                <br>
                                <p style="font-weight: 500;
                            width: 160px;
                            display: inline-block;
                            z-index: 3;
                            padding: 0 10px 0 0px;
                            position: relative;"> Select Meal </p>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label>Meal</label>
                                  <mat-select class="input-text full-width" [(value)]="passenger.Meal">
                                    <mat-option [value]="meal" *ngFor="let meal of Meal" (click)="onMeal(meal, p)">
                                      {{meal.Description}} ( {{meal.Code}} )
                                    </mat-option>
                                  </mat-select>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <!-- GST Details -->
              <div *ngIf="Passengers[0]?.IsLeading">
                <div class="card card-border" *ngIf="Passengers[0]?.LeadingPax.Gstmandatory">
                  <div class="card-body">
                    <h4>GST Details</h4>
                    <hr>
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label>GST Number</label>
                          <input type="text" class="input-text full-width">
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label>GST Company Name</label>
                          <input type="text" class="input-text full-width">
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label>GST Company Contact NO</label>
                          <input type="text" class="input-text full-width">
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-8">
                        <div class="form-group">
                          <label>GST Company Address</label>
                          <input type="text" class="input-text full-width">
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label>Gst Company Email</label>
                          <input type="text" class="input-text full-width">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <!-- Address card -->
              <div class="card card-border">
                <div class="card-body">
                  <h4>Contact Details</h4>
                  <hr>
                  <div class="row">
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label>Mobile</label>
                        <input type="text" class="input-text full-width" formControlName="mobile"
                          [ngClass]="{ 'is-invalid': submitted && bookingform.controls['mobile'].errors }">
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="input-text full-width" formControlName="email"
                          [ngClass]="{ 'is-invalid': submitted && bookingform.controls['email'].errors }">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="input-text full-width" formControlName="address"
                          [ngClass]="{ 'is-invalid': submitted && bookingform.controls['address'].errors }">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>City</label>
                        <input type="text" class="input-text full-width" formControlName="city"
                          [ngClass]="{ 'is-invalid': submitted && bookingform.controls['city'].errors }">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Country</label>
                        <mat-select class="input-text full-width" formControlName="country"
                          [ngClass]="{ 'is-invalid': submitted && bookingform.controls['country'].errors }">
                          <mat-option [value]="country" *ngFor="let country of Country" style="width: auto;">
                            {{country.Countryname}}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="!finalbooking">
                    <div class="col-md-7">
                    </div>
                    <div class="col-md-5" style="float: right;" *ngIf="!isB2B">
                      <div class="row">
                        <div class="col-md-12">
                          <a href="javascript:;" style="float: right;" class="button btn-medium red"
                            (click)="onSubmit(true)">
                            Book now
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5" style="float: right;" *ngIf="isB2B">
                      <div class="row">
                        <div class="col-md-6">
                          <a href="javascript:;" style="float: right;" class="button btn-medium red"
                            (click)="onSubmit(true)">
                            Pay Online
                          </a>
                        </div>
                        <div class="col-md-6">
                          <a href="javascript:;" style="float: right;" class="button btn-medium red"
                            (click)="onSubmit(false)">
                            Use Wallet
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="card card-border" id="final_booking" style="display: none;">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <a href="javascript:;" (click)="onEdit()" style="float: right;">
                    <i class="icon_set_1_icon-17"></i> edit
                  </a>
                </div>
              </div>
              <div class="row" *ngFor="let pax of BookingRequest.objFlightBooking.Passengers">
                <div class="col-md-12">
                  <span>
                    {{pax.Title}}. {{pax.FirstName}} {{pax.LastName}}
                  </span>
                </div>
              </div>
              <br>
              <div class="row" *ngIf="!bCardPayment">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                  <a href="javascript:;" style="float: right;" class="button btn-medium red" (click)="Book()">
                    Book now
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4" *ngFor="let gateway of PayGateways">
                  <div *ngIf="gateway.GateWaysName === 'PayPal'">
                    <div id="paypal-button-container"></div>
                  </div>
                  <div *ngIf="gateway.GateWaysName !== 'PayPal'">
                    <button type="button" (click)="onlinePay(gateway.GateWaysName)" class="button btn-medium red">
                      {{gateway.GateWaysName}}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <aside class="col-lg-4" id="sidebar">
          <div class="box_style_1 theiaStickySidebar">
            <h3 class="inner">- Summary -</h3>
            <div *ngFor="let breackdown of Breackdowns; let b=index; let first=first; let last=last">
              <p class="p-fare" *ngIf="arrFlightDetails.JourneyType==='2' && arrFlightDetails.IsDomestic && first">
                Onward
              </p>
              <p *ngIf="arrFlightDetails.JourneyType==='2' && arrFlightDetails.IsDomestic && last">
                Return
              </p>
              <mat-accordion>
                <mat-expansion-panel [expanded]="true" *ngFor="let breackdown of breackdown.Breackdown; let i=index">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <!-- Passenger -->
                      {{breackdown.PassengerCount}} ({{breackdown.PassengerType}})
                    </mat-panel-title>
                    <mat-panel-description>
                      Sub Total : {{breackdown.Currency}} {{breackdown.SubTotal}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p class="p-fare"> Fare
                    <span style="float: right;">
                      {{breackdown.Currency}} {{breackdown.Fare}}
                    </span>
                  </p>
                  <p class="p-fare"> Fees
                    <span style="float: right;">
                      {{breackdown.Currency}} {{breackdown.Fees}}
                    </span>
                  </p>
                  <p class="p-fare" *ngIf="breackdown?.Baggage"> Baggage
                    <span style="float: right;">
                      {{breackdown.Currency}} {{breackdown?.Baggage}}
                    </span>
                  </p>
                  <p class="p-fare" *ngIf="breackdown?.Meal"> Meal
                    <span style="float: right;">
                      {{breackdown.Currency}} {{breackdown?.Meal}}
                    </span>
                  </p>
                  <p class="p-fare"> Taxes
                    <span style="float: right;">
                      {{breackdown.Currency}} {{breackdown.Taxes}}
                    </span>
                  </p>
                </mat-expansion-panel>
              </mat-accordion>
              <br>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <P>
                  <span class="total">Grand Total</span>
                  <span class="product-roundtripwayprice" style="float: right;"> INR {{GrandTotal}}</span>
                </P>
              </div>
            </div>
            <!-- <a class="btn_full_outline" href="Javascript:;" *ngIf="!finalbooking" (click)="onSubmit()">Proceed</a> -->
          </div>
        </aside>

      </div>

    </div>
  </div>
  <ngx-ui-loader></ngx-ui-loader>
</section>