.all-searchbox {
  margin-bottom: 20px;
}

.all-box-multiwaydata {
  height: auto;
  width: 100%;
  display: table;
  text-align: left;
  background: #fff;
  padding-top: 10px;
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  border-bottom: 1px solid #d2d2d2;
}

.all-box-multiwaydata .rowfs {
  padding: 0px 0px 3px 10px;
}

.row-box-multiwaydata {
  background-color: #d9d9d9;
  padding: 8px 10px;
  text-align: right;
  top: -10px;
  position: relative;
}

.tour-multi-waydays {
  font-size: 14px;
}

.tour-multi-waydays em {
  font-style: normal;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.product-desti {
  font-weight: 700;
}

.product-multi-wayprice {
  font-weight: 700;
  color: #339933;
  font-size: 16px;
}

.productmultiway-bookbtn {
  text-align: right;
}

.productmultiway-bookbtn .btn {
  padding: 7px 15px 7px 15px;
  background: #f58634;
  color: #fff;
  border-color: #f58634;
}

.productmultiway-bookbtn .btn:hover {
  color: #ffffff;
  background-color: #ff9900;
}

.product-btn {
  padding: 2px 18px 2px 15px !important;
}

.product-multi-way {
  text-align: left;
  font-size: 14px;
}

.product-multi-way p {
  padding: 0px 0 0px 10px;
  margin: 0 0 0 0;
}

.tour-multi-waydays img {
  width: 35px;
}

.single-multi-waytime {
  font-size: 16px;
  font-weight: 900;
}

.flight-panelmultiway {
  cursor: pointer;
  text-decoration: none !important;
}

.multi-wayfdetails-tabs > li {
  background: none;
  border-right: none;
}

.multi-wayfdetails-tabs > li > a {
  color: #f58634;
}

.multi-wayfdetails-tabs > li > a:hover {
  box-shadow: none !important;
  background: none !important;
}

.multi-wayfdetails-tabs > li.active > a,
.multi-wayfdetails-tabs > li.active > a:hover,
.multi-wayfdetails-tabs > li.active > a:focus {
  background-color: #fff !important;
}

@media (min-width: 992px) {
  .multi-wayfdetails-tabs > li > a {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .multi-wayfdetails-tabs > li > a {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 0px;
  }

  .multi-wayfdetails-tabs > li.active > a,
  .multi-wayfdetails-tabs > li.active > a:hover,
  .multi-wayfdetails-tabs > li.active > a:focus {
    color: #f58634 !important;
  }
}

.border-multiway {
  border-top: 1px dashed #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.border-multitabs {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .multiway-leftblock {
    width: 100%;
  }

  .productmultiway-bookbtn {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .tour-multi-waydays {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .inherit-tabs {
    width: 100% !important;
  }

  .product-multi-way {
    text-align: center;
    width: 33.3333%;
  }

  .oneway-imgarrow {
    width: 100%;
  }
}

.mb20 {
  margin-bottom: 20px;
}

.lin2 {
  width: 100%;
  height: 1px;
  border-bottom: 1px dotted #b0aeae;
  float: left;
  position: absolute;
  right: 0;
  top: 34px;
}

.fli-i {
  width: 32px;
  height: 32px;
  background: url(/assets/img/flighticon.png);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: -12px;
  background-position: -265px -3px;
}

.fd-h {
  float: left;
  content: " ";
  background: url(/assets/img/flighticon.png);
  width: 35px;
  height: 35px;
  background-position: -260px -4px;
  margin-top: 8px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1250px;
  }
}

.box_style_1 {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ddd;
  margin-bottom: 25px;
  padding: 7px !important;
  position: relative;
  color: #666;
}

.box_style_1 h3.inner {
  margin: 0px 0px 20px !important;
  text-align: center;
}

.p-fare {
  margin: 0 0 10px !important;
}

.total {
  color: #e04f67;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

.card-body {
  padding: 20px;
}

::ng-deep .mat-expansion-panel-header {
  font-size: 13px;
}

.mealTripHead:after {
  content: "";
  width: 60%;
  border-bottom: 1px solid #bcc8d1;
  position: absolute;
  top: 50%;
  z-index: 1;
}

a.accordion-toggle::before {
  font-family: "soap-icons";
  content: "\e870";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}

a.accordion-toggle.collapsed::before {
  content: "\e87d" !important;
}

.mat-select-value-text {
  color: #555 !important;
}

::ng-deep .mat-select-value {
  color: #555 !important;
}

.no-padding-d {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

._details {
  padding: 15px;
}

.Fdetails-content {
  padding-bottom: 60px;
  margin-top: 10px !important;
  height: auto;
  padding: 5px !important;
  background-color: #fff;
  border: none !important;
  border-top: none !important;
  margin-bottom: 5px !important;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

#fare-baggage .active {
  border-bottom: 2px solid !important;
}

#fare-baggage a {
  padding: 5px !important;
}

#fare-baggage li {
  margin-right: 15px !important;
}

.nav-tabs {
  border-bottom: none !important;
}

.depart-air {
  float: left;
  content: " ";
  background: url(/assets/img/flighticon.png);
  width: 34px;
  height: 20px;
  background-position: -172px -250px;
}

.return-air {
  float: left;
  content: " ";
  background: url(/assets/img/flighticon.png);
  width: 34px;
  height: 20px;
  background-position: -172px -250px;
  transform: scaleX(-1);
}

.product-multi-way {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

:host ::ng-deep .mat-select-trigger {
  padding: 5px;
  margin-top: 0px !important;
}
.card {
  background-color: #fff;
}
.card-border {
  border: 1px solid #e4e4e4 !important;
  border-radius: 4px !important;
}
.nav .nav-tabs .active {
  border: none !important;
}
mat-select {
  height: 40px !important;
  line-height: 20px !important;
  background: #f5f5f5 !important;
  padding: 0.375rem 0.75rem !important;
  border-radius: 0.25rem !important;
}
.nationality {
  height: 40px !important;
  line-height: 20px !important;
  background: #f5f5f5 !important;
  padding: 0.375rem 0.75rem !important;
  border-radius: 0.25rem !important;
}
.product-roundtripwayprice {
  font-weight: 700;
  color: #339933;
  font-size: 16px;
}
.is-invalid {
  padding-right: calc(1.5em + 0.75rem);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  border: 1px solid #dc3545 !important;
}
