<section id="content" class="image-bg1" style="padding-top: 100px;">
  <div class="container">
    <div class="row">
      <div id="main" class="col-sm-12 col-md-12">
        <div class="search-box-wrapper style1">
          <div class="search-box">
            <div class="search-tab-content">
              <div class="tab-pane active in">
                <app-search-flight></app-search-flight>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>