<section id="content">
    <div class="container tour-detail-page">
        <div class="row">
            <div id="main" class="col-md-8 col-sm-8 col-xs-8">
                <app-slider [Images]="Images"></app-slider>
                <br />
                <div id="tour-details" class="travelo-box">
                    <div class="panel-body left_sec">
                        <div class="row">
                            <h3> Description </h3>
                            <div class="day_duration" style="text-align:justify">
                                <p [innerHtml]="Packages.Description"></p>
                            </div>
                            <br />
                            <br />
                            <div class="day_duration">
                                <div class="row">
                                    <div class="col-sm-6" *ngIf="Packages.arrInclusions.length>0">
                                        <h3> Inclusions </h3>
                                        <ul class="features check" *ngIf="Packages.arrInclusions.length >1">
                                            <li *ngFor="let Inclusion of Packages.arrInclusions"
                                                [innerHtml]="Inclusion">
                                            </li>
                                        </ul>
                                        <div *ngIf="Packages.arrInclusions.length==1"
                                            [innerHtml]="Packages.arrInclusions[0]"></div>
                                    </div>
                                    <div class="col-sm-6" *ngIf="Packages.arrExclusions.length>0">
                                        <h3> Exclusion </h3>
                                        <ul class="features check" *ngIf="Packages.arrExclusions.length >1">
                                            <li *ngFor="let Exclusion of Packages.arrExclusions"
                                                [innerHtml]="Exclusion">
                                            </li>
                                        </ul>
                                        <div *ngIf="Packages.arrExclusions.length==1"
                                            [innerHtml]="Packages.arrExclusions[0]"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="panel-headin">
                                        <ul class="nav nav-tabs nav-justified">
                                            <div class="panel-body mng_panel left_sec">
                                                <div class="tab-content">
                                                    <div class="boxi">
                                                        <ul class="nav nav-tabs nav-justified">
                                                            <li class="nav-item active"><a class="nav-link" href="#Itinerary_" data-toggle="tab">Itinerary</a></li>
                                                        </ul>
                                                        <div class="tab-content">
                                                            <section class="Material-contact-section section-padding section-dark">
                                                                <div class="">
                                                                    <h3>Day Wise Itinerary</h3>
                                                                    <ul class="timeline">
                                                                        <li class="timeline-inverted" *ngFor="let Itinerary of Packages.Itinerary; let i=index;">
                                                                            <div class="timeline-badge"><i class="soap-icon-departure"></i></div>
                                                                            <div class="timeline-panel">
                                                                                <div class="timeline-heading">
                                                                                    <h4 class="timeline-title">Day {{Itinerary.noDay}} </h4>
                                                                                </div>
                                                                                <div class="timeline-body" >
                                                                                  <div [innerHtml]="Itinerary.Description">
                                                                                  </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </section> 
                                                        </div>
                                                    </div>
                                                    <div class="panel-headin">
                                                        <ul class="nav nav-tabs nav-justified">
                                                            <li class="PkgType ' + Class + ' nav-item">
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </ul>
                                    </div> -->
                            <hr>
                            <h3>Itinerary</h3>
                            <div class="panel-body mng_panel left_sec">
                                <div class="boxi">
                                    <section class="Material-contact-section section-padding section-dark">
                                        <div class="">
                                            <ul class="timeline">
                                                <li class="timeline-inverted"
                                                    *ngFor="let Itinerary of Packages.Itinerary; let i=index;">
                                                    <div class="timeline-badge"><i class="soap-icon-departure"></i>
                                                    </div>
                                                    <div class="timeline-panel">
                                                        <div class="timeline-heading">
                                                            <h4 class="timeline-title">Day {{Itinerary.noDay}} </h4>
                                                        </div>
                                                        <div class="timeline-body">
                                                            <div [innerHtml]="Itinerary.Description">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <br>
                            <hr>
                            <h3 *ngIf="Packages.Category!=null">Price Details</h3>
                            <div class=" shortcode" style="background-color: #f5f5f5;">
                                <div class="row block">
                                    <div class="col-sm-6 col-md-6" style="background-color: #f5f5f5;"
                                        *ngFor="let Category of Packages.Category">
                                        <div class="pricing-table white box" style="margin-top: 16px;">
                                            <div class="header clearfix">
                                                <i class="soap-icon-user circle red-color"></i>
                                                <h4 class="box-title">{{Category.Categoryname}} <small>for
                                                        individuals</small></h4>
                                                <span class="price"><small>Start From</small>{{Category.sCurrency}}
                                                    <span name="MinPrice" ngDefaultControl
                                                        [ngModel]="getLowestPriceEachCategory(Category)">{{Packages.MinPrice}}</span>
                                                </span>
                                            </div>
                                            <p class="description">

                                            </p>
                                            <ul class="check-square features">
                                                <li *ngIf="Category.Single!=0">
                                                    Single Price : {{Category.sCurrency}} {{Category.Single}}
                                                </li>
                                                <li *ngIf="Category.Double!=0">
                                                    Double Price : {{Category.sCurrency}} {{Category.Double}}
                                                </li>
                                                <li *ngIf="Category.Triple!=0">
                                                    Triple Price : {{Category.sCurrency}} {{Category.Triple}}
                                                </li>
                                                <li *ngIf="Category.Quad!=0">
                                                    Quad Price : {{Category.sCurrency}} {{Category.Quad}}
                                                </li>
                                                <li *ngIf="Category.Quint!=0">
                                                    Quint Price : {{Category.sCurrency}} {{Category.Quint}}
                                                </li>
                                                <li *ngIf="Category.ChildNoBedPrice!=0">
                                                    Child No Bed : {{Category.sCurrency}} {{Category.ChildNoBedPrice}}
                                                </li>
                                                <li *ngIf="Category.ChildWithBedPrice!=0">
                                                    Child With Bed : {{Category.sCurrency}}
                                                    {{Category.ChildWithBedPrice}}
                                                </li>
                                                <li *ngIf="Category.ExtraAdult!=0">
                                                    Extra Bed : {{Category.sCurrency}} {{Category.ExtraAdult}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="day_duration">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Terms & Conditions </h4>
                                        <p [innerHtml]="Packages.TermsCondition">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="sidebar" class="sidebar col-md-4 col-sm-4 col-xs-4">
                <div class="theiaStickySidebar">
                    <div class="booking-details travelo-box"
                        style="box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175); margin-top: 15px;" id="sdb">
                        <div>
                            <article class="tour-detail">
                                <h4> <b>{{Packages.PackageName}}</b>
                                    <!-- <button type="button" class="btn-medium"
                                        style="padding: 0px 18px;border-radius: 15px;cursor: pointer;float: right;"
                                        (click)="onDownload()"><i class="fa fa-download"
                                            id="btn_dwonload"></i>Download</button> -->
                                    <a class="btn-medium"
                                        style="padding: 0px 18px;border-radius: 15px;cursor: pointer;float: right;"
                                        href="https://trivo.org/PackageDetailPdf/{{Packages.Packageid.pdf"><i class="fa fa-download"
                                            id="btn_dwonload"></i>Download</a>
                                </h4>
                                <hr /><br />
                                <h4><b>Themes :</b> {{Packages.Themes}}</h4>
                                <div class=" details">
                                        <div class="icon-box style11 full-width">
                                            <div class="icon-wrapper">
                                                <i class="soap-icon-departure"></i>
                                            </div>
                                            <dl class="details" style="text-transform:none">
                                                <dt class="skin-color">Cities</dt>
                                                <dd>{{Packages.City}}</dd>
                                            </dl>
                                        </div>
                                        <div class="icon-box style11 full-width">
                                            <div class="icon-wrapper">
                                                <i class="soap-icon-clock"></i>
                                            </div>
                                            <dl class="details" style="text-transform:none">
                                                <dt class="skin-color">Duration</dt>
                                                <dd>{{Packages.noDays-1}} Nights /
                                                    {{Packages.noDays}} Days
                                                </dd>
                                            </dl>
                                        </div>
                        </div>
                        </article>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn-medium full-width"
                                style="padding: 0px 15px; border-radius: 15px; cursor: pointer;"
                                (click)="Booking(Packages.Packageid)">Book now</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn-medium full-width"
                                style="padding: 0px 15px; border-radius: 15px; cursor: pointer;"
                                (click)="SendEnquiry(Packages.Packageid)">Send Mail</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <app-package-documents [Packages]="Packages" *ngIf="Packages.Packageid != undefined"></app-package-documents>
    <!-- <iframe id="Package_frame" style="height: 100%; width: 100%;" style="display: none;">
    </iframe> -->
    <ngx-ui-loader></ngx-ui-loader>
</section>