<div class="page-title-container">
  <div class="container">
      <div class="page-title pull-left">
          <h2 class="entry-title">
              {{Name}}           </h2>
      </div>
      <ul class="breadcrumbs pull-right"><li><a href="" title="Home">Home</a></li><li class="active">{{Name}}</li></ul>    </div>
</div>
<section id="content">
    <div class="container">
        <div class="row">
            <div id="main" class="col-md-9">
                <div id="cruise-features" class="tab-container">
                    <ul class="tabs">
                        <li class="active"><a href="#cruise-description" data-toggle="tab">Description</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="cruise-description">
                            <div class="long-description" *ngFor="let packages of Packages;let i=index">
                                <h2 style="text-align: center;"> {{packages.Name}}</h2>
                                <h2 style="text-align: center;"> {{packages.Night}}</h2>
                                <h2 style="text-align: center;">{{packages.Locations}}</h2>
                              
                              <div class="row">
                                  <p class="align" [innerHtml]="packages.Itinerary[0].Discription">
                                  </p>
                                  <p class="align" [innerHtml]="packages.Itinerary[1].Discription">
                                </p> 
                                <p class="align" class="align" [innerHtml]="packages.Itinerary[2].Discription">
                                </p>
                                <p class="align" [innerHtml]="packages.Itinerary[3].Discription">
                                </p> 
                                <p class="align" [innerHtml]="packages.Itinerary[4].Discription">
                                </p> 
                                <p class="align" [innerHtml]="packages.Itinerary[5].Discription">
                                </p>
                                <p class="align" [innerHtml]="packages.Itinerary[6].Discription">
                                </p>
                                <p class="align" [innerHtml]="packages.Itinerary[7].Discription">
                                </p>
                                <p class="align" [innerHtml]="packages.Itinerary[8].Discription">
                                </p>
                                <p class="align" [innerHtml]="packages.Itinerary[9].Discription">
                                </p>
                                <p  class="align" [innerHtml]="packages.Itinerary[10].Discription">
                                </p>
                                <p  class="align" [innerHtml]="packages.Itinerary[11].Discription">
                                </p>
                              </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
            <div class="sidebar col-md-3">
               
                <div class="travelo-box contact-box">
                    <h4>Need Ideal Tours Help?</h4>
                    <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                    <address class="contact-details">
                        <span class="contact-phone"><i class="soap-icon-phone"></i>+91 7030361288</span>
                        <br>
                        <a class="contact-email" href="#" style="font-size: 15px;"> vacations@uniglobeidealtours.in</a>
                    </address>
                </div>
              
                
            </div>
        </div>
    </div>
</section>

