<kendo-pdf-export #pdf forcePageBreak=".page-break" paperSize="A4" margin="0.5cm" [scale]="scale"
  [repeatHeaders]="true">
  <iframe id="Package_frame" style="height: 100%; width: 100%;">
  </iframe>
  <button kendo-button (click)="pdf.saveAs(Packages.PackageName+'.pdf')" class="btn_full" id="btn_pdf"
    style="display: none"></button>
</kendo-pdf-export>