<br /><br /><br /><br />
<section id="content">
  <div class="container">
    <div id="main">
      <!-- <div class="container margin_60">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-Flight-tab" data-toggle="tab" href="#nav-Flight" role="tab"
              aria-controls="nav-Flight" aria-selected="true" (click)="changeTabs('flight')"><i
                class="pe-7s-plane font16"></i> Flight</a>
            <a class="nav-item nav-link" id="nav-Hotel-tab" data-toggle="tab" href="#nav-Hotel" role="tab"
              aria-controls="nav-Hotel" aria-selected="false" (click)="changeTabs('hotel')"><i
                class="icon_set_1_icon-6 font15"></i>
              Hotel</a>
            <a class="nav-item nav-link" id="nav-Tour-tab" data-toggle="tab" href="#nav-Tour" role="tab"
              *ngIf="ServiceUrl.AdminID ==232" aria-controls="nav-Tour" aria-selected="false"
              (click)="changeTabs('tour')"><i class="icon_set_1_icon-3 font16"></i> Sightseeing</a>

            <a class="nav-item nav-link" id="nav-Package-tab" data-toggle="tab" href="#nav-Package" role="tab"
              aria-controls="nav-Package" aria-selected="false" (click)="changeTabs('package')"><i
                class="icon-suitcase font15"></i> Package</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">

          <div class="tab-pane fade show active" id="nav-Flight" role="tabpanel" aria-labelledby="nav-Flight-tab">
            <app-flight-bookings (Services)="getServices($event)" [service]="_activate" [userdata]="userdata">
            </app-flight-bookings>
          </div>
          <div class="tab-pane fade" id="nav-Hotel" role="tabpanel" aria-labelledby="nav-Hotel-tab">
            <app-hotel-bookings (Services)="getServices($event)" [service]="_activate" [userdata]="userdata">
            </app-hotel-bookings>
          </div>
          <div class="tab-pane fade" id="nav-Tour" role="tabpanel" aria-labelledby="nav-Tour-tab">
            <app-tour-bookings (Services)="getServices($event)" [service]="_activate" [userinfo]="_userinfo">
            </app-tour-bookings>
          </div>

          <div class="tab-pane fade" id="nav-Package" role="tabpanel" aria-labelledby="nav-Package-tab">
            <app-package-bookings (Services)="getServices($event)" [service]="_activate" [userinfo]="_userinfo">
            </app-package-bookings>
          </div>
        </div>
      </div> -->

      <div class="tab-container box">
        <ul class="tabs">
          <li class="active">
            <a href="#flight" (click)="changeTabs('flight')" data-toggle="tab">Flight</a>
          </li>
          <li><a href="#hotel" data-toggle="tab" (click)="changeTabs('hotel')">Hotel</a></li>
          <li *ngIf="ServiceUrl.AdminID ==232"><a href="#tour" (click)="changeTabs('tour')"
              data-toggle="tab">Sightseeing</a></li>
          <!-- <li><a href="#holiday" data-toggle="tab">Package</a></li> -->
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="flight">
            <app-flight-bookings (Services)="getServices($event)" [service]="_activate" [userdata]="userdata">
            </app-flight-bookings>
          </div>
          <div class="tab-pane fade" id="hotel">
            <app-hotel-bookings (Services)="getServices($event)" [service]="_activate" [userdata]="userdata">
            </app-hotel-bookings>
          </div>
          <div class="tab-pane fade" id="tour">
            <app-tour-bookings (Services)="getServices($event)" [service]="_activate" [userinfo]="_userinfo">
            </app-tour-bookings>
          </div>
          <!-- <div class="tab-pane fade" id="holiday">
            <app-package-bookings (Services)="getServices($event)" [service]="_activate" [userinfo]="_userinfo"></app-package-bookings>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>