.team-image {
  width: 160px !important;
}
.team-image img {
  height: 160px !important;
}

.image-box.style2 .details {
  padding: 20px 20px 10px 170px !important;
}

.about-author .description {
  padding: 10px !important;
}

.contact li {
  border-bottom: 1px solid #f5f5f5;
  padding: 10px 0 5px 35px;
  position: relative;
}

.contact li > i {
  position: absolute;
  font-size: 14px;
  color: #c91a1a;
  left: 0;
  top: 12px;
}

.box-title small {
  text-transform: initial;
}

.about-author .about-author-container {
  padding: 0 0px !important;
}
.about-author .avatar {
  padding: 20px 20px 20px 20px !important;
}
.about-author .about-author-content {
  border-bottom: 0px !important;
}
