<div class="page-title-container">
    <div class="container">
        <div class="page-title pull-left">
            <h2 class="entry-title" id="lbl_Pname">About Us</h2>
        </div>
        <ul class="breadcrumbs pull-right">
            <li><a href="/home">HOME</a></li>
            <li class="active">About Us</li>
        </ul>
    </div>
</div>
<section id="content">
    <div class="container">
        <div class="image-style style1 large-block">
            <h2 class="title">INTRODUCTION OF IDEAL TOUR AND TRAVELS</h2>
            <p>
                Ideal Tours and Travels had a modest start as a ticketing company in 2008 and gradually spread its wings
                to develop a huge client base of corporates and others dealing with everything related to travel.
                Specialising in domestic and international tour packages.
                <br />
                <br />
                After having firmly established its footing as the fastest growing tours and travel company in city,
                Ideal Tours and Travels turned a new leaf in Sept 2011, by venturing into money exchange. IDEAL MONEY
                EXCHANGE PVT. LTD (RBI approved money exchanger) is now a well known brand amongst its client base and
                the entire travel fraternity.
                <br />
                <br />
                In another leap towards providing complete travel solutions, we bring to you IDEAL JUNGLE SAFARIS, the
                perfect way to explore wildlife. Placed in a city like Nagpur, which has put itself on the map of
                wildlife tourism in a big way, it seemed like the need of the hour to have a separate wildlife tourism
                segment to provide better travel solutions. Owing to its geographical placement, Nagpur has gained a
                status of The TIGER CAPITAL of the country, with Five major Tiger reserves, PENCH, TADOBA, NAGZIRA,
                KANHA and BANDHAVGARH all within 4-5 hours driving distance. Nagpur is drawing wildlife enthusiasts from
                all over the world.
                <br />
                <br />
                We, at Ideal, believe in paying attention to details and carefully monitoring every booking made with us
                to make sure your experience is enjoyable and memorable. Providing you with the best discounted rates,
                tie ups with luxury hotels will ensure that your holiday is hassle free and full of adventure.
            </p>
            <div class="clearfix"></div>
        </div>
        <div class="large-block">
            <h2>OUR TEAM</h2>
            <h4>Meet The Team Behind Ideal Tours & Travels</h4>
            <div class="row image-box style2">
                <div class="col-md-4">
                    <div class="about-author block">
                        <div class="about-author-container">
                            <div class="about-author-content">
                                <div class="avatar">
                                    <img src="assets/images/Staff/Tickets/Shama.jpg" width="96" height="96" alt="">
                                </div>
                                <div class="description">
                                    <h4 class="box-title" style="margin: 0;"><a href="javascript:;">
                                            Ms Shama
                                            <small>Head of Ticketing</small>
                                        </a>
                                    </h4>
                                    <ul class="contact">
                                        <li>
                                            <i class="soap-icon-phone circle"></i>
                                            <a href="javascript:;">
                                                +91 7030367199 <br> 0712- 6649585
                                            </a>
                                        </li>
                                        <li>
                                            <i class="soap-icon-message circle" style="top: 3px;"></i>
                                            <a href="mailto:ticketing@uniglobeidealtours.in">
                                                ticketing@uniglobeidealtours.in
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-author block">
                        <div class="about-author-container">
                            <div class="about-author-content">
                                <div class="avatar">
                                    <img src="assets/images/Staff/Tickets/Saurabh.jpg" width="96" height="96" alt="">
                                </div>
                                <div class="description">
                                    <h4 class="box-title" style="margin: 0;"><a href="javascript:;">
                                            Mr Saurabh
                                            <small>Domestic Ticketing Contact Person</small>
                                        </a>
                                    </h4>
                                    <ul class="contact">
                                        <li>
                                            <i class="soap-icon-phone circle"></i>
                                            <a href="javascript:;">
                                                +91 7030367199 <br> 0712- 6649585
                                            </a>
                                        </li>
                                        <li>
                                            <i class="soap-icon-message circle" style="top: 3px;"></i>
                                            <a href="mailto:ticketing@uniglobeidealtours.in">
                                                ticketing@uniglobeidealtours.in
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-author block">
                        <div class="about-author-container">
                            <div class="about-author-content">
                                <div class="avatar">
                                    <img src="assets/images/Staff/PackagesandVisa/Takshak.jpg" width="96" height="96"
                                        alt="">
                                </div>
                                <div class="description">
                                    <h4 class="box-title" style="margin: 0;"><a href="javascript:;">
                                            Mr Takshak Dharamkumar
                                            <small>Head of Visas/Hotel Booking/Packages</small>
                                        </a>
                                    </h4>
                                    <ul class="contact">
                                        <li>
                                            <i class="soap-icon-phone circle"></i>
                                            <a href="javascript:;">
                                                +91 7030367199 <br> 0712- 6649415
                                            </a>
                                        </li>
                                        <li>
                                            <i class="soap-icon-message circle" style="top: 3px;"></i>
                                            <a href="mailto:takshak@uniglobeidealtours.in">
                                                takshak@uniglobeidealtours.in
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row image-box style2">
                <div class="col-md-4">
                    <div class="about-author block">
                        <div class="about-author-container">
                            <div class="about-author-content">
                                <div class="avatar">
                                    <img src="assets/images/Staff/PackagesandVisa/Philo.jpg" width="96" height="96"
                                        alt="">
                                </div>
                                <div class="description">
                                    <h4 class="box-title" style="margin: 0;"><a href="javascript:;">
                                            Ms Philo
                                            <small>Hotel Booking Person</small>
                                        </a>
                                    </h4>
                                    <ul class="contact">
                                        <li>
                                            <i class="soap-icon-phone circle"></i>
                                            <a href="javascript:;">
                                                +91 7030361288 <br> 0712- 6649415
                                            </a>
                                        </li>
                                        <li>
                                            <i class="soap-icon-message circle" style="top: 3px;"></i>
                                            <a href="mailto:vacations@uniglobeidealtours.in">
                                                vacations@uniglobeidealtours.in
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-author block">
                        <div class="about-author-container">
                            <div class="about-author-content">
                                <div class="avatar">
                                    <img src="assets/images/Staff/PackagesandVisa/Sneha.jpg" width="96" height="96"
                                        alt="">
                                </div>
                                <div class="description">
                                    <h4 class="box-title" style="margin: 0;"><a href="javascript:;">
                                            Ms Sneha
                                            <small>Hotel Booking Person</small>
                                        </a>
                                    </h4>
                                    <ul class="contact">
                                        <li>
                                            <i class="soap-icon-phone circle"></i>
                                            <a href="javascript:;">
                                                +91 7030361288 <br> 0712- 6649415
                                            </a>
                                        </li>
                                        <li>
                                            <i class="soap-icon-message circle" style="top: 3px;"></i>
                                            <a href="mailto:ticketing@uniglobeidealtours.in">
                                                ticketing@uniglobeidealtours.in
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-author block">
                        <div class="about-author-container">
                            <div class="about-author-content">
                                <div class="avatar">
                                    <img src="assets/images/Staff/Forex/Wahid.jpg" width="96" height="96" alt="">
                                </div>
                                <div class="description">
                                    <h4 class="box-title" style="margin: 0;"><a href="javascript:;">
                                            Mr Wahid Ali
                                            <small>Head of Foreign Exchange Money Changer</small>
                                        </a>
                                    </h4>
                                    <ul class="contact">
                                        <li>
                                            <i class="soap-icon-phone circle"></i>
                                            <a href="javascript:;">
                                                +91 9823139573 <br> 0712- 6620108/107
                                            </a>
                                        </li>
                                        <li>
                                            <i class="soap-icon-message circle" style="top: 3px;"></i>
                                            <a href="mailto:idealmoneyexchange@gmail.com">
                                                idealmoneyexchange@gmail.com
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br><br>
            <div class="row image-box style2">
                <div class="col-md-4">
                    <div class="about-author block">
                        <div class="about-author-container">
                            <div class="about-author-content">
                                <div class="avatar">
                                    <img src="assets/images/Staff/Account/Roshan.jpg" width="96" height="96" alt="">
                                </div>
                                <div class="description">
                                    <h4 class="box-title" style="margin: 0;"><a href="javascript:;">
                                            Mr Roshan Borate
                                            <small>Head of Accounts Department</small>
                                        </a>
                                    </h4>
                                    <ul class="contact">
                                        <li>
                                            <i class="soap-icon-phone circle"></i>
                                            <a href="javascript:;">
                                                +91 9922046955 <br> 0712- 6649588
                                            </a>
                                        </li>
                                        <li>
                                            <i class="soap-icon-message circle" style="top: 3px;"></i>
                                            <a href="mailto:accounts@uniglobeidealtours.in">
                                                accounts@uniglobeidealtours.in
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-author block">
                        <div class="about-author-container">
                            <div class="about-author-content">
                                <div class="avatar">
                                    <img src="assets/images/Staff/Account/Priya.jpg" width="96" height="96" alt="">
                                </div>
                                <div class="description">
                                    <h4 class="box-title" style="margin: 0;"><a href="javascript:;">
                                            Ms Priya
                                            <small>Accounts Contact Person</small>
                                        </a>
                                    </h4>
                                    <ul class="contact">
                                        <li>
                                            <i class="soap-icon-phone circle"></i>
                                            <a href="javascript:;">
                                                +91 9922046955 <br> 0712- 6649588
                                            </a>
                                        </li>
                                        <li>
                                            <i class="soap-icon-message circle" style="top: 3px;"></i>
                                            <a href="mailto:accounts@uniglobeidealtours.in">
                                                accounts@uniglobeidealtours.in
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-author block">
                        <div class="about-author-container">
                            <div class="about-author-content">
                                <div class="avatar">
                                    <img src="assets/images/Staff/Account/Parvez.jpg" width="96" height="96" alt="">
                                </div>
                                <div class="description">
                                    <h4 class="box-title" style="margin: 0;"><a href="javascript:;">
                                            MR Parveez
                                            <small>Accounts Contact Person</small>
                                        </a>
                                    </h4>
                                    <ul class="contact">
                                        <li>
                                            <i class="soap-icon-phone circle"></i>
                                            <a href="javascript:;">
                                                +91 9922046955 <br> 0712- 6649588
                                            </a>
                                        </li>
                                        <li>
                                            <i class="soap-icon-message circle" style="top: 3px;"></i>
                                            <a href="mailto:accounts@uniglobeidealtours.in">
                                                accounts@uniglobeidealtours.in
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row image-box style1 team">
          <div class="col-sm-3 col-md-3">
              <article class="box">
                  <figure>
                      <a href="#">
                          <img src="assets/images/Staff/Tickets/Shama.jpg"  alt="" height="265px"></a>
                  </figure>
                  <div class="details">
                      <h4 class="box-title"><a href="#">Ms Shama<small>Head of TICKETING</small></a></h4>
                      <p class="description"><i class="soap-icon-phone circle"></i>+91 7030367199  ,<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0712- 6649585</p>
                      <p class="description"><i class="soap-icon-message circle"></i><a href="mailto:ticketing@uniglobeidealtours.in"></a>ticketing@uniglobeidealtours.in </p>
                  </div>
              </article>
          </div>
        
      
          <div class="col-sm-3 col-md-3">
              <article class="box">
                  <figure>
                      <a href="#">
                          <img src="assets/images/Staff/Tickets/Saurabh.jpg" height="265px" alt=""></a>
                  </figure>
                  <div class="details">
                      <h4 class="box-title"><a href="#">Mr Saurabh<small>DOMESTIC TICKETING CONTACT PERSON</small></a></h4>
                      <p class="description"><i class="soap-icon-phone circle"></i>+91 7030367199  ,<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0712- 6649585</p>
                      <p class="description"><i class="soap-icon-message circle"></i><a href="mailto:ticketing@uniglobeidealtours.in"></a>ticketing@uniglobeidealtours.in </p>
                  </div>
              </article>
          </div> 
            <div class="col-sm-3 col-md-3">
              <article class="box">
                  <figure>
                      <a href="#">
                          <img src="assets/images/Staff/PackagesandVisa/Takshak.jpg" height="265px" alt=""></a>
                  </figure>
                  <div class="details">
                      <h4 class="box-title"><a href="#">Mr Takshak Dharamkumar <small>Head of VISAS/ HOTEL BOOKING / PACKAGES</small></a></h4>
                      <p class="description"><i class="soap-icon-phone circle"></i>+91 07030361288  ,<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 07126649415</p>
                      <p class="description"><i class="soap-icon-message circle"></i><a href="mailto:takshak@uniglobeidealtours.in"></a>takshak@uniglobeidealtours.in </p>
                  </div>
              </article>
          </div>
          <div class="col-sm-3 col-md-3">
              <article class="box">
                  <figure>
                      <a href="#">
                          <img src="assets/images/Staff/PackagesandVisa/Philo.jpg" height="265px" alt=""></a>
                  </figure>
                  <div class="details">
                      <h4 class="box-title"><a href="#">Ms Philo <small>HOTEL BOOKING Person</small></a></h4>
                      <p class="description"><i class="soap-icon-phone circle"></i>+91 07030361288  ,<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 07126649415</p>
                      <p class="description"><i class="soap-icon-message circle"></i><a href="mailto:vacations@uniglobeidealtours.in"></a>vacations@uniglobeidealtours.in </p>
                  </div>
              </article>
          </div> 
          </div>
   
       <div class="row image-box style1 team">
          <div class="col-sm-3 col-md-3">
              <article class="box">
                  <figure>
                      <a href="#">
                          <img src="assets/images/Staff/PackagesandVisa/Sneha.jpg" height="265px" alt=""></a>
                  </figure>
                  <div class="details">
                      <h4 class="box-title"><a href="#">Ms Sneha <small>HOTEL BOOKING Person</small></a></h4>
                      <p class="description"><i class="soap-icon-phone circle"></i>+91 07030361288  ,<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 07126649415</p>
                      <p class="description"><i class="soap-icon-message circle"></i><a href="mailto:vacations@uniglobeidealtours.in"></a>vacations@uniglobeidealtours.in </p>
                  </div>
              </article>
          </div>
     
          <div class="col-sm-3 col-md-3">
              <article class="box">
                  <figure>
                      <a href="#">
                          <img src="assets/images/Staff/Forex/Wahid.jpg" height="265px" alt=""></a>
                  </figure>
                  <div class="details">
                      <h4 class="box-title"><a href="#">Mr Wahid Ali <small>Head of FOREIGN EXCHANGE MONEY CHANGER</small></a></h4>
                      <p class="description"><i class="soap-icon-phone circle"></i>+91 9823139573  ,<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0712-6620108/107</p>
                      <p class="description"><i class="soap-icon-message circle"></i><a href="mailto:idealmoneyexchange@gmail.com"></a>idealmoneyexchange@gmail.com </p>
                  </div>
              </article>
          </div>
             <div class="col-sm-3 col-md-3">
              <article class="box">
                  <figure>
                      <a href="#">
                          <img src="assets/images/Staff/Account/Roshan.jpg" height="265px" alt=""></a>
                  </figure>
                  <div class="details">
                      <h4 class="box-title"><a href="#">Mr Roshan Borate  <small>Head of ACCOUNTS DEPARTMENT</small></a></h4>
                      <p class="description"><i class="soap-icon-phone circle"></i>+91 9922046955  ,<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 07126649588</p>
                      <p class="description"><i class="soap-icon-message circle"></i><a href="mailto:accounts@uniglobeidealtours.in"></a>accounts@uniglobeidealtours.in </p>
                  </div>
              </article>
          </div>
          <div class="col-sm-3 col-md-3">
              <article class="box">
                  <figure>
                      <a href="#">
                          <img src="assets/images/Staff/Account/Priya.jpg" height="265px" alt=""></a>
                  </figure>
                  <div class="details">
                      <h4 class="box-title"><a href="#">Ms Priya  <small>ACCOUNTS Contact Person</small></a></h4>
                      <p class="description"><i class="soap-icon-phone circle"></i>+91 9922046955  ,<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 07126649588</p>
                      <p class="description"><i class="soap-icon-message circle"></i><a href="mailto:accounts@uniglobeidealtours.in"></a>accounts@uniglobeidealtours.in </p>
                  </div>
              </article>
          </div>
           </div>
       <div class="row image-box style1 team">
        
          <div class="col-sm-3 col-md-3">
              <article class="box">
                  <figure>
                      <a href="#">
                          <img src="assets/images/Staff/Account/Parvez.jpg" height="265px" alt=""></a>
                  </figure>
                  <div class="details">
                      <h4 class="box-title"><a href="#">MR Parveez  <small>ACCOUNTS Contact Person</small></a></h4>
                      <p class="description"><i class="soap-icon-phone circle"></i>+91 9922046955  ,<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 07126649588</p>
                      <p class="description"><i class="soap-icon-message circle"></i><a href="mailto:accounts@uniglobeidealtours.in"></a>accounts@uniglobeidealtours.in </p>
                  </div>
              </article>
          </div>
      </div> -->
        </div>
        <div class="row large-block">
            <div class="col-md-6">
                <h2>Services</h2>
                <div class="toggle-container box" id="accordion1">
                    <div class="panel style1">
                        <h4 class="panel-title">
                            <a href="#acc1" data-toggle="collapse" data-parent="#accordion1">Flight Booking</a>
                        </h4>
                        <div class="panel-collapse collapse in" id="acc1">
                            <div class="panel-content">
                                <ul class="triangle">
                                    <li>Automated Profiling of clients for error free bookings.</li>
                                    <li>24 X 7 by Trip Support. , Corporate Booking Tools.</li>
                                    <li>Account Management Reporting to reduce travel costs.</li>
                                    <li>Cost Containment. , Lowest Fare Assured. , Easy Cancellation & Refund.</li>
                                    <li>Attractive Discount & offers on Online bookings.</li>
                                    <li>Dedicated Travel Export. , Safe & secure Gateway for online Bookings.</li>
                                </ul>
                            </div><!-- end content -->
                        </div>
                    </div>

                    <div class="panel style1">
                        <h4 class="panel-title">
                            <a class="collapsed" href="#acc2" data-toggle="collapse" data-parent="#accordion1">Hotel
                                Booking</a>
                        </h4>
                        <div class="panel-collapse collapse" id="acc2">
                            <div class="panel-content">
                                <ul class="triangle">
                                    <li>Worldwide Hotel Inventory </li>
                                    <li>Online Price Match </li>
                                    <li>More than 250,000+ Hotel Rooms </li>
                                    <li>45,000+ Sightseeing items and over 5000 Tours in 500 cities </li>
                                    <li>5,000+ Transfer Options in Over 900 Airport and City Locations </li>
                                    <li>Instant Confirmation </li>
                                </ul>
                            </div><!-- end content -->
                        </div>
                    </div>

                    <div class="panel style1">
                        <h4 class="panel-title">
                            <a class="collapsed" href="#acc3" data-toggle="collapse" data-parent="#accordion1">Forex</a>
                        </h4>
                        <div class="panel-collapse collapse" id="acc3">
                            <div class="panel-content">
                                <ul class="triangle">
                                    <li>We Buy & Sell Foreign Currencies. </li>
                                    <li>Travel Currency Debit Cards. </li>
                                    <li>TT Payments. </li>
                                    <li>(RBI Approved Money Changer). </li>
                                </ul>
                            </div><!-- end content -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Our Core Services</h2>
                <div class="tab-container">
                    <ul class="tabs">
                        <li class="active"><a href="#satisfied-customers" data-toggle="tab">Holidays Booking</a></li>
                        <li><a href="#tours-suggestions" data-toggle="tab">Jungle Safari</a></li>
                        <li><a href="#careers" data-toggle="tab">Cruise Booking</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade  in active" id="satisfied-customers">
                            <img src="assets/images/offers03.jpg" alt="" class="pull-left" />
                            <h4></h4>
                            <ul class="triangle">
                                <li>International & Domestic Holidays.</li>
                                <li>Honeymoon Tours.</li>
                                <li>Corporate Events / Conference.</li>
                                <li>Theme Based Tours.</li>
                                <li>Pilgrimage Tours / Group Tours.</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="tours-suggestions">
                            <img src="../images/jungle-safari.png" width="300" height="300" alt="" class="pull-left" />

                            <ul class="triangle">
                                <li>Jungle Safari Bookings. , Resort Bookings. </li>
                                <li>Corporate Events. </li>
                                <li>Team building Activities. </li>
                                <li>Night Safaris* , Services of Naturalists .</li>
                                <li>Birthday Party in wilderness. </li>
                                <li>Bush Dinners. and many more options. </li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="careers">
                            <img src="../images/offers02.jpg" width="300" height="300" alt="" class="pull-left" />

                            <ul class="triangle">
                                <li>Asian Cruise Bookings (Dream Cruise / Royal Caribbean).</li>
                                <li>International Cruises (MSC, NCL, Princess, Celebrity, Carnival Cruise etc).</li>
                                <li>Expedition Cruises (Hurtigruten, Alaska, Antarctic expedition etc).</li>
                                <li>European River Cruises.</li>
                                <li>Yacht Charter, Dinner Cruise, Sunset Cruise.</li>
                                <li>Indian Cruises (Jalesh, Angriya Cruise, Brahmaputra Cruises).</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>