<form [formGroup]="signin" (ngSubmit)="getUserlogin()">
    <!-- <mat-icon id="close-icon">close</mat-icon> -->
    <div class="sign-in-wrapper">
        <h3>Sign In
            <small style="float: right; font-size: 11px;" *ngIf="UrlService.sUserType !='b2c' ">
                <mat-slide-toggle [checked]="checked" (change)="changeUser($event)">login as agent ?</mat-slide-toggle>
            </small>
        </h3>
        <!-- <div class="row" *ngIf="!checked">
            <div class="col-md-6"><a href="javascript:void();" (click)="socialSignIn('facebook')"
                    class="social_bt facebook">Login with
                    Facebook</a></div>
            <div class="col-md-6"><a href="javascript:void();" (click)="socialSignIn('google')"
                    class="social_bt google">Login with Google</a>
            </div>
        </div>
        <div class="divider" *ngIf="!checked"><span>Or</span></div> -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label><i class="icon_mail_alt"></i>&nbsp;Email</label>
                    <input type="email" formControlName="UserName" required class="form-control" [(ngModel)]="sUserName"
                        id="email" [ngClass]="{ 'is-invalid': submitted && f.UserName.errors }">
                    <div *ngIf="submitted && f.UserName.errors" class="invalid-feedback">
                        <div *ngIf="f.UserName.errors.required">This field is required</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label><i class="icon_lock_alt"></i>&nbsp;Password</label>
                    <input type="password" formControlName="Password" class="form-control" name="sPassword"
                        [(ngModel)]="sPassword" value="" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }">
                    <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                        <div *ngIf="f.Password.errors.required">This field is required</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="clearfix add_bottom_15">
            <div class="checkboxes float-left">
                <!-- (change)="Commonfilter(facility.Checked, facility.icon, 'f')" -->
                <mat-checkbox> Remember Me </mat-checkbox>
            </div>
            <div class="float-right"><a id="forgot" href="javascript:void(0);" (click)="ForgotDialog()">Forgot
                    Password?</a></div>
        </div>
        <div class="text-center">
            <button type="button" class="full-width button btn-large red" disabled *ngIf="loading"><i
                    class=" icon-spin6 animate-spin font18"></i></button>
            <button type="submit" class="full-width button btn-large red" *ngIf="!loading">
                Log In
            </button>
        </div>
        <div class="text-center">
            Don’t have an account?
            <a style="cursor: pointer;" (click)="clickRegister()" *ngIf="checked">Sign up</a>
            <a style="cursor: pointer;" *ngIf="!checked" (click)="SignUpDialog()">Sign up</a>
        </div>
    </div>
</form>