<section id="content" class="gray-area">
	<div class="container">
		<div id="main">
			<div class="tab-container full-width-style arrow-left dashboard">
				<ul class="tabs">
					<li class="active"><a data-toggle="tab" [routerLink]="['/profile']">
							<i class="soap-icon-user circle"></i>
							Profile</a>
					</li>
					<li class=""><a data-toggle="tab" [routerLink]="['/change-password']"><i
								class="soap-icon-settings circle"></i>Settings</a></li>
				</ul>
				<div class="tab-content">
					<div id="profile" class="tab-pane fade in active">
						<div class="view-profile">
							<article class="style2 box innerstyle personal-details">
								<!-- <figure>
									<a title="" href="javascript:;"><img width="270" height="263" alt=""
											src="images/shortcodes/team/jessica.png"></a>
								</figure> -->
								<div class="details">
									<!-- <a href="javascript:;" class="button btn-mini pull-right edit-profile-btn">EDIT
										PROFILE</a> -->
									<h2 class="box-title fullname">{{LoginDetails.Name}}</h2>
									<dl class="term-description">
										<dt>user name:</dt>
										<dd>{{LoginDetails.Email}}</dd>
										<dt>Name:</dt>
										<dd>{{LoginDetails.Name}}</dd>
										<dt>phone number:</dt>
										<dd>{{LoginDetails.ContacDetails.Mobile}}</dd>
										<dt>Street Address</dt>
										<dd>{{LoginDetails.ContacDetails.Address}}</dd>
										<dt>Town / City:</dt>
										<dd>{{LoginDetails.ContacDetails.CitiesID}}</dd>
										<dt>ZIP code:</dt>
										<dd>{{LoginDetails.ContacDetails.PinCode}}</dd>
										<dt>Country:</dt>
										<dd>{{LoginDetails.ContacDetails.CountryID}}</dd>
									</dl>
								</div>
							</article>
						</div>
						<h2>Personal Details</h2>
						<div class="col-sm-12 no-padding no-float">
							<div class="row form-group">
								<div class="col-sms-12 col-sm-12">
									<label>Full Name</label>
									<input type="text" class="input-text full-width" name="Name" id="first_name"
										type="text" [(ngModel)]="LoginDetails.Name">
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sms-6 col-sm-6">
									<label>Phone number</label>
									<input type="text" class="input-text full-width"
										[(ngModel)]="LoginDetails.ContacDetails.Mobile">
								</div>
								<div class="col-sms-6 col-sm-6">
									<label>User Name</label>
									<input type="text" class="input-text full-width" readonly="readonly"
										[(ngModel)]="LoginDetails.Email">
								</div>
							</div>
							<hr>
							<h2>Contact Details</h2>
							<div class="row form-group">
								<div class="col-sms-6 col-sm-6">
									<label>Country</label>
									<input type="text" class="input-text full-width"
										[(ngModel)]="LoginDetails.ContacDetails.CountryID" class=""
										aria-label="Nationality" [matAutocomplete]="nationalityauto"
										[formControl]="nationalityCtrl"
										style="height: 40px !important;display: block;width: 100%;padding: .375rem .75rem;font-size: 12px;line-height: 1.5;color: #495057;background-color: #fff;background-clip: padding-box;border: 1px solid #ced4da;border-radius: .25rem;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;">
									<mat-autocomplete #nationalityauto="matAutocomplete">
										<mat-option *ngFor="let Country of arrCountry | async"
											(onSelectionChange)="selectedCountry(Country)"
											[value]="Country.Countryname">
											<span> <img with="20" height="20"
													src="../../../assets/images/country_flag/{{Country.Country | lowercase}}.png">
												{{Country.Countryname}}</span>
										</mat-option>
									</mat-autocomplete>
								</div>
								<div class="col-sms-6 col-sm-6">
									<label>City</label>
									<mat-select class="dd-selected" style="height: 40px;"
										[(ngModel)]="LoginDetails.ContacDetails.CitiesID">
										<mat-option *ngFor="let city of arrCity" [value]="city.Description"
											(onSelectionChange)="selectedCity(city)">
											<span> {{city.Description}} </span>
										</mat-option>
									</mat-select>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sms-6 col-sm-6">
									<label>Zip code</label>
									<input type="text" class="input-text full-width"
										[(ngModel)]="LoginDetails.ContacDetails.PinCode">
								</div>
								<div class="col-sms-6 col-sm-6">
									<label>Street address</label>
									<input type="text" class="input-text full-width"
										[(ngModel)]="LoginDetails.ContacDetails.Address">
								</div>
							</div>
							<div class="from-group">
								<button type="button" (click)="UpdateProfile()" style="float: right;"
									class="btn-medium col-sms-6 col-sm-4">UPDATE
									SETTINGS</button>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>