﻿.all-searchbox {
    margin-bottom: 20px;
}

.all-box-multiwaydata {
    height: auto;
    width: 100%;
    display: table;
    text-align: left;
    background: #fff;
    padding-top: 10px;
    font-family: Lato;
    font-size: 24px;
    font-weight: 300;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    border-bottom: 1px solid #d2d2d2;
}

    .all-box-multiwaydata .rowfs {
        padding: 0px 0px 3px 10px;
    }

.row-box-multiwaydata {
    background-color: #d9d9d9;
    padding: 8px 10px;
    text-align: right;
    top: -10px;
    position: relative;
}

.tour-multi-waydays {
    font-size: 14px;
}

    .tour-multi-waydays em {
        font-style: normal;
    }

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.product-desti {
    font-weight: 700;
}

.product-multi-wayprice {
    font-weight: 700;
    color: #339933;
    font-size: 16px;
}

.productmultiway-bookbtn {
    text-align: right;
}

    .productmultiway-bookbtn .btn {
        padding: 7px 15px 7px 15px;
        background: #f58634;
        color: #fff;
        border-color: #f58634;
    }

        .productmultiway-bookbtn .btn:hover {
            color: #ffffff;
            background-color: #ff9900;
        }

.product-btn {
    padding: 2px 18px 2px 15px !important;
}

.product-multi-way {
    text-align: left;
    font-size: 14px;
}

    .product-multi-way p {
        padding: 0px 0 0px 10px;
        margin: 0 0 0 0;
    }

.tour-multi-waydays img {
    width: 35px;
}

.single-multi-waytime {
    font-size: 16px;
    font-weight: 900;
}

.flight-panelmultiway {
    cursor: pointer;
    text-decoration: none !important;
}

.oneway-imgarrow {
}

.multi-wayfdetails-tabs > li {
    background: none;
    border-right: none;
}

    .multi-wayfdetails-tabs > li > a {
        color: #f58634
    }

        .multi-wayfdetails-tabs > li > a:hover {
            box-shadow: none !important;
            background: none !important;
        }

    .multi-wayfdetails-tabs > li.active > a, .multi-wayfdetails-tabs > li.active > a:hover,
    .multi-wayfdetails-tabs > li.active > a:focus {
        background-color: #fff !important;
    }

.Fdetails-content {
    padding-bottom: 60px;
    height: auto;
}

@media (min-width: 992px) {
    .multi-wayfdetails-tabs > li > a {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (max-width: 991px) {
    .multi-wayfdetails-tabs > li > a {
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-top: 0px;
    }

    .multi-wayfdetails-tabs > li.active > a, .multi-wayfdetails-tabs > li.active > a:hover,
    .multi-wayfdetails-tabs > li.active > a:focus {
        color: #f58634 !important;
    }
}

.border-multiway {
    border-top: 1px dashed #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}

.border-multitabs {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .multiway-leftblock {
        width: 100%;
    }

    .productmultiway-bookbtn {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .tour-multi-waydays {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .inherit-tabs {
        width: 100% !important;
    }

    .product-multi-way {
        text-align: center;
        width: 33.3333%;
    }

    .oneway-imgarrow {
        width: 100%;
    }
}

.mb20 {
    margin-bottom: 20px;
}
