﻿.all-searchbox {
  margin-top: 20px;
}

.all-box-roundtripwaydata {
  height: auto;
  width: 100%;
  text-align: left;
  background: #fff;
  padding-top: 10px;
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
}

.activeroundblock {
  background-color: #ccf0fd;
  cursor: pointer;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.12);
}

.activeroundblock2 {
  background-color: #ccf0fd;
  cursor: pointer;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.12);
}

.all-box-roundtripwaydata:hover {
  background-color: #ccf0fd;
  cursor: pointer;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.12);
}

.all-box-roundtripwaydata .rowRfs {
  padding: 0px 0px 3px 10px;
}

.rowRfs {
  margin-left: 0;
  margin-right: 0;
}

.pad-rightn {
  padding-right: 3px;
}

.pad-leftn {
  padding-left: 3px;
}

.rd-check {
  cursor: pointer;
}

.row-box-roundtripwaydata {
  background-color: #f8f3f2;
  padding: 8px 10px;
  text-align: right;
  margin-right: 0;
  margin-left: 0;
}

.tour-roundtripwaydays {
  font-size: 13px;
}

.tour-roundtripwaydays em {
  font-style: normal;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.product-desti {
  font-weight: 700;
}

.product-roundtripwayprice {
  font-weight: 700;
  color: #339933;
  font-size: 16px;
}

.old-price {
  font-weight: normal;
  color: #333333;
  font-size: 12px;
}

.productfare-bookbtn .btn {
  padding: 7px 15px 7px 15px;
  border: 2px solid #ebebeb;
  background: #fff;
  color: #333333;
}

.productfare-bookbtn .btn:hover {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}

.product-btn {
  padding: 2px 18px 2px 15px !important;
}

.product-roundtripway {
  text-align: left;
  font-size: 14px;
}

.product-roundtripway p {
  padding: 0px 0 0px 10px;
  margin: 0 0 0 0;
}

.tour-roundtripwaydays img {
  width: 25px;
}

.roundtrip-waytime {
  font-size: 16px;
  font-weight: 900;
}

.flight-roundtrippaneldetails:after {
  /* symbol for "opening" panels */
  font-family: "Glyphicons Halflings"; /* essential for enabling glyphicon */
  content: "\e114"; /* adjust as needed, taken from bootstrap.css */
  float: right; /* adjust as needed */
  color: grey; /* adjust as needed */
}

.flight-roundtrippaneldetails.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}

.flight-roundtrippaneldetails {
  cursor: pointer;
  text-decoration: none !important;
}

.oneway-imgarrow {
  position: relative;
}

.roundtripwayfdetails-tabs > li {
  background: none;
  border-right: none;
}

.roundtripwayfdetails-tabs > li > a {
  color: #f58634;
}

.roundtripwayfdetails-tabs > li > a:hover {
  box-shadow: none !important;
  background: none !important;
}

.roundtripwayfdetails-tabs > li.active > a,
.roundtripwayfdetails-tabs > li.active > a:hover,
.roundtripwayfdetails-tabs > li.active > a:focus {
  background-color: #fff !important;
}

.Froundtripdetails-content {
  padding-bottom: 60px;
  height: auto;
}

@media (min-width: 992px) {
  .roundtripwayfdetails-tabs > li > a {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .stop-roundtrip {
    display: none;
  }

  .roundtripwayfdetails-tabs > li > a {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 0px;
  }

  .roundtripwayfdetails-tabs > li.active > a,
  .roundtripwayfdetails-tabs > li.active > a:hover,
  .roundtripwayfdetails-tabs > li.active > a:focus {
    color: #f58634 !important;
  }
}

@media (max-width: 767px) {
  .tour-roundtripwaydays {
    width: 100%;
    text-align: center;
  }

  .fr-timing {
    width: 50%;
    text-align: center;
  }

  .content_roundtripwayprice {
    width: 50%;
    text-align: center;
  }
}

.mb10 {
  margin-bottom: 10px;
}

/*footer bar fixed css*/
.all-searchbox {
  margin-top: 20px;
}

.all-bottomdata {
  height: auto;
  width: 100%;
  text-align: left;
  background: #4263c1;
  padding-top: 10px;
  color: #fff;
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  border-top: 1px solid #fff;
  border-radius: 4px;
  position: fixed;
  width: 100%;
  z-index: 200;
  left: 0;
  bottom: 0;
}

.border-rightbar {
  border-right: 1px solid #e4e4e4;
}

.all-box-onewaydata .rowfs {
  padding: 0px 0px 3px 10px;
}

.tour-round-days em {
  font-style: normal;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.product-desti {
  font-weight: 700;
}

.product-round-waysprice {
  font-weight: 700;
  color: #fff;
  font-size: 15px;
}

.air-flight {
  font-size: 13px;
}

.productroundways-btn .btn {
  padding: 7px 15px 7px 15px;
  background: #f58634;
  color: #fff;
}

.productroundways-btn .btn:hover {
  color: #ffffff;
  background-color: #ff9900;
}

.product-btn {
  padding: 2px 18px 2px 15px !important;
}

.product-round-way {
  text-align: left;
  font-size: 14px;
}

.product-round-way p {
  padding: 0px 0 0px 10px;
  margin: 0 0 0 0;
}

.tour-round-days img {
  width: 25px;
}

.single-waytime {
  font-size: 15px;
  font-weight: 900;
}

.city-title {
  font-size: 15px;
  font-weight: 900;
}

@media (min-width: 992px) {
}

@media (max-width: 991px) {
  .right-arrownew {
    display: none;
  }
}

@media (max-width: 767px) {
  .city-title {
    display: none;
  }

  .tour-round-days {
    width: 100%;
    text-align: center;
  }

  .product-round-way {
    width: 50%;
    text-align: center;
  }

  .content_round-waysprice {
    width: 100%;
    text-align: center;
  }

  .content_round-waysprice .pullnone {
    float: none !important;
  }

  .single-waytime {
    font-size: 13px;
    font-weight: normal;
  }
}

.mb10 {
  margin-bottom: 10px;
}

.all-searchbox {
  margin-top: 20px;
  margin-bottom: 20px;
}

.all-box-multiwaydata {
  height: auto;
  width: 100%;
  display: table;
  text-align: left;
  background: #fff;
  padding-top: 10px;
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  border-bottom: 1px solid #d2d2d2;
}

.all-box-multiwaydata .rowfs {
  padding: 10px 0px 10px 10px;
}

.row-box-multiwaydata {
  background-color: #f3f7fa;
  padding: 8px 10px;
  text-align: right;
}

.tour-multi-waydays {
  font-size: 14px;
}

.tour-multi-waydays em {
  font-style: normal;
}

.product-desti {
  font-weight: 700;
}

.product-multi-wayprice {
  font-weight: 700;
  color: #339933;
  font-size: 16px;
}

.productmultiway-bookbtn {
  text-align: right;
}

.productmultiway-bookbtn .btn {
  padding: 7px 15px 7px 15px;
  background: #f58634;
  color: #fff;
  border-color: #f58634;
}

.productmultiway-bookbtn .btn:hover {
  color: #ffffff;
  background-color: #ff9900;
}

.product-btn {
  padding: 2px 18px 2px 15px !important;
}

.product-multi-way {
  text-align: left;
  font-size: 14px;
}

.product-multi-way p {
  padding: 0px 0 0px 10px;
  margin: 0 0 0 0;
}

.tour-multi-waydays img {
  width: 35px;
}

.single-multi-waytime {
  font-size: 16px;
  font-weight: 900;
}

.flight-panelmultiway:after {
  /* symbol for "opening" panels */
  font-family: "Glyphicons Halflings"; /* essential for enabling glyphicon */
  content: "\e114"; /* adjust as needed, taken from bootstrap.css */
  float: right; /* adjust as needed */
  color: grey; /* adjust as needed */
}

.flight-panelmultiway.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}

.flight-panelmultiway {
  cursor: pointer;
  text-decoration: none !important;
}

.multi-wayfdetails-tabs > li {
  background: none;
  border-right: none;
}

.multi-wayfdetails-tabs > li > a {
  color: #f58634;
}

.multi-wayfdetails-tabs > li > a:hover {
  box-shadow: none !important;
  background: none !important;
}

.multi-wayfdetails-tabs > li.active > a,
.multi-wayfdetails-tabs > li.active > a:hover,
.multi-wayfdetails-tabs > li.active > a:focus {
  background-color: #fff !important;
}

.Fdetails-content {
  padding-bottom: 60px;
  height: auto;
}

@media (min-width: 992px) {
  .multi-wayfdetails-tabs > li > a {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .multi-wayfdetails-tabs > li > a {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 0px;
  }

  .multi-wayfdetails-tabs > li.active > a,
  .multi-wayfdetails-tabs > li.active > a:hover,
  .multi-wayfdetails-tabs > li.active > a:focus {
    color: #f58634 !important;
  }
}

.border-multiway {
  border-top: 1px dashed #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.border-multitabs {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .multiway-leftblock {
    width: 100%;
  }

  .productmultiway-bookbtn {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .tour-multi-waydays {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .inherit-tabs {
    width: 100% !important;
  }

  .product-multi-way {
    text-align: center;
    width: 33.3333%;
  }

  .oneway-imgarrow {
    width: 100%;
  }
}

.tooltip-onewaynew .tooltiptext-onewaynew {
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  color: #555;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 88%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 0 0 5px 1px #cdcecf;
}

.tooltip-onewaynew .refund-onewaytooltip {
  left: 90%;
}

.tooltip-onewaynew .nonrefund-onewaytooltip {
  left: 95%;
}

.tooltip-onewaynew .tooltiptext-onewaynew::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.tooltip-onewaynew:hover .tooltiptext-onewaynew {
  visibility: visible;
  opacity: 1;
}

/*right tooltip*/
.tooltipnewright {
  position: relative;
  display: inline-block;
}

.tooltipnewright .tooltiptextnewright {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltipnewright:hover .tooltiptextnewright {
  visibility: visible;
}

.all-searchbox {
  margin-top: 20px;
  margin-bottom: 20px;
}

.all-box-multiwaydata {
  height: auto;
  width: 100%;
  display: table;
  text-align: left;
  background: #fff;
  padding-top: 10px;
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  border-bottom: 1px solid #d2d2d2;
}

.all-box-multiwaydata .rowfs {
  padding: 0px 0px 3px 10px;
}

.row-box-multiwaydata {
  background-color: #f3f7fa;
  padding: 8px 10px;
  text-align: right;
}

.tour-multi-waydays {
  font-size: 14px;
}

.tour-multi-waydays em {
  font-style: normal;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.product-desti {
  font-weight: 700;
}

.product-multi-wayprice {
  font-weight: 700;
  color: #339933;
  font-size: 16px;
}

.productmultiway-bookbtn {
  text-align: right;
}

.productmultiway-bookbtn .btn {
  padding: 7px 15px 7px 15px;
  background: #f58634;
  color: #fff;
  border-color: #f58634;
}

.productmultiway-bookbtn .btn:hover {
  color: #ffffff;
  background-color: #ff9900;
}

.product-btn {
  padding: 2px 18px 2px 15px !important;
}

.product-multi-way {
  text-align: left;
  font-size: 14px;
}

.product-multi-way p {
  padding: 0px 0 0px 10px;
  margin: 0 0 0 0;
}

.tour-multi-waydays img {
  width: 35px;
}

.single-multi-waytime {
  font-size: 16px;
  font-weight: 900;
}

.flight-panelmultiway:after {
  /* symbol for "opening" panels */
  font-family: "Glyphicons Halflings"; /* essential for enabling glyphicon */
  content: "\e114"; /* adjust as needed, taken from bootstrap.css */
  float: right; /* adjust as needed */
  color: grey; /* adjust as needed */
}

.flight-panelmultiway.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}

.flight-panelmultiway {
  cursor: pointer;
  text-decoration: none !important;
}

.multi-wayfdetails-tabs > li {
  background: none;
  border-right: none;
}

.multi-wayfdetails-tabs > li > a {
  color: #f58634;
}

.multi-wayfdetails-tabs > li > a:hover {
  box-shadow: none !important;
  background: none !important;
}

.multi-wayfdetails-tabs > li.active > a,
.multi-wayfdetails-tabs > li.active > a:hover,
.multi-wayfdetails-tabs > li.active > a:focus {
  background-color: #fff !important;
}

.Fdetails-content {
  padding-bottom: 60px;
  height: auto;
}

@media (min-width: 992px) {
  .multi-wayfdetails-tabs > li > a {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .multi-wayfdetails-tabs > li > a {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 0px;
  }

  .multi-wayfdetails-tabs > li.active > a,
  .multi-wayfdetails-tabs > li.active > a:hover,
  .multi-wayfdetails-tabs > li.active > a:focus {
    color: #f58634 !important;
  }
}

.border-multiway {
  border-top: 1px dashed #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.border-multitabs {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .multiway-leftblock {
    width: 100%;
  }

  .productmultiway-bookbtn {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .tour-multi-waydays {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .inherit-tabs {
    width: 100% !important;
  }

  .product-multi-way {
    text-align: center;
    width: 33.3333%;
  }

  .oneway-imgarrow {
    width: 100%;
  }
}

.tooltip-onewaynew .tooltiptext-onewaynew {
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  color: #555;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 88%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 0 0 5px 1px #cdcecf;
}

.tooltip-onewaynew .refund-onewaytooltip {
  left: 90%;
}

.tooltip-onewaynew .nonrefund-onewaytooltip {
  left: 95%;
}

.tooltip-onewaynew .tooltiptext-onewaynew::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.tooltip-onewaynew:hover .tooltiptext-onewaynew {
  visibility: visible;
  opacity: 1;
}

/*right tooltip*/
.tooltipnewright {
  position: relative;
  display: inline-block;
}

.tooltipnewright .tooltiptextnewright {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltipnewright:hover .tooltiptextnewright {
  visibility: visible;
}

@media (max-width: 991px) {
  .all-box-roundtripwaydata {
    height: 140px;
    margin-bottom: 15px;
  }
}
