<form [formGroup]="fpassword" (ngSubmit)="onForgot()">
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label>Email</label><sup>*</sup>
        <input type="text" formControlName="email" required [(ngModel)]="Email" placeholder="Enter Registered Email"
          class="form-control" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <button class="btn_1" type="submit" style="margin-top: 30px;">Submit
        <i *ngIf="loading" class="icon-spin6 animate-spin font18"></i>
      </button>
    </div>
  </div>

</form>