<form [formGroup]="register" (ngSubmit)="Validate()">
    <h5>
        <small style="float: right; font-size: 14px;" *ngIf="service.sUserType !='b2c' ">
            <mat-slide-toggle [checked]="checked" (change)="onAgent($event.checked)">Register as agent ?
            </mat-slide-toggle>
        </small>
    </h5>
    <br>
    <div class="form-group">
        <label>Full Name</label><sup>*</sup>
        <input type="text" formControlName="Name" required [(ngModel)]="user.Name" placeholder="" class="form-control"
            formControlName="Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }">
        <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
            <div *ngIf="f.Name.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label>Email</label><sup>*</sup>
        <input type="text" formControlName="email" required [(ngModel)]="user.Email" placeholder="" class="form-control"
            formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
    </div>
    <div class="form-group">
        <label>Password</label><sup>*</sup>
        <input type="Password" formControlName="password" required [(ngModel)]="user.Password" placeholder=""
            class="form-control" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <label>Confirm password</label><sup>*</sup>
        <input type="Password" formControlName="confirm" required placeholder="" class="form-control"
            formControlName="confirm" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirm.errors }">
        <div *ngIf="submitted && f.confirm.errors" class="invalid-feedback">
            <div *ngIf="f.confirm.errors.required">Confirm Password is required</div>
            <div *ngIf="register.errors.equalValue">password mismatch</div>
        </div>
    </div>
    <div id="pass-info" class="clearfix"></div>
    <button class="btn_full">Create an account</button>
</form>