<div class="title-container">
  <h2 class="search-title">Search and Book Hotels</h2>
  <p>We're bringing you a new level of comfort.</p>
  <i class="soap-icon-hotel"></i>
</div>
<div class="search-content">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <label><i class="icon_set_1_icon-41 font15"></i> City Name</label>
        <input matInput placeholder="Search Destination" aria-label="State" [matAutocomplete]="auto"
          (keyup)="getHotelCity($event)" [(ngModel)]="objTraveller.Location" class="input-text full-width">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let Name of hotelcity" [value]="Name.value" (onSelectionChange)="selectedCity(Name)">
              <span>{{Name.value}}</span>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label><i class="icon-calendar-7"></i>Check-in - Check-out</label><br>
        <div class="datepicker-wrap">
          <input type="text" matInput class="input-text full-width" placeholder="select date" name="daterangeInput"
            daterangepicker [options]="options" (selected)="selectedDate($event, daterange)" />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group travellers-class">
        <label><i class="pe-7s-users font15"></i> Travellers</label>
        <input type="text" id="HotelTravellersClass" [(ngModel)]="Guests"
          class="travellers-class-input form-control input-text full-width" placeholder="1 Room, 1 Guests">
        <div class="travellers-dropdown" id="HotelTravellers">
          <app-traveller [Traveller]="Traveller" (setGuests)="Guest($event)"></app-traveller>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <label><i class="icon-flag-empty"></i> Nationality</label>
        <input matInput placeholder="" #Nationality name="Nationality" [(ngModel)]="objTraveller.Nationality"
          class="input-text full-width" aria-label="Nationality" [matAutocomplete]="nationalityauto"
          (keyup)="getCountry($event)">
        <mat-autocomplete #nationalityauto="matAutocomplete">
          <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let Country of arrCountry" [value]="Country.Countryname">
              <span> <img with="20" height="20"
                  src="../../../assets/images/country_flag/{{Country.Country | lowercase}}.png">
                {{Country.Countryname}}</span>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </div>
      <!-- <div class="form-group">
      <label><i class="icon-flag-empty"></i> Nationality</label>
      <mat-select class="dd-selected" name="" [(value)]="selected" [(ngModel)]="objTraveller.Nationality">
        <mat-option *ngFor="let Country of arrCountry" [value]="Country.Countryname">
          <img with="20" height="20" src="../../../assets/img/flag/{{Country.Countryname | lowercase}}.gif">
          <label class="dd-option-text" style="line-height: 45px;    margin-left: 5px;">
            {{ Country.Countryname}}</label>
        </mat-option>
      </mat-select>
    </div> -->
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <button class="full-width" style="margin-top: 23px;height: 40px;" (click)="SearchHotelParams()">Search</button>
      </div>
    </div>
  </div>
</div>