.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir="rtl"] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}
::ng-deep .mat-input-underline .mat-form-field-underline {
  display: none;
}
::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .cdk-overlay-container .cdk-overlay-pane {
  width: auto;
  max-width: auto;
}

.mat-select {
  width: 2000px;
  background-color: red;
  font-size: 10px;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0.375rem 0.75rem;
  font-size: 12px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
::ng-deep .mat-select-trigger {
  padding: 10px 10px !important;
}
::ng-deep .mat-option {
  padding: 10px;
  display: block;
  border-bottom: solid 1px #ddd;
  overflow: hidden;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  /* -webkit-transition: all 0.25s ease-in-out; */
}

.form-control {
  cursor: pointer;
}

.travellers-dropdown {
  position: absolute;
  display: none;
  -webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.176);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.176);
  z-index: 11;
  background: #fff;
  padding: 6px;
  border-radius: 0px;
  max-width: 345px;
  width: 100%;
  margin-top: 0px;
}

.travellers-dropdown .qty .qty-spinner {
  background: none;
  border: none;
  pointer-events: none;
  text-align: center;
  padding: 0.2rem 0.2rem;
  margin-top: -5px;
}

.travellers-dropdown .qty .btn {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  border-radius: 0px !important;
  height: 25px;
  width: 25px;
  background: #555;
  border: none;
}
@media (max-width: 991px) {
  .travellers-dropdown {
    min-width: inherit;
  }
}

::ng-deep .daterangepicker_input {
  display: none;
}

.dropdown-menu {
  font-size: small !important ;
}
