<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        <h4>Traveller Details</h4>
      </div>
      <div class="col-md-6 text-right">
        <a style="cursor: pointer;" (click)="updateStatus()">Edit <i class="icon_set_1_icon-17"></i></a>
      </div>
    </div>
  </div>
  <hr>
  <div class="card-body">
    <div class="row" *ngFor="let room of CustumerDetail.guestList; let i=index">
      <div class="col-md-2">
        <span>Room {{room.roomNumber}}</span>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-6">
            <span>{{Reservationdata.Search.Rooms[i].AdultCount}} Adults</span><br>
            <p *ngFor="let Customer of room.sCustomer; let c=index">
              <span *ngIf="Customer.type===1">{{Customer.title}}. {{Customer.name}} {{Customer.lastName}}</span>
            </p>
          </div>
          <div class="col-md-6" *ngIf="Reservationdata.Search.Rooms[i].ChildCount!==0">
            <span>1 (Childs)</span><br>
            <span *ngFor="let Customer of room.sCustomer; let c=index">
              <span *ngIf="Customer.type===2">{{Customer.title}}. {{Customer.name}} {{Customer.lastName}}</span><br>
            </span>
          </div>
        </div>

      </div>
      <div class="col-md-12">
        <div class="alert alert-success" role="alert"
          *ngIf="Reservationdata.listRate[i].CancellationPolicy.length!==0 && Reservationdata.listRate[i].CancellationPolicy[0].nonRefundable===false">
          <ul class="list_ok" style="padding-left: 40px;">
            <strong>Cancellation Policy</strong>
            <li *ngFor="let c  of Reservationdata.listRate[i].CancellationPolicy">
              <span *ngIf="!c.nonRefundable">
                {{Reservationdata.Currency}}. {{c.CancellationFee.TotalPrice}} charge will apply if cancelled
                after
                {{c.dayMax}}
              </span>
            </li>
          </ul>
        </div>
        <div class="alert alert-error" role="alert"
          *ngIf="Reservationdata.listRate[i].CancellationPolicy.length!==0 && Reservationdata.listRate[i].CancellationPolicy[0].nonRefundable===true">
          <ul class="list_ok" style="padding-left: 40px;">
            <strong>Cancellation Policy</strong>
            <li *ngFor="let c  of Reservationdata.listRate[i].CancellationPolicy">
              <span *ngIf="c.nonRefundable">
                This is <b>Non-Refundable </b>booking, there will be no
                cancellation or amendment possible once booked
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-12" *ngIf="Reservationdata.listRate[i].tariffNotes">
        <div class="alert alert-general" role="alert">
          <div style="padding-left: 40px;" [innerHTML]="Reservationdata.listRate[i].tariffNotes"></div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <span><b>Contact No</b> : {{CustumerDetail.mobile}}</span><br />
        <span><b>Email</b> : {{CustumerDetail.email}}</span><br />
      </div>
    </div>
    <hr />
    <!-- <div class="row">
      <div class="col-md-6">
        <span><b>Total Payable : </b> {{Reservationdata.Currency}}.
          {{Reservationdata.objCharge.TotalPrice.toFixed(2)}}</span>
      </div>
      <div class="col-md-6 text-right">
        <button type="button" (click)="RazorPay()" class="btn_1">Proceed</button>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-6">
        <span><b>Total Payable : </b> {{Reservationdata.Currency}}.
          {{Reservationdata.objCharge.TotalPrice.toFixed(2)}}</span>
      </div>
      <div class="col-md-6 text-right" *ngIf="!usePaymentGetway">
        <button type="button" (click)="RazorPay()" class="btn_1">Proceed</button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4" *ngFor="let gateway of PayGateways">
        <div *ngIf="gateway.GateWaysName === 'PayPal'">
          <div id="paypal-button-container"></div>
        </div>
        <div *ngIf="gateway.GateWaysName !== 'PayPal'">
          <button type="button" (click)="onlinePay(gateway.GateWaysName)" class="btn_1">
            {{gateway.GateWaysName}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>