<div id="tools">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12 text-right">
      <a href="javascript:void();" class="btn_1">Filter</a>
    </div>
  </div>
</div>

<!-- <div class="card"
  *ngFor="let booking of PakageBookingList | paginate: { itemsPerPage: 5, currentPage: page }; let i=index">
  <div class="card-body">
    <div class="strip_booking">
      <p>Some Data</p>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-12 text-right">
        <input type="button" class="btn_1" value="Open">&nbsp;
        <input type="button" class="btn_1" value="Share">
      </div>
    </div>
  </div>
</div>

<div class="box_style_2" *ngIf="response && PakageBookingList.length===0">
  <h1><span class="pe-7s-attention" style="font-size: 71px;color: #4cb9f1;"></span></h1>
  <h1> Sorry !!</h1>
  <h2>Booking Not Found</h2>
</div>
<div class="has-text-centered" *ngIf="service==='package' && PakageBookingList.length!=0">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div> -->