
<div class="photo-gallery style1">
  <ul class="slides">
    <li *ngFor="let Image of Images">
      <img src="{{Image.Url}}" alt="" />
    
    </li>
  </ul>
</div>
<div class="image-carousel style1">
  <ul class="slides">
    <li *ngFor="let Image of Images">
      <img src="{{Image.Url}}" alt="" />
    </li>
  </ul>
</div>