.modal-header {
  padding: 5px !important;
}

.modal-title {
  line-height: 1.2 !important;
  font-weight: 500;
  font-size: 18px !important;
}

.modal-header .close {
  padding: 0 !important;
  margin: 0rem 0rem 0rem auto !important;
}

.modal-footer {
  padding: 5px !important;
}

.btn-model {
  padding: 0px 10px !important;
}
