<div class="modal-header">
  <h4 class="modal-title" id="modal-title">
    {{ModelData?.title}}
  </h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p [innerHTML]="ModelData?.message"></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-model btn-outline-secondary" *ngIf="ModelData.ShowCancel"
    (click)="modal.dismiss(false)">
    {{ModelData?.cancel}}
  </button>
  <button type="button" class="btn btn-model btn-danger" (click)="modal.close(true)">
    {{ModelData?.ok}}
  </button>
</div>