<div class="page-title-container">
  <div class="container">
    <div class="page-title pull-left">
      <h2 class="entry-title">Hotel Details</h2>
    </div>
    <ul class="breadcrumbs pull-right">
      <li><a href="/home">HOME</a></li>
      <li><a style="cursor: pointer;" (click)="changeHotel()">Hotel List</a></li>
      <li class="active">Hotel Detailed</li>
    </ul>
  </div>
</div>
<section id="content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3" style="padding-top: 30PX;">
        <article class="detailed-logo">
          <figure *ngIf="Hotel.Image.length !=0">
            <img width="114" height="85" src="{{Hotel.Image[0].Url}}" alt="">
          </figure>
          <div class="details">
            <h2 class="box-title">{{Hotel.HotelName}}<small><i class="soap-icon-departure yellow-color"></i><span
                  class="fourty-space">{{Hotel.Address}}</span></small></h2>
          </div>
        </article>
      </div>
      <div id="main" class="col-md-9">
        <div id="hotel-features" class="tab-container">
          <ul class="tabs">
            <li class="active"><a href="#hotel-description" data-toggle="tab">Description</a></li>
            <li><a href="#hotel-availability" data-toggle="tab">Rates</a></li>
            <li><a href="#hotel-amenities" data-toggle="tab">Images</a></li>
            <li><a href="#hotel-write-review" data-toggle="tab">Map</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="hotel-description">
              <div class="long-description">
                <h2>About {{Hotel.HotelName}}</h2>
                <p [innerHtml]="Hotel.Description"></p>
                <h2 *ngIf="Hotel.Facility.length !=0">Hotel Amenities</h2>
                <ul class="amenities clearfix style1">
                  <li class="col-md-4 col-sm-6" *ngFor="let facility of Hotel.Facility">
                    <div class="icon-box style1">
                      <i *ngIf="facility.Name.includes('Bar')" class="soap-icon-winebar circle"></i>
                      <i *ngIf="facility.Name.includes('Car')" class="soap-icon-pickanddrop circle"></i>
                      <i *ngIf="facility.Name.includes('Breakfast')" class="soap-icon-breakfast circle"></i>
                      <i *ngIf="facility.Name.includes('Wifi') || facility.Name.includes('Internet')|| facility.Name.includes('Wi-fi')"
                        class="soap-icon-wifi circle"></i>
                      <i *ngIf="facility.Name.includes('Room Service') || facility.Name.includes('Porterage 24 Hour')"
                        class="soap-icon-phone circle"></i>
                      <i *ngIf="facility.Name.includes('Gym')" class="soap-icon-fitnessfacility circle"></i>
                      <i *ngIf="facility.Name.includes('Laundry')" class="soap-icon-fridge circle"></i>
                      <i *ngIf="facility.Name.includes('Business Centre')" class="soap-icon-conference circle"></i>
                      <i *ngIf="facility.Name.includes('Pet')" class="soap-icon-pets circle"></i>
                      <i *ngIf="facility.Name.includes('Air')" class="soap-icon-aircon circle"></i>
                      <i *ngIf="facility.Name.includes('Parking')" class="soap-icon-parking circle"></i>
                      &nbsp;&nbsp;{{facility.Name}}
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tab-pane fade" id="hotel-availability">
              <h2>Available Rates</h2>
              <div class="room-list listing-style3 hotel">
                <div *ngIf="objSearch.Rooms.length===1">
                  <div *ngFor="let rate of Hotel.List_RateGroup; let r = index">
                    <div class="post_info clearfix" *ngIf="r===0" style="background: #eee;">
                      <div class="post-left">
                        <h4 class="tiltle">Room No. {{ rate.RoomOccupancy[0].RoomNo }} ({{
                          rate.RoomOccupancy[0].AdultCount
                          }}
                          x <i class="icon-adult cursor" title="Adult"></i> &
                          {{ rate.RoomOccupancy[0].ChildCount }} x
                          <i class="icon_group cursor" title="Child"></i> in
                          each room)</h4>
                      </div>
                    </div>
                    <div class="padding" *ngFor="let occupancy of rate.RoomOccupancy; let oc = index">
                      <!-- <div class="post_info clearfix" *ngIf="r===0">
                        <div class="post-left">
                          <span class="">Room No. {{ occupancy.RoomNo }} ({{
                              occupancy.AdultCount
                            }}
                            x <i class="icon-adult cursor" title="Adult"></i> &
                            {{ occupancy.ChildCount }} x
                            <i class="icon_group cursor" title="Child"></i> in
                            each room)</span>
                        </div>
                      </div> -->
                      <div *ngFor="let rooms of occupancy.Rooms; let o = index ">
                        <div class="row">
                          <div class="col-12 col-sm-12 col-lg-5">
                            <div class="row">
                              <div class="col-8 col-sm-8 col-lg-8">
                                <span class="size13 room-name">{{
                                  rooms.RoomTypeName
                                }}</span>
                                <br />
                                <span class="size11">
                                  {{
                                    rooms.RoomDescription.length > 35
                                      ? (rooms.RoomDescription | slice: 0:35) + ".."
                                      : rooms.RoomDescription
                                  }}
                                </span>
                              </div>
                              <div class="col-4 col-sm-4 col-lg-4">
                                <span class="size12" *ngIf="
                                    rooms.AvailCount != 0 && 5 > rooms.AvailCount
                                  ">{{ rooms.AvailCount }} Rooms</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-sm-12 col-lg-3">
                            <div class="row">
                              <div class="col-9 col-sm-9 col-lg-9" *ngIf="rooms.CancellationPolicy.length !== 0">
                                <a *ngIf="
                                    rooms.CancellationPolicy[0].nonRefundable ==
                                    false
                                  " class="accordion-toggle" data-toggle="collapse" attr.data-parent="#Refundable{{
                                    Hotel.HotelId
                                  }}_{{ r }}_{{ oc }}_{{ o }}" href="#Refundable{{ Hotel.HotelId }}_{{ r }}_{{
                                    oc
                                  }}_{{ o }}">
                                  <span class="Refundable">Refundable</span>
                                </a>
                                <a *ngIf="
                                    rooms.CancellationPolicy[0].nonRefundable ==
                                    true
                                  " class="accordion-toggle" data-toggle="collapse" attr.data-parent="#nonRefundable{{
                                    Hotel.HotelId
                                  }}_{{ r }}_{{ oc }}_{{ o }}" href="#nonRefundable{{ Hotel.HotelId }}_{{
                                    r
                                  }}_{{ oc }}_{{ o }}">
                                  <span class="nonRefundable">Non Refundable</span>
                                </a>
                              </div>
                              <div class="col-9 col-sm-9 col-lg-9" *ngIf="rooms.CancellationPolicy.length === 0"></div>

                              <div class="col-lg-3 col-sm-3 col-3"
                                *ngIf="rooms.tariffNotes!='' && rooms.tariffNotes!=null">
                                <a href="#note{{
                                  Hotel.HotelId
                                }}_{{ r }}_{{ oc }}_{{ o }}" data-toggle="collapse">
                                  <i style="font-size: 24px;" title="click to show note"
                                    class="accordion-toggle pe-7s-info cursor">
                                  </i>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-sm-12 col-lg-4">
                            <div class="row">
                              <div class="col-8 col-sm-8 col-lg-8">
                                <span class="room-price size13 bold">
                                  {{ Hotel.Currency }}.
                                  {{ rooms.objCharges.TotalPrice.toFixed(2) }}
                                </span>
                              </div>
                              <div class="col-4 col-sm-4 col-lg-4">
                                <button style="float: right;" *ngIf="objSearch.Rooms.length == 1" type="button" (click)="
                                    blockRoomParams(
                                      rooms,
                                      occupancy.RoomCount,
                                      Hotel.ResultIndex,
                                      rate.RateIndex
                                    )
                                  " class="button btn-small black popup-map">
                                  Book
                                </button>

                                <select class="ch-frm form-control" (change)="SetRoomoccupancy($event, oc, o, rate)"
                                  [(ngModel)]="rooms._roomCount._selected" *ngIf="objSearch.Rooms.length != 1">
                                  <option value="{{ rms }}" *ngFor="
                                      let item of rooms._roomCount._rooms;
                                      let rms = index
                                    ">
                                    {{ rms }}</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row collapse" id="Refundable{{ Hotel.HotelId }}_{{ r }}_{{ oc }}_{{
                            o
                          }}" attr.data-parent="#Refundable{{ Hotel.HotelId }}_{{
                            r
                          }}_{{ oc }}_{{ o }}">
                          <div class="col-md-12">
                            <div class="alert alert-success" role="alert">
                              <strong>Cancellation Policy</strong><br />
                              <ul class="list_ok">
                                <li *ngFor="let c of rooms.CancellationPolicy">
                                  {{ Currency }}
                                  {{ c.CancellationFee.TotalPrice.toFixed(2) }}
                                  charge will apply if cancelled
                                  <span *ngIf="c.CancellationFee.TotalPrice.toFixed(2) ==0.00">before</span>
                                  <span *ngIf="c.CancellationFee.TotalPrice.toFixed(2) !=0.00">after</span>
                                  {{ c.dayMax }}
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>

                        <div class="row collapse" id="nonRefundable{{ Hotel.HotelId }}_{{ r }}_{{ oc }}_{{
                            o
                          }}" attr.data-parent="#nonRefundable{{ Hotel.HotelId }}_{{
                            r
                          }}_{{ oc }}_{{ o }}">
                          <div class="col-md-12">
                            <div class="alert alert-danger" role="alert">
                              <span>Cancellation Policy</span><br />
                              This is <b>Non-Refundable </b>booking, there will be
                              no cancellation or amendment possible once booked
                            </div>
                          </div>
                        </div>

                        <!-- Tariff Notes start -->

                        <div class="row collapse" *ngIf="rooms.tariffNotes!=='' && rooms.tariffNotes!==null" id="note{{ Hotel.HotelId }}_{{ r }}_{{ oc }}_{{
                          o
                        }}">
                          <div class="col-md-12">
                            <div class="col-md-12">
                              <div class="alert alert-secondary" role="alert" [innerHTML]="rooms.tariffNotes">
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Tariff Notes end -->
                        <div class="line3 clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- room details for multiple rooms -->

                <div *ngIf="objSearch.Rooms.length>1">
                  <div class="card" *ngFor="let rate of Hotel.List_RateGroup; let r = index">
                    <div class="card-header">
                      <h2>
                        <a class="accordion-toggle" data-toggle="collapse" href="#rateg{{ Hotel.HotelId }}_{{ r }}">
                          Rate Group {{ r + 1 }}
                          <small *ngIf="SupplierVisible" style="text-transform: initial;">
                            ({{ Hotel.Supplier }})
                          </small>
                        </a>
                      </h2>
                    </div>
                    <div id="rateg{{ Hotel.HotelId }}_{{ r }}" [ngClass]="r == 0 ? 'collapse show' : 'collapse'">
                      <div class="card-body">
                        <div class="nopadding" *ngFor="let occupancy of rate.RoomOccupancy; let oc = index">
                          <div class="post_info clearfix" style="background: #eee;">
                            <div class="post-left">
                              <h4 class="title">Room No. {{ occupancy.RoomNo }} ({{
                                  occupancy.AdultCount
                                }}
                                x <i class="icon-adult cursor" title="Adult"></i> &
                                {{ occupancy.ChildCount }} x
                                <i class="icon_group cursor" title="Child"></i> in
                                each room)</h4>
                            </div>
                          </div>
                          <div *ngFor="let rooms of occupancy.Rooms; let o = index">
                            <div class="row">
                              <div class="col-12 col-sm-12 col-lg-5">
                                <div class="row">
                                  <div class="col-8 col-sm-8 col-lg-8">
                                    <span class="size13 room-name">{{
                                      rooms.RoomTypeName
                                    }}</span>
                                    <br />
                                    <span class="size11">{{
                                      rooms.RoomDescription
                                    }}</span>
                                  </div>
                                  <div class="col-4 col-sm-4 col-lg-4">
                                    <span class="size12" *ngIf="
                                        rooms.AvailCount != 0 && 5 > rooms.AvailCount
                                      ">{{ rooms.AvailCount }} Rooms only</span>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 col-sm-12 col-lg-3">
                                <div class="row">
                                  <div class="col-9 col-sm-9 col-lg-9" *ngIf="rooms.CancellationPolicy.length !== 0">
                                    <a *ngIf="
                                        rooms.CancellationPolicy[0].nonRefundable ==
                                        false
                                      " class="accordion-toggle" data-toggle="collapse" attr.data-parent="#Refundable{{
                                        Hotel.HotelId
                                      }}_{{ r }}_{{ oc }}_{{ o }}" href="#Refundable{{ Hotel.HotelId }}_{{ r }}_{{
                                        oc
                                      }}_{{ o }}">
                                      <span class="Refundable pointer">Refundable</span>
                                    </a>
                                    <a *ngIf="
                                        rooms.CancellationPolicy[0].nonRefundable ==
                                        true
                                      " class="accordion-toggle" data-toggle="collapse" attr.data-parent="#nonRefundable{{
                                        Hotel.HotelId
                                      }}_{{ r }}_{{ oc }}_{{ o }}" href="#nonRefundable{{ Hotel.HotelId }}_{{
                                        r
                                      }}_{{ oc }}_{{ o }}">
                                      <span class="nonRefundable">Non Refundable</span>
                                    </a>
                                  </div>
                                  <div class="col-9 col-sm-9 col-lg-9" *ngIf="rooms.CancellationPolicy.length === 0">
                                  </div>
                                  <!-- <div class="col-3 col-sm-3 col-lg-3" >
                                                                  <div class="score cursor">
                                                                      <span><i class="icon_set_1_icon-74"></i></span>
                                                                  </div>
                                                              </div> -->
                                  <div class="col-lg-3 col-sm-3 col-3" *ngIf="rooms.tariffNotes">
                                    <i class="pe-7s-info cursor " style="font-size: 24px;" title="click to show note"
                                      class="accordion-toggle" data-toggle="collapse" attr.data-parent="#note{{
                                      Hotel.HotelId
                                    }}_{{ r }}_{{ oc }}_{{ o }}">
                                    </i>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 col-sm-12 col-lg-4">
                                <div class="row">
                                  <div class="col-8 col-sm-8 col-lg-8">
                                    <span class="room-price size13 bold">
                                      {{ Currency }}.
                                      {{ rooms.objCharges.TotalPrice.toFixed(2) }}
                                    </span>
                                  </div>
                                  <div class="col-4 col-sm-4 col-lg-4">
                                    <button style="float: right;" *ngIf="objSearch.Rooms.length == 1" type="button"
                                      (click)="
                                        blockRoomParams(rooms, occupancy.RoomCount, Hotel.ResultIndex, rate.RateIndex)"
                                      class="button btn-small black popup-map">
                                      Book
                                    </button>

                                    <select class="ch-frm form-control" (change)="SetRoomoccupancy($event, oc, o, rate)"
                                      [(ngModel)]="rooms._roomCount._selected" *ngIf="objSearch.Rooms.length != 1">
                                      <option value="{{ rms }}" *ngFor="
                                          let item of rooms._roomCount._rooms;
                                          let rms = index
                                        ">
                                        {{ rms }}</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row collapse" id="Refundable{{ Hotel.HotelId }}_{{ r }}_{{ oc }}_{{
                                o
                              }}" attr.data-parent="#Refundable{{ Hotel.HotelId }}_{{
                                r
                              }}_{{ oc }}_{{ o }}">
                              <div class="col-md-12">
                                <div class="alert alert-success" role="alert">
                                  <strong>Cancellation Policy</strong><br />
                                  <ul class="list_ok">
                                    <li *ngFor="let c of rooms.CancellationPolicy">
                                      {{ Currency }}
                                      {{ c.CancellationFee.TotalPrice.toFixed(2) }}
                                      charge will apply if cancelled after
                                      {{ c.dayMax }}
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>

                            <div class="row collapse" id="nonRefundable{{ Hotel.HotelId }}_{{ r }}_{{ oc }}_{{
                                o
                              }}" attr.data-parent="#nonRefundable{{ Hotel.HotelId }}_{{
                                r
                              }}_{{ oc }}_{{ o }}">
                              <div class="col-md-12">
                                <div class="alert alert-danger" role="alert">
                                  <span>Cancellation Policy</span><br />
                                  This is <b>Non-Refundable </b>booking, there will be
                                  no cancellation or amendment possible once booked
                                </div>
                              </div>
                            </div>

                            <!-- Tariff Notes start -->

                            <div class="row collapse" *ngIf="rooms.tariffNotes" id="note{{ Hotel.HotelId }}_{{ r }}_{{ oc }}_{{
                              o
                            }}" attr.data-parent="#note{{ Hotel.HotelId }}_{{
                              r
                            }}_{{ oc }}_{{ o }}">
                              <div class="col-md-12">
                                <div class="col-md-12">
                                  <div class="alert alert-secondary" role="alert" [innerHTML]="rooms.tariffNotes">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Tariff Notes end -->
                            <div class="line3 clearfix"></div>
                          </div>
                        </div>
                        <div class="row muloccupancy" *ngIf="objSearch.Rooms.length != 1">
                          <div class="col-md-8"></div>
                          <div class="col-md-4">
                            <div class="row">
                              <div class="col-md-8">
                                <span class="room-price size13 bold" style="float: right">{{ Currency }}
                                  {{ rate._commonPrice }}</span>
                              </div>
                              <div class="col-md-4">
                                <button style="float: right;" id="btn_{{ Hotel.HotelId }}_{{ r }}" type="button"
                                  class="button btn-small black popup-map" (click)="
                                    blockMultipleRoom(
                                      rate.RoomOccupancy,
                                      Hotel.ResultIndex,
                                      rate.RateIndex
                                    )
                                  ">
                                  Book
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="tab-pane fade" id="hotel-amenities">
              <div class="photo-gallery style1">
                <ul class="slides">
                  <li *ngFor="let Image of Hotel.Image">
                    <img src="{{Image.Url}}" alt="" />

                  </li>

                </ul>
              </div>
              <div class="image-carousel style1">
                <ul class="slides">
                  <li *ngFor="let Image of Hotel.Image">
                    <img src="{{Image.Url}}" alt="" />
                  </li>
                </ul>
              </div>
            </div>
            <div class="tab-pane fade" id="map-tab">
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
  <ngx-ui-loader></ngx-ui-loader>
</section>