<div class="cruise-list listing-style3 cruise" id="Nopackage" style="">
  <article class="box">
      <div class="col-sn-12 text-center" style="padding:65px 0px;">
        <h1 style="margin-bottom:0px;"> <i class="fa fa-exclamation-triangle"
            style="font-size: 71px;color: #4cb9f1;"></i></h1>
        <h2 style=" font-size:58px;">SORRY!!</h2>
        <h2 style="font-size:21px; color: #737373;">{{Service}} NOT FOUND</h2>
      </div>
  </article>
</div>