.mat-body, .mat-body-1, .mat-typography {
    font: 75%/150% "Lato", Arial, Helvetica, sans-serif;
}
.mat-h2, .mat-title, .mat-typography h2 {
    font:  75%/150% "Lato", Arial, Helvetica, sans-serif;
    margin: 0 0 16px;
}