::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #f9f9f9;
}

::-webkit-scrollbar-thumb {
  background-color: #f9f9f9;
  outline: 1px solid #f9f9f9;
}
