<div class="page-title-container">
  <div class="container">
    <div class="page-title pull-left">
      <h2 class="entry-title">Hotel Details</h2>
    </div>
    <ul class="breadcrumbs pull-right">
      <li><a href="/home">HOME</a></li>
      <li><a style="cursor: pointer;">Hotel List</a></li>
      <!-- (click)="changeHotel()" -->
      <li class="active">Hotel Booking</li>
    </ul>
  </div>
</div>
<section id="content">
  <div class="container margin_60">

    <div class="row">
      <div class="col-lg-8 add_bottom_15">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="ttl_night">
                <span id="travellerRooms">{{Data.listRate.length}}</span> Rooms /
                <span>{{Data.Search.Nights}}</span> Night(s)
              </div>
              <div class="row booking-section travelo-box">
                <div class="col-lg-4 col-md-4">
                  <a href="javascript:void();" *ngIf="Data.HotelDetails.Image.length!=0">
                    <img [src]="Data.HotelDetails.Image[0].Url" style="widows: 200px;height: 150px;"
                      onError="this.src='assets/img/no-image.png'" alt="Image">
                  </a>
                  <a href="javascript:void();" *ngIf="Data.HotelDetails.Image.length==0">
                    <img src="assets/img/no-image.png" class="image-box hotel listing-style1" alt="Image"
                      class="img-fluid styled">
                  </a>
                </div>
                <div class="col-lg-8 col-md-8">
                  <br />
                  <h4>
                    {{Data.HotelDetails.HotelName}} <app-star-ratings [Rating]="Data.HotelDetails.Category"
                      style="float: right;">
                    </app-star-ratings>
                    <br>
                    <small> {{Data.HotelDetails.Address}}</small>
                  </h4>

                  <div class="row" style="margin-top: -15px">
                    <div class="col-md-3">
                      <span>Check-In</span>
                      <div class="date">
                        <span class="month">{{checkin.month}}</span>
                        <span class="day"><strong>{{checkin.date}}</strong>{{checkin.day}}</span>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <span>Check-Out</span>
                      <div class="date">
                        <span class="month">{{checkout.month}}</span>
                        <span class="day"><strong>{{checkout.date}}</strong>{{checkout.day}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <form [formGroup]="form">
          <div class="row booking-section travelo-box" *ngIf="!showDetails">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h2>Travellers Details</h2>
                  <hr>
                </div>
                <div class="card-body">

                  <div class="roomCount" *ngFor="let room of rooms; let i=index">
                    <div class="row">
                      <div class="col-md-2">
                        <div class="circle">Room {{room.roomNumber}}</div>
                      </div>
                      <div class="col-md-10" formArrayName="customer">
                        <div class="row" [formGroupName]="guest.srno" *ngFor="let guest of room.sCustomer; let g=index">
                          <div class="col-md-4">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="travel" *ngIf="guest.type===1">Adult</div>
                                <div class="travel" *ngIf="guest.type===2">Child</div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Title</label>
                                  <select class="form-control paxtitle" [(ngModel)]="guest.title" *ngIf="guest.type===1"
                                    formControlName="title"
                                    [ngClass]="{ 'is-invalid': submitted && getcustomerFormGroup(guest.srno).controls['title'].errors }">
                                    <option [(value)]="name" *ngFor="let name of AdultTitle">{{name}}</option>
                                  </select>
                                  <select class="form-control paxtitle" [(ngModel)]="guest.title" *ngIf="guest.type===2"
                                    formControlName="title"
                                    [ngClass]="{ 'is-invalid': submitted && getcustomerFormGroup(guest.srno).controls['title'].errors }">
                                    <option [(value)]="name" *ngFor="let name of ChildTitle">{{name}}</option>
                                  </select>
                                  <div *ngIf="submitted && getcustomerFormGroup(guest.srno).controls['title'].errors"
                                    class="invalid-feedback">
                                    <div style="color:#dc3545"
                                      *ngIf="getcustomerFormGroup(guest.srno).controls['title'].hasError('required')">
                                      Title
                                      is required</div>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                          <div class="col-md-4">
                            <div class="form-group" *ngIf="guest.type!==2">
                              <label>First Name</label>
                              <input type="text" [(ngModel)]="guest.name" autocomplete="off" formControlName="name"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && getcustomerFormGroup(guest.srno).controls['name'].errors }">
                              <div *ngIf="submitted && getcustomerFormGroup(guest.srno).controls['name'].errors"
                                class="invalid-feedback">
                                <div style="color: #dc3545;"
                                  *ngIf="getcustomerFormGroup(guest.srno).controls['name'].hasError('required')">
                                  First Name is required
                                </div>
                                <div style="color: #dc3545;"
                                  *ngIf="getcustomerFormGroup(guest.srno).controls['name'].errors.pattern">
                                  only alphabets are allowed
                                </div>
                              </div>
                            </div>

                            <div class="form-group" *ngIf="guest.type===2">
                              <label>Name</label>
                              <input type="text" [(ngModel)]="guest.name" autocomplete="off" formControlName="name"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && getcustomerFormGroup(guest.srno).controls['name'].errors }">
                              <div *ngIf="submitted && getcustomerFormGroup(guest.srno).controls['name'].errors"
                                class="invalid-feedback">
                                <div style="color: #dc3545;"
                                  *ngIf="getcustomerFormGroup(guest.srno).controls['name'].hasError('required')">Name
                                  is
                                  required</div>
                                <div style="color: #dc3545;"
                                  *ngIf="getcustomerFormGroup(guest.srno).controls['name'].errors.pattern">
                                  only alphabets are allowed
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group" *ngIf="guest.type!==2">
                              <label>Last Name</label>
                              <input type="text" [(ngModel)]="guest.lastName" autocomplete="off"
                                formControlName="lastName" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && getcustomerFormGroup(guest.srno).controls['lastName'].errors }">
                              <div *ngIf="submitted && getcustomerFormGroup(guest.srno).controls['lastName'].errors "
                                class="invalid-feedback">
                                <div style="color: #dc3545;"
                                  *ngIf="getcustomerFormGroup(guest.srno).controls['lastName'].hasError('required')">
                                  Last
                                  Name is required</div>
                                <div style="color: #dc3545;"
                                  *ngIf="getcustomerFormGroup(guest.srno).controls['lastName'].errors.pattern">
                                  only alphabets are allowed
                                </div>
                              </div>
                            </div>
                            <div class="form-group" *ngIf="guest.type===2">
                              <label>Age</label>
                              <input type="text" autocomplete="off" readonly="readonly" [value]="guest.age"
                                class="form-control">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="alert alert-success" role="alert"
                              *ngIf="Data.listRate[i].CancellationPolicy.length!==0 && Data.listRate[i].CancellationPolicy[0].nonRefundable===false">
                              <ul class="list_ok">
                                <strong>Cancellation Policy</strong>
                                <li *ngFor="let c  of Data.listRate[i].CancellationPolicy">
                                  <span *ngIf="!c.nonRefundable">
                                    {{Data.Currency}}. {{c.CancellationFee.TotalPrice.toFixed(2)}} charge will apply if
                                    cancelled
                                    <span *ngIf="c.CancellationFee.TotalPrice.toFixed(2) ==0.00">before</span>
                                    <span *ngIf="c.CancellationFee.TotalPrice.toFixed(2) !=0.00">after</span>
                                    {{c.dayMax}}
                                  </span>
                                </li>
                              </ul>
                            </div>
                            <div class="alert alert-danger" role="alert"
                              *ngIf="Data.listRate[i].CancellationPolicy.length!==0 && Data.listRate[i].CancellationPolicy[0].nonRefundable===true">
                              <ul class="list_ok">
                                <strong>Cancellation Policy</strong>
                                <li *ngFor="let c  of Data.listRate[i].CancellationPolicy">
                                  <span *ngIf="c.nonRefundable">
                                    This is <b>Non-Refundable </b>booking, there will be no
                                    cancellation or amendment possible once booked
                                  </span>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <!-- Tariff Notes start -->
                        <div class="row" *ngIf="Data.listRate[i].tariffNotes">
                          <div class="col-md-12">
                            <div class="alert alert-general" role="alert">
                              <div style="padding-left: 40px;" [innerHTML]="Data.listRate[i].tariffNotes"></div>
                            </div>
                          </div>
                        </div>
                        <!-- Tariff Notes end -->

                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <hr />
                      <h2>Contact Details</h2>
                      <br />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Contact Number</label>
                        <input type="text" autocomplete="off" name="Phone" [(ngModel)]="mobile" placeholder=""
                          formControlName="phone" class="form-control"
                          [ngClass]="{ 'is-invalid':submitted && form.controls['phone'].errors }">
                        <div style="color: #dc3545;" *ngIf="submitted && form.controls['phone'].errors"
                          class="invalid-feedback">
                          <div *ngIf="form.controls['phone'].hasError('required')">
                            Contact no. is required
                          </div>
                          <div *ngIf="form.controls['phone'].errors.pattern">
                            Contact no. is not valid!
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Email </label>
                        <input type="email" autocomplete="off" name="Email" [(ngModel)]="email" placeholder=""
                          formControlName="email" class="form-control"
                          [ngClass]="{ 'is-invalid':submitted && form.controls['email'].errors }">
                        <div style="color: #dc3545;" *ngIf="submitted && form.controls['email'].errors"
                          class="invalid-feedback">
                          <div *ngIf="form.controls['email'].hasError('required')">
                            Email is required
                          </div>
                          <div style="color: #dc3545;" *ngIf="form.controls['email'].errors.email">Email must be a valid
                            email address</div>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Contact Person</label>
                        <input type="text" formControlName="company" [(ngModel)]="company" autocomplete="off"
                          class="form-control">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Remark</label>
                        <textarea name="" formControlName="remark" [(ngModel)]="remark" class="form-control"
                          rows="3"></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-7">
                      <mat-checkbox (change)="changeTermsStatus()" [checked]="termsncondition">
                        I accept the cancellation policy and <a href="javascript:void();" (click)="termCondition()">
                          terms & conditions</a>
                      </mat-checkbox>
                      <div *ngIf="submitted && termsncondition==false" style="color: #dc3545;">
                        please accept Term and Condition
                      </div>
                    </div>
                    <div class="col-md-5 text-right" *ngIf="isB2B">
                      <div class="row">
                        <div class="col-md-6">
                          <button type="button" (click)="Book(true)" class="btn_1">Pay Online</button>
                        </div>
                        <div class="col-md-6">
                          <button type="button" (click)="Book(false)" class="btn_1">Use Wallet</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5 text-right" *ngIf="!isB2B">
                      <button type="button" (click)="Book(true)" class="btn_1">Book Now</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="row" *ngIf="showDetails">
          <div class="col-md-12 travelo-box">
            <app-traveller-details (Pay)="Payment($event)" (editCustomer)="changeStatus($event)"
              [Reservationdata]="Data" [CustumerDetail]="arrConfirm" [usePaymentGetway]="usePaymentGetway">
            </app-traveller-details>
          </div>
        </div>

        <!-- *ngIf="showDetails" -->
      </div>
      <aside class="col-lg-4 sidebar" id="sidebar">
        <div class="theiaStickySidebar">
          <div class="box_style_1 booking-section travelo-box" *ngFor="let room of Data.listRate; let i=index">
            <div class="price_hed">
              <div class="row">
                <div class="col-md-5"> <b>Room {{room.RoomNo}}</b></div>
                <div class="col-md-7 text-right">
                  <span *ngIf="room.ChildCount!=0"> {{room.AdultCount}} Adults, {{room.ChildCount}}
                    Childs,({{Data.Search.Rooms[i].ChildAges}}yrs)
                  </span>
                  <span *ngIf="room.ChildCount==0"> {{room.AdultCount}} Adults
                  </span>
                </div>
              </div>
            </div>
            <table class="table table_summary">
              <tbody>
                <tr>
                  <td colspan="2">
                    <span>{{room.RoomTypeName}}</span>
                    <br>
                    <span style="font-size: 10px;">
                      {{room.RoomDescription}}
                    </span>

                  </td>
                </tr>
                <tr>
                  <td>
                    Price
                  </td>
                  <td class="text-right">
                    {{Data.Currency}}. {{room.objCharges.TotalPrice.toFixed(2)}}
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <a class="rate-breakup" title="click here to show rates" data-toggle="collapse" href="#{{i}}"
                      role="button" aria-expanded="false" aria-controls="1">
                      Rate Breakup
                    </a>
                    <div class="collapse" id="{{i}}">
                      <div class="row" *ngFor="let date of room.dates">
                        <div class="col-md-5 text-right">{{date.datetime}}</div>
                        <div class="col-md-7 text-left">{{Data.Currency}}. {{date.Total.toFixed(2)}}</div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="box_style_1">

            <table class="table table_summary">
              <tbody>
                <tr>
                  <td>
                    <b>Room Total</b>
                  </td>
                  <td class="text-right">
                    {{Data.Currency}}. {{Data.objCharge.TotalPrice.toFixed(2)}}
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <a class="rate-breakup" title="click here to show GST Details" data-toggle="collapse" href="#GST"
                      role="button" aria-expanded="false" aria-controls="1">
                      <b>GST Details</b>
                    </a>
                    <div class="collapse" id="GST">
                      <div *ngFor="let gst of Data.objCharge.GSTdetails">
                        <div class="row text-right">
                          <div class="col-md-6">
                            {{gst.Type}} {{gst.PerCentage}}%
                          </div>
                          <div class="col-md-6">
                            {{Data.Currency}}. {{gst.Amount.toFixed(2)}}
                          </div>
                        </div>
                        <!-- <mat-divider></mat-divider> -->
                      </div>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="isB2B && Data.objCharge.Commission!==0">
                  <td>
                    <b>Commission</b>
                  </td>
                  <td class="text-right">
                    {{Data.Currency}}. {{Data.objCharge.Commission.toFixed(2)}}
                  </td>
                </tr>
                <tr *ngIf="isB2B && Data.objCharge.TDS!==0">
                  <td>
                    <b>TDS</b>
                  </td>
                  <td class="text-right">
                    {{Data.Currency}}. {{Data.objCharge.TDS.toFixed(2)}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Discount</b>
                  </td>
                  <td class="text-right">
                    {{Data.Currency}}. {{Data.objCharge.Discount.toFixed(2)}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <span style="font-size: 16px;">Total Payable</span>
                  </td>
                  <td class="text-right">
                    {{Data.Currency}}. {{Data.objCharge.TotalPrice.toFixed(2)}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </aside>

    </div>
    <!--End row -->
    <ngx-ui-loader></ngx-ui-loader>
  </div>
  <!--End container -->
</section>