.box_style_1 {
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin-bottom: 25px;
    padding: 0px !important;
    position: relative;
    color: #666;
}


.box_style_1 .price_hed {
    margin: 0px 0px 0px 0px !important;
    background-color: #565a5c;
    padding: 5px 5px 5px 5px !important;
    color: #fff;
    border: 1px solid #fff;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px !important;
    background-color: transparent;
}

.rate-breakup{
    color: #666 !important;
}

.img-fluid.styled {
    margin-top: 0px !important;
    height: 235px !important;
    width: 400px !important;
    border: 5px solid#fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(253, 67, 67, 0.1);
}

.date {
    background-color: #f8f8f8;
    text-align: center;
}

.strip_booking .date .month {
    background-color:rgb(228, 64, 73);
    display: block;
    color: #fff;
    text-transform: uppercase;
}

.date .month {
    background-color:rgb(228, 64, 73);
    display: block;
    color: #fff;
    text-transform: uppercase;
}

.date .day {
    padding: 8px !important;
    margin-top: 1px;
    color: #999;
    text-transform: uppercase;
    display: block;
}

.date .day strong {
    font-size: 36px;
    font-weight: normal;
    display: block;
    color:rgb(228, 64, 73);
    margin-bottom: 3px;
}

.ttl_night {
    background:rgb(228, 64, 73);
    border-radius: 0 4px 0 0;
    text-align: center;
    color: #fff;
    font-size: 12px;
    margin: 4px 0 6px;
    padding: 2px 8px;
    position: absolute;
    top: -4px;
    right: 0;
}

.card-body{
    padding: 15px !important;
}

.roomCount {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 25px;
}

.circle {
    position: absolute;
    background: rgb(228, 64, 73);
    border-radius: 100%;
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    z-index: 2;
    font-size: 12px;
    color:#fff;
    top: 60px;
    bottom: 0;
    margin: auto;
}

.roomCount::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 33px;
    top: 0;
    bottom: 0;
    border: 1px solid #d6d5d5;
    border-width: 0 0 0 1px;
}

.travel{
    float: left;
    font-size: 12px;
    color: #444;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    padding-top: 20px;
}

.form-control{
    cursor: pointer;
}

ul.list_ok {
    list-style: none;
    margin: 0 0 0 0 !important;
    padding: 0;
    line-height: 22px;
    padding-left: 40px;
}

.alert {
    position: relative;
    padding: .50rem 1rem !important;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.paxtitle{
    padding: 0px 3px;
}

.list-group-item:first-child {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}