<div class="col-sm-6 col-md-4">
  <article class="box">
    <figure>
      <a style="cursor: pointer;">
        <ngx-skeleton-loader count="1" appearance="circle"
          [theme]="{ width: '258px',height: '161px','border-radius': '10px'}"> </ngx-skeleton-loader>
      </a>
    </figure>
    <div class="details">
      <span class="price">
        <ngx-skeleton-loader count="1" appearance="line"> </ngx-skeleton-loader>
      </span>
      <h4 class="box-title">
        <ngx-skeleton-loader count="1" appearance="line"> </ngx-skeleton-loader>
        <small>
          <ngx-skeleton-loader count="1" appearance="line"> </ngx-skeleton-loader>
        </small>
      </h4>
      <p class="description">
        <ngx-skeleton-loader count="1" appearance="line"> </ngx-skeleton-loader>
      </p>
    </div>
  </article>
</div>