.box_style_1 {
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ddd;
  margin-bottom: 25px;
  padding: 0px !important;
  position: relative;
  color: #666;
}

.box_style_1 .price_hed {
  margin: 0px 0px 0px 0px !important;
  background-color: #565a5c;
  padding: 5px 5px 5px 5px !important;
  color: #fff;
  border: 1px solid #fff;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0px !important;
  background-color: transparent;
}

.card-body {
  padding: 10px !important;
  line-height: 1.6 !important;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #fff !important;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.no-padding {
  padding: 3px !important;
}

a:not([href]):not([tabindex]) {
  color: #e44049 !important;
}

.divider {
  margin-top: 5px;
  margin-bottom: 5px;
}

.margin-left-24 {
  margin-left: -24px;
}

.rate-breack {
  height: 25px !important;
}

.sp-rate-breack {
  font-size: 12px !important;
  color: #666 !important;
}

/* #btn:after {
    font-family: "Glyphicons Halflings";
    content: "\e114";
    margin-left: 11px;
  }
  
  #btn.collapsed:before {
    content: "\e688";
} */

@media only screen and (max-width: 600px) {
  .h-addres {
    margin-top: 10px;
  }
}
