::ng-deep .daterangepicker_input {
  display: none;
}
.journey {
  margin-right: 16px;
}

.mat-option {
  height: 50px !important;
  line-height: 20px !important;
  border-bottom: 1px solid #ccc;
  padding: 0px 5px;
}

.airport {
  font-size: 12px;
  color: #727b82;
}

.airport-code {
  font-size: 14px;
  color: #020004;
  line-height: 25px;
}

/* =================================== */
/*  Booking
/* =================================== */
/*==== Booking Page =====*/
.travellers-class {
  position: relative;
}

.travellers-class-input {
  cursor: pointer;
}

.travellers-class-input[readonly] {
  background: #fff;
}

.travellers-dropdown {
  position: absolute;
  display: none;
  -webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.176);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.176);
  z-index: 11;
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  min-width: 300px;
  width: 100%;
}

.travellers-dropdown.active {
  display: block;
}
.travellers-dropdown .qty .qty-spinner {
  background: none;
  border: none;
  pointer-events: none;
  text-align: center;
  padding: 0.2rem 0.2rem;
}
.travellers-dropdown .qty .btn {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 0.25rem !important;
}

@media (max-width: 991px) {
  .travellers-dropdown {
    min-width: inherit;
  }
}
.icon-inside {
  position: absolute;
  right: 15px;
  top: calc(50% - 11px);
  pointer-events: none;
  font-size: 18px;
  font-size: 1.125rem;
  color: #c4c3c3;
  z-index: 3;
}

.btn-number {
  font-size: 7px;
}
.input-number {
  text-align: center;
  background: #fff;
  height: 34px !important;
}

.traveller-heading {
  margin: 0px 0px 0px 0px !important;
}
