<div class="title-container">
    <h2 class="search-title">Search and Book Flights</h2>
    <p>We're bringing you a new level of comfort.</p>
    <i class="soap-icon-plane-right takeoff-effect"></i>
</div>
<div class="search-content">
    <div class="row">
        <div class="col-md-9">
            <mat-radio-group aria-label="Select an option" [(ngModel)]="JourneyType"
                (ngModelChange)="onJourneyType(JourneyType)">
                <mat-radio-button style="font-weight: normal;" class="journey sr-text-color"
                    *ngFor="let journey of Journey" [value]="journey.id">
                    {{journey.name}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="col-md-3">
            <mat-checkbox class="sr-text-color" style="font-weight: normal;" [(ngModel)]="Direct"
                (ngModelChange)="onDirect($event)">
                Non Stop Flights
            </mat-checkbox>
        </div>
    </div>
    <hr>
    <div class="row" *ngFor="let destination of Destinations; let first=first; let i=index">
        <div class="col-md-8">
            <h5 class="title">Where</h5>
            <div class="row">
                <div class="col-xs-6">
                    <label style="font-weight: normal;">From</label>
                    <input type="text" class="input-text full-width" placeholder="enter your location"
                        [matAutocomplete]="Origin" (keyup)="getAirports($event, i, 'origin')"
                        [(ngModel)]="destination.Origin" placeholder="From...">
                    <mat-autocomplete #Origin="matAutocomplete">
                        <mat-option *ngFor="let airport of destination.OriginAirports" [value]="airport.value"
                            (onSelectionChange)="onAirportselect(airport.id, i, 'origin')">
                            <span class="airport-code"> <i class="soap-icon-plane"></i>
                                {{airport.value}}</span><br>
                            <small class="airport">{{airport.AirportName}}</small>
                        </mat-option>
                    </mat-autocomplete>
                </div>
                <div class="col-xs-6">
                    <label style="font-weight: normal;">Destination</label>
                    <input type="text" class="input-text full-width" placeholder="enter a destination"
                        [matAutocomplete]="Destination" (keyup)="getAirports($event, i, 'destination')"
                        [(ngModel)]="destination.Destination" placeholder="Where...">
                    <mat-autocomplete #Destination="matAutocomplete">
                        <mat-option *ngFor="let airport of destination.DestinationAirports" [value]="airport.value"
                            (onSelectionChange)="onAirportselect(airport.id, i, 'destination')">
                            <span class="airport-code"> <i class="soap-icon-plane"></i>
                                {{airport.value}}</span><br>
                            <small class="airport">{{airport.AirportName}}</small>
                        </mat-option>
                    </mat-autocomplete>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h5 class="title">When</h5>
            <div class="row">
                <div class="col-xs-12">
                    <label style="font-weight: normal;">Depart/Return</label>
                    <div class="datepicker-wrap">
                        <input type="text" class="input-text full-width" placeholder="select date" name="daterangeInput"
                            daterangepicker [options]="destination.option" (selected)="choosedDate($event, i)" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2" style="float: right;">
            <br>
            <button class="soap-icon-plus full-width" *ngIf="!first && Destinations.length===2" (click)="onAddcity()">
                &nbsp;&nbsp; Add City
            </button>
            <button class="soap-icon-minus full-width" *ngIf="!first && i===2"
                (click)="onRemovecity()">&nbsp;&nbsp;Remove</button>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-7">
            <h5 class="title">Who</h5>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <label style="font-weight: normal;">Adults</label>
                    <input type="text" (click)="onShow()" [value]="Guests" class="input-text full-width">
                    <div (mouseover)="onMouseover(true)" (mouseout)="onMouseover(false)"
                        [ngClass]="show===true ? 'travellers-dropdown active' : 'travellers-dropdown'">
                        <div class="row align-items-center">
                            <div class="col-sm-8">
                                <p class="mb-sm-0 traveller-heading">Adults <small class="text-muted">(12+
                                        yrs)</small></p>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-number" data-type="minus"
                                            (click)="onTraveller('ad', 'minus')">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>
                                    <input type="text" readonly="readonly" class="form-control input-number"
                                        [(ngModel)]="Search.AdultCount">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-number" data-type="plus"
                                            (click)="onTraveller('ad', 'plus')">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <hr class="my-2">
                        <div class="row align-items-center">
                            <div class="col-sm-8">
                                <p class="mb-sm-0 traveller-heading">Children <small class="text-muted">(2-12
                                        yrs)</small></p>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-number" data-type="minus"
                                            (click)="onTraveller('ch', 'minus')">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>
                                    <input type="text" readonly="readonly" class="form-control input-number"
                                        [(ngModel)]="Search.ChildCount">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-number" data-type="plus"
                                            (click)="onTraveller('ch', 'plus')">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <hr class="my-2">
                        <div class="row align-items-center">
                            <div class="col-sm-8">
                                <p class="mb-sm-0 traveller-heading">Infants <small class="text-muted">(Below 2
                                        yrs)</small></p>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-number" data-type="minus"
                                            (click)="onTraveller('in', 'minus')">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>
                                    <input type="text" readonly="readonly" class="form-control input-number"
                                        [(ngModel)]="Search.InfantCount">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-number" data-type="plus"
                                            (click)="onTraveller('in', 'plus')">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-5">
            <h5 class="title">Class</h5>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <label style="font-weight: normal;">Class of travel</label>
                    <select class="input-text full-width" style="height: 40px" [(ngModel)]="Class">
                        <option [value]="seat.name" *ngFor="let seat of Seats">{{seat.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <button type="button" class="full-width btn-medium" (click)="onSearch()">PROCEED TO RESULT</button>
</div>