<div class="panel-dropdown-content" *ngFor="let traveller of Traveller; let i=index">
  <hr *ngIf="i!=0" class="my-2" />
   <label><b>Room {{i+1}}</b></label>
  <!-- Quantity Buttons -->
  <div class="qtyButtons tours">
      <label>Adults (12+ yrs)</label>
      <div class="qtyDec tours  soap-icon-minus" (click)="changeTravellers(i,minus,'ad')"></div>
      <input type="text" name="qtyInput_tours" [(ngModel)]="traveller.adults"  [(value)]="traveller.adults">
      <div class="qtyInc tours soap-icon-plus" (click)="changeTravellers(i,plus,'ad')"></div>
  </div>
  <div class="qtyButtons tours">
      <label>Child (2-12 yrs)</label>
      <div class="qtyDec tours soap-icon-minus" (click)="changeTravellers(i,minus,'ch')"></div>
      <input type="text" name="qtyInput_tours" [(ngModel)]="traveller.childs.length"  [(value)]="traveller.childs.length">
      <div class="qtyInc tours soap-icon-plus" (click)="changeTravellers(i,plus,'ch')"></div>
  </div>
  <div class="row align-items-center">
    <div class="ch-col col-md-4" *ngFor="let c of traveller.childs; let j=index">
      <small class="ch-age">Child{{j+1}} Age</small>
        <div class="qty input-group">
            <select [(ngModel)]="c.childAge" class="ch-frm" style="cursor: pointer;width: 200px;">
                <option *ngFor="let age of c.ages" [value]="age">{{age}}</option>
            </select>
        </div>
      </div> 
  </div>
</div>
<hr class="my-2" />
<div class="row align-items-center">
<div class="col-sm-12">
  <a class="addroom" id="addr" *ngIf="4>Traveller.length" (click)="Addrooms(Traveller.length)"><i class="soap-icon-plus"></i> Add Room</a>
  <a class="addroom removeroom" *ngIf="Traveller.length===1" id="rmv" (click)="RemoveRoom()" style="display: none">x</a>
  <a class="addroom removeroom" *ngIf="Traveller.length>1" id="rmv" (click)="RemoveRoom()"><i class="soap-icon-minus "></i> Remove</a>
  </div>
</div>