
.k-listbox .k-item, .k-popup .k-list .k-item {
    border-bottom: 1px dotted;
    border-bottom-color: #ffffff;
}
/* =================================== */
/*  Booking
/* =================================== */
/*==== Booking Page =====*/
.travellers-class {
    position: relative;
}

.travellers-class-input {
    cursor: pointer;
}

    .travellers-class-input[readonly] {
        background: #fff;
    }


    .qty .qty-spinner {
        background: none;
        border: none;
        pointer-events: none;
        text-align: center;
        padding: .2rem .2rem;
        margin-top:-5px; 
    }

    .qty .btn {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 8px;
        border-radius: 0px !important;
        height: 25px;
        width: 25px;
        background: #555;
        border: none;
    }

.form-control {
    cursor: pointer;
}

.ch-age{
    font-size: 8px !important;
    margin-bottom: 0px !important;
}

.ch-frm{
    height: 24px !important;
    padding: 3px !important;
}

.ch-col{
    width: 20% !important;
    margin-left: 10px;
}

.plus_box1 {
    background-color: #f63869;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 23px;
    margin-right: 0;
    outline: none;
    width: 26px;
    height: 26px;
    -moz-border-radius: 50%;
    line-height: 0;
}

.addroom {
    margin-top: 4px;
    color: #44aa00;
    padding: 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-left: 6px;
    margin-bottom: 6px;
    font-size: 11px;
    border: 1px solid #44aa00;
    padding: 0px 5px;
    float: left;
    -webkit-transition: all 0.5s;
    text-decoration: none;
    cursor: pointer;
    display: block;
}

.removeroom {
    color: #e00005;
    border-color: #f7941d;
}

.roomTxt {
    color: #000;
    font-weight: 600;
    margin-bottom: 1px;
}

.exitroom {
    color: #ffffff !important;
    background: #f7941d;
    float: right;
    margin-right: 6px;
    border-color: #f7941d;
    display: block;
    padding: 0px 15px;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

/*Panel*/
.panel-dropdown {
    position: relative;
    text-align: left;
    padding: 15px 10px 0 15px;
}
.panel-dropdown .panel-dropdown-content {
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 99;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 12px 35px 2px rgba(0,0,0,.12);
    padding: 15px 15px 0 15px;
    white-space: normal;
    width: 280px;
}
.panel-dropdown.active .panel-dropdown-content {
    opacity: 1;
    visibility: visible;
}
.panel-dropdown {
    position: relative;
    text-align: left;
    padding: 15px 10px 0 15px;
}
.qtyButtons {
    display: flex;
    margin: 0 0 13px 0;
}
.qtyDec, .qtyInc {
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 28px;
    font-size: 1.75rem;
    background-color: #f2f2f2;
    -webkit-text-stroke: 1px #f2f2f2;
    color: #333;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    
    cursor: pointer;
    font-family: ElegantIcons;
}

.qtyButtons input {
    outline: 0;
    font-size: 16px;
    font-size: 1rem;
    text-align: center;
    width: 50px;
    height: 36px!important;
    color: #333;
    line-height: 36px;
    margin: 0!important;
    padding: 0 5px!important;
    border: none;
    box-shadow: none;
    pointer-events: none;
    display: inline-block;
    border: none!important;
}


.qtyButtons label {
    font-weight: 500;
    line-height: 36px;
    padding-right: 15px;
    display: block;
    flex: 1;
    color: #727b82;
}
