<section id="content" class="gray-area">
	<div class="container">
		<div id="main">
			<div class="tab-container full-width-style arrow-left dashboard">
				<ul class="tabs">
					<li class=""><a data-toggle="tab" [routerLink]="['/profile']">
							<i class="soap-icon-user circle"></i>
							Profile</a>
					</li>
					<li class="active"><a data-toggle="tab" [routerLink]="['/change-password']"><i
								class="soap-icon-settings circle"></i>Settings</a></li>
				</ul>
				<div class="tab-content">
					<div id="settings" class="tab-pane fade in active">
						<h2>Account Settings</h2>
						<h5 class="skin-color">Change Your Password</h5>
						<form [formGroup]="Passwordfrm" (ngSubmit)="CheckValidation()">
							<div class="row form-group">
								<div class="col-md-4">
									<label>Old Password</label>
									<input type="text" class="full-width" formControlName="Password" name="old_password"
										[(ngModel)]="UserCred.Password" id="old_password" type="password"
										[ngClass]="{ 'is-invalid': submitted && f.Password.errors }">
									<div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
										<div *ngIf="f.Password.errors.required">Old Password is required</div>
									</div>
								</div>
								<div class="col-md-4">
									<label>Enter New Password</label>
									<input type="text" class="full-width" formControlName="_Confirm" name="new_password"
										[(ngModel)]="UserCred.ConfirmPassword" id="new_password" type="password"
										[ngClass]="{ 'is-invalid': submitted && f._Confirm.errors }">
									<div *ngIf="submitted && f._Confirm.errors" class="invalid-feedback">
										<div *ngIf="f._Confirm.errors.required">New Password is required
										</div>
										<!-- <div *ngIf="Passwordfrm.errors.equalValue">password mismatch</div> -->
									</div>
								</div>
								<div class="col-md-4">
									<label>Confirm New password</label>
									<input type="text" class="full-width" formControlName="ConfirmNew"
										name="confirm_new_password" [(ngModel)]="UserCred.ConfirmNewPassword"
										id="confirm_new_password" type="password"
										[ngClass]="{ 'is-invalid': submitted && f.ConfirmNew.errors }">
									<div *ngIf="submitted && f.ConfirmNew.errors " class="invalid-feedback">
										<div *ngIf="f.ConfirmNew.errors.required">Confirm New Password
											is
											required</div>
										<div *ngIf="f.ConfirmNew.errors.mustMatch">password mismatch</div>
									</div>
								</div>
							</div>
							<div class="form-group" style="float: right;">
								<button type="submit" class="btn-medium">UPDATE PASSWORD</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>