<div>
  <div class="content-container">
    <mat-icon style="float: right;" id="close-icon" (click)="closeDialog()">close</mat-icon>
    <br>
    <span style="font-size: 18px;" class="content-span full-width">{{data.message}}</span>
  </div>
  <br>
  <div style="float: right;">
    <button mat-flat-button id="no-button" [mat-dialog-close]="false">NO</button>&nbsp;&nbsp;&nbsp;
    <button mat-flat-button id="yes-button" [mat-dialog-close]="true">YES</button>
  </div>
</div>