<div class="five-stars-container" data-placement="bottom" data-toggle="tooltip" title="2 stars">
  <span class="five-stars" *ngIf="Rating==0" style="width: 0%;"></span>
  <span class="five-stars" *ngIf="Rating==1" style="width: 20%;"></span>
  <span class="five-stars" *ngIf="Rating==2" style="width: 40%;"></span>
  <span class="five-stars" *ngIf="Rating==3" style="width: 60%;"></span>
  <span class="five-stars" *ngIf="Rating==4" style="width: 80%;"></span>
  <span class="five-stars" *ngIf="Rating==5" style="width: 100%;"></span>
</div>
