<section id="content">
  <div class="container">
      <div id="main">
          <!-- <div id="map_contact" class="travelo-google-map block"></div>
          <br /> -->
          <br />
          <div class="travelo-box box-full">
              <div class="contact-form">
                  <h2>Send us a Message</h2>
                  <form [formGroup]="contactfrm" (ngSubmit)="CheckValidation()">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>First Name</label>
                          <input type="text" autocomplete="off" formControlName="Firstname" required [(ngModel)]="contact.Firstname" placeholder="Enter First Name"  formControlName="Firstname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Firstname.errors }">
                            <div *ngIf="submitted && f.Firstname.errors" class="invalid-feedback">
                              <div *ngIf="f.Firstname.errors.required">First Name is required</div>
                            </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Last Name</label>
                          <input type="text" autocomplete="off" formControlName="Lastname" required [(ngModel)]="contact.Lastname" placeholder="Enter Last Name"  formControlName="Lastname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Lastname.errors }">
                            <div *ngIf="submitted && f.Lastname.errors" class="invalid-feedback">
                              <div *ngIf="f.Lastname.errors.required">Last Name is required</div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <!-- End row -->
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Email</label>
                          <input type="email" autocomplete="off" name="Email" [(ngModel)]="contact.Email" placeholder="Enter Email" formControlName="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }">
                            <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                              <div *ngIf="f.Email.errors.required">Email is required</div>
                                <div *ngIf="f.Email.errors.email">Email must be a valid email address</div>
                              </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Phone</label>
                          <input type="text" autocomplete="off" formControlName="Phone" required [(ngModel)]="contact.Phone" placeholder="Enter Phone number"  formControlName="Phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Phone.errors }">
                          <div *ngIf="submitted && f.Phone.errors" class="invalid-feedback">
                            <div *ngIf="f.Phone.errors.required">Phone No is required</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label>Message</label>
                          <textarea rows="5"  autocomplete="off" formControlName="Message" required [(ngModel)]="contact.Message" placeholder="Write your message"  formControlName="Message" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Message.errors }"></textarea>
                          <div *ngIf="submitted && f.Message.errors" class="invalid-feedback">
                            <div *ngIf="f.Message.errors.required">Message is required</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <button class="btn-medium full-width" type="submit">SEND MESSAGE</button>
                        <!-- <input type="submit" value="SEND MESSAGE" class="btn-medium full-width"> -->
                      </div>
                    </div>
                  </form>
              </div>
          </div>
          <br />
          <div class="contact-address row block">
            <div class="col-md-4">
                <div class="icon-box style5" style="height: 95px">
                    <i class="soap-icon-phone"></i>
                    <div class="description">
                        <small>CALL</small>
                        <h5>+91 712 6649585 - 589 
                            <br />
                            +91 712 6641411 - 415
                        </h5>


                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box style5" style="height: 95px">
                    <i class="soap-icon-message"></i>
                    <div class="description">
                        <small>Send us email on</small>
                        <h5>ticketing@uniglobeidealtours.in<br />
                            vacations@uniglobeidealtours.in
                        </h5>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box style5" style="height: 95px">
                    <i class="soap-icon-address"></i>
                    <div class="description">
                        <small>meet us at</small>
                        <h5>Golden Palace, WHC Road,Near Sudama Theatre, Dharampeth,Nagpur, Maharashtra 440010</h5>
                    </div>
                </div>
            </div>
        </div>
       
      </div>
  </div>
 
</section>