.filters-container.toggle-container .panel.style1 .panel-content {
    padding: 0px 20px 0px;
}
.filters-container ul.filters-option li {
    margin-bottom: 1px;
    background: #f5f5f5;
    padding: 10px 15px 10px;
}.filters-container.toggle-container .panel.style1 {
    border: none;
    margin-bottom: -10px;
    background: #fff;
}
.mat-checkbox-layout .mat-checkbox-label {
    line-height: 24px;
    padding-top: 10px;
}
.filters-option{
    padding-top: 10PX;
}