


<div class="panel style1 arrow-right">
    <h4 class="panel-title">
        <a data-toggle="collapse" href="#rating-filter" class="active">Filters</a>
    </h4>
    <div id="rating-filter" class="panel-collapse collapse in">
        <div class="panel-content">
          <a class="button btn-mini full-width" style="font-size:small ;">Rating</a>
            <ul class="filters-option">
                <li *ngFor="let category of Category">
                    <mat-checkbox [(ngModel)]="category.Checked" *ngIf="category.Name==='5'"
                        (change)="Commonfilter(category.Checked, category.Name, 's')">
                        <app-star-ratings [Rating]="5" ></app-star-ratings>
                        ({{category.Count}})
                    </mat-checkbox>
                    <mat-checkbox [(ngModel)]="category.Checked" *ngIf="category.Name==='4'"
                        (change)="Commonfilter(category.Checked, category.Name, 's')">
                        <app-star-ratings [Rating]="4" ></app-star-ratings>
                        ({{category.Count}})
                    </mat-checkbox>
                    <mat-checkbox [(ngModel)]="category.Checked" *ngIf="category.Name==='3'"
                        (change)="Commonfilter(category.Checked, category.Name, 's')">
                        <app-star-ratings [Rating]="3" ></app-star-ratings>
                        ({{category.Count}})
                    </mat-checkbox>
                    <mat-checkbox [(ngModel)]="category.Checked" *ngIf="category.Name==='2'"
                        (change)="Commonfilter(category.Checked, category.Name, 's')">
                        <app-star-ratings [Rating]="2" ></app-star-ratings>
                        ({{category.Count}})
                    </mat-checkbox>
                    <mat-checkbox [(ngModel)]="category.Checked" *ngIf="category.Name==='1'"
                        (change)="Commonfilter(category.Checked, category.Name, 's')">
                        <app-star-ratings [Rating]="1" ></app-star-ratings>
                        ({{category.Count}})
                    </mat-checkbox>
                    <mat-checkbox [(ngModel)]="category.Checked" *ngIf="category.Name==='0'"
                        (change)="Commonfilter(category.Checked, category.Name, 's')">
                        <app-star-ratings [Rating]="0" ></app-star-ratings>
                        ({{category.Count}})
                    </mat-checkbox>
                </li>
            </ul>

            <app-hotelfilter-loder *ngIf="Category.length==0"></app-hotelfilter-loder>
            <hr>
            <a class="button btn-mini full-width" style="font-size:small ;">Facility</a>
            <ul class="filters-option">
              <li *ngFor="let facility of Facility">
                  <mat-checkbox [(ngModel)]="facility.Checked"
                      (change)="Commonfilter(facility.Checked, facility.icon, 'f')">
                      {{facility.Name}} ({{facility.Count}})
                  </mat-checkbox>
              </li>
          </ul>
          <app-hotelfilter-loder *ngIf="Category.length==0"></app-hotelfilter-loder>
          <br />
        </div>
    </div>
</div>