<h4 class="panel-title">
  <a data-toggle="collapse" href="#modify-search-panel" class="collapsed">Modify
    Search</a>
</h4>
<div id="modify-search-panel" class="panel-collapse collapse">
  <div class="panel-content">
    <div class="form-group">
      <span>Destination</span>
      <input matInput placeholder="Search Destination" [matAutocomplete]="auto" (keyup)="getHotelCity($event)"
        [(ngModel)]="objTraveller.Location" class="input-text full-width">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
        <ng-container *ngIf="!isLoading">
          <mat-option *ngFor="let Name of hotelcity" [value]="Name.value" (onSelectionChange)="selectedCity(Name)">
            <span>{{Name.value}}</span>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </div>
    <div class="form-group">
      <span>Check in- Check out</span>
      <div class="datepicker-wrap">
        <input type="text" matInput class="input-text full-width" placeholder="select date" name="daterangeInput"
          daterangepicker [options]="options" (selected)="selectedDate($event, daterange)" />

      </div>
    </div>
    <div class="form-group travellers-class">
      <span><i class="pe-7s-users font15"></i> Travellers</span>
      <input type="text" id="HotelTravellersClass" [(ngModel)]="Guests"
        class="travellers-class-input form-control input-text full-width" placeholder="1 Room, 1 Guests">
      <div class="travellers-dropdown" id="HotelTravellers">
        <app-traveller [Traveller]="Traveller" (setGuests)="Guest($event)"></app-traveller>
      </div>
    </div>
    <div class="form-group">
      <span><i class="icon-flag-empty"></i> Nationality</span>
      <input matInput placeholder="" #Nationality name="Nationality" [(ngModel)]="objTraveller.Nationality"
        class="input-text full-width" aria-label="Nationality" [matAutocomplete]="nationalityauto"
        (keyup)="getCountry($event)">
      <mat-autocomplete #nationalityauto="matAutocomplete">
        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
        <ng-container *ngIf="!isLoading">
          <mat-option *ngFor="let Country of arrCountry" [value]="Country.Countryname">
            <span> <img with="20" height="20"
                src="../../../assets/images/country_flag/{{Country.Country | lowercase}}.png">
              {{Country.Countryname}}</span>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </div>
    <br />
    <button type="button" (click)="SearchHotel()" class="btn-medium full-width"><i class="icon-check "></i> Search
      Again</button>
  </div>
</div>