<ul class="nav nav-tabs" role="tablist" *ngIf="JourneyType==='2' && IsDomestic && Flightlength>1">
  <li class="nav-item active">
    <a class="nav-link active" id="Onward-tab" data-toggle="tab" href="#Onward" role="tab" aria-controls="home"
      aria-selected="true">Onward</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="Return-tab" data-toggle="tab" href="#Return" role="tab" aria-controls="home"
      aria-selected="true">Return</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade active in" id="Onward" role="tabpanel" aria-labelledby="Onward-tab">
    <div id="filters_col" class="travelo-box" *ngIf="Filter.arrOutBounds.length>0">
      <h4 data-toggle="collapse" href="#collapseOnward" aria-expanded="false" aria-controls="collapseOnward"
        id="filters_col_bt">
        <a style="cursor: pointer;"><i class="icon_set_1_icon-65"></i>Filters</a>
        <a style="color: #4263c1;float:right;width:40%;font-size: 11px;padding-top: 4px;cursor: pointer;margin-right: -40px;"
          (click)="clearAll('I')"><u>CLEAR ALL</u></a>
      </h4>
      <hr>
      <div class="collapse in" id="collapseOnward">
        <div class="filter_type">
          <h5>Depart Time</h5>
          <ul>
            <li *ngFor="let depTime of Filter.arrOutBounds[0].DepartureTime">
              <mat-checkbox [(ngModel)]="depTime.Checked"
                (change)="Commonfilter(depTime.Checked,depTime.Type, 'depTime', 'I')">
                <span>
                  {{depTime.Type}}
                </span>
                ({{depTime.Counts}})
              </mat-checkbox>
            </li>
          </ul>
        </div>
        <hr>
        <div class="filter_type">
          <h5>Layover</h5>
          <ul>
            <li *ngFor="let layover of Filter.arrOutBounds[0].LaysOvers">
              <mat-checkbox [(ngModel)]="layover.Checked"
                (change)="Commonfilter(layover.Checked,layover.Name, 'layover', 'I')">
                {{layover.Name}}
              </mat-checkbox>
            </li>
          </ul>
        </div>
        <hr>
        <div class="filter_type">
          <h5>Airlines</h5>
          <ul>
            <li *ngFor="let airline of Filter.arrOutBounds[0].Airlines">
              <mat-checkbox [(ngModel)]="airline.Checked"
                (change)="Commonfilter(airline.Checked,airline.Name, 'airline', 'I')">
                <span>
                  {{airline.Name}}
                </span>
                ({{airline.Count}})
              </mat-checkbox>
            </li>
          </ul>
        </div>
        <hr>
        <div class="filter_type">
          <h5>Stops</h5>
          <ul>
            <li *ngFor="let stop of Filter.arrOutBounds[0].arrStops">
              <mat-checkbox [(ngModel)]="stop.Checked" (change)="Commonfilter(stop.Checked,stop.Type, 'stop', 'I')">
                <span>
                  {{stop.Type}}
                </span>
                ({{stop.Counts}})
              </mat-checkbox>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="tab-pane fade" *ngIf="Filter.arrInbounds.length>0" id="Return" role="tabpanel"
    aria-labelledby="Return-tab">
    <div id="filters_col" class="travelo-box">
      <h5 data-toggle="collapse" href="#collapseReturn" aria-expanded="false" aria-controls="collapseOnward"
        id="filters_col_bt">
        <a style="cursor: pointer;"><i class="icon_set_1_icon-65"></i>Filters</a>
        <a style="color: #4263c1;float:right;width:40%;font-size: 11px;padding-top: 4px;cursor: pointer;margin-right: -40px;"
          (click)="clearAll('O')"><u>CLEAR ALL</u></a>
      </h5>
      <div class="collapse in" id="collapseReturn">
        <div class="filter_type">
          <h5>Depart Time</h5>
          <ul>
            <li *ngFor="let depTime of Filter.arrOutBounds[0].DepartureTime">
              <mat-checkbox [(ngModel)]="depTime.Checked"
                (change)="Commonfilter(depTime.Checked,depTime.Type, 'depTime', 'O')">
                <span>
                  {{depTime.Type}}
                </span>
                ({{depTime.Counts}})
              </mat-checkbox>
            </li>
          </ul>
        </div>
        <div class="filter_type">
          <h5>Layover</h5>
          <ul>
            <li *ngFor="let layover of Filter.arrInbounds[0].LaysOvers">
              <mat-checkbox [(ngModel)]="layover.Checked"
                (change)="Commonfilter(layover.Checked,layover.Name, 'layover', 'O')">
                {{layover.Name}}
              </mat-checkbox>
            </li>
          </ul>
        </div>
        <div class="filter_type">
          <h5>Airlines</h5>
          <ul>
            <li *ngFor="let airline of Filter.arrInbounds[0].Airlines">
              <mat-checkbox [(ngModel)]="airline.Checked"
                (change)="Commonfilter(airline.Checked,airline.Name, 'airline', 'O')">
                <span>
                  {{airline.Name}}
                </span>
                ({{airline.Count}})
              </mat-checkbox>
            </li>
          </ul>
        </div>
        <div class="filter_type">
          <h5>Stops</h5>
          <ul>
            <li *ngFor="let stop of Filter.arrInbounds[0].arrStops">
              <mat-checkbox [(ngModel)]="stop.Checked" (change)="Commonfilter(stop.Checked,stop.Type, 'stop', 'O')">
                <span>
                  {{stop.Type}}
                </span>
                ({{stop.Counts}})
              </mat-checkbox>
            </li>
          </ul>
        </div>
      </div>
      <!--End collapse -->
    </div>
  </div>

</div>