<section id="content">
  <div class="container">
    <div id="main">
      <br />
      <div class="travelo-box box-full">
        <h2>Make Payment</h2>
        <form [formGroup]="paymentfrm" (ngSubmit)="CheckValidation()">
          <div class="row">
            <div class="col-md-4">
              <label>Full Name *</label>
              <input type="text" class="full-width" formControlName="name"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">this field is required</div>
              </div>
            </div>
            <div class="col-md-4">
              <label>Email *</label>
              <input type="text" class="full-width" formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">this field is required</div>
              </div>
            </div>
            <div class="col-md-4">
              <label>Mobile *</label>
              <input type="text" class="full-width" formControlName="mobile"
                [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }">
              <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                <div *ngIf="f.mobile.errors.required">this field is required</div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4">
              <label>Address *</label>
              <input type="text" class="full-width" formControlName="address"
                [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
              <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">this field is required</div>
              </div>
            </div>
            <div class="col-md-4">
              <label>Amount *</label>
              <input onkeypress='return event.charCode >= 48 && event.charCode <= 57' type="text" class="full-width"
                formControlName="amount" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }">
              <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                <div *ngIf="f.amount.errors.required">this field is required</div>
              </div>
            </div>
            <div class="col-md-4">
              <button class="full-width" style="margin-top: 23px;height: 40px;">
                Make Payment
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>