.strip_booking h3.flight_booking:before {
  content: "\e625";
}

.strip_booking h3.flight_booking:before,
.strip_booking h3.private_booking:before {
  font-family: "soap-icons";
  content: "\e82e";
  font-style: normal;
  font-weight: normal;
  speak: none;
  position: absolute;
  border: 1px solid #ededed;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 0;
  top: -10px;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  color: #e44049;
  transform: rotate(45deg);
}

.bookings {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  margin-bottom: 10px;
}

mat-select {
  height: 40px !important;
  line-height: 20px !important;
  background: #f5f5f5 !important;
  padding: 0.375rem 0.75rem !important;
  border-radius: 0.25rem !important;
  padding: 0 !important;
  border: 0 !important;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

.card-body {
  padding: 10px !important;
  line-height: 1.6 !important;
  border-top: 0px solid #ddd !important;
}

.strip_booking h3 {
  font-size: 16px;
  text-transform: none !important;
  position: relative;
  top: 10px;
  padding-left: 65px;
}

ul.info_booking {
  list-style: none;
  margin: 0;
  padding: 15px 25px 15px 0;
  font-size: 11px;
  color: #999;
  line-height: 12px;
  border-right: 0px solid #ededed !important;
  text-align: left;
}

.details {
  border-right: 1px solid #ededed !important;
}

.strip_booking {
  border-bottom: none !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #fff !important;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.booking {
  padding-top: 15px;
}

a.btn_1,
.btn_1 {
  text-transform: none !important;
  padding: 2px 10px !important;
  font-weight: 500 !important;
}

.status {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.status-vouchered {
  background: #8bc34a;
}

.status-cancelled {
  background: #d32f2f;
}

.status-onrequest {
  background: #00bcd4;
}

.status-vouchered,
.status-onrequest,
.status-completed,
.status-cancelled,
.status-onhold,
.status-rejected {
  font-size: 10px;
  color: white;
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 2px;
  cursor: pointer;
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir="rtl"] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}
::ng-deep .mat-input-underline .mat-form-field-underline {
  display: none;
}
::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .cdk-overlay-container .cdk-overlay-pane {
  width: auto;
  max-width: auto;
}

.form-group input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mat-select {
  width: 2000px;
  background-color: red;
  font-size: 10px;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0.375rem 0.75rem;
  font-size: 12px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
::ng-deep .mat-select-trigger {
  padding: 10px 10px !important;
}
::ng-deep .mat-option {
  padding: 10px;
  display: block;
  border-bottom: solid 1px #ddd;
  overflow: hidden;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  /* -webkit-transition: all 0.25s ease-in-out; */
}

.form-control {
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .status {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}
