
  <div class="title-container">
      <h2 class="search-title">Search and Book Package</h2>
      <p>We're bringing you a new level of comfort.</p>
      <i class="soap-icon-beach"></i>
  </div>
  <div class="search-content">
      <h5 class="title">City Name</h5>
      <div class="row">
          <div class="col-xs-9">
            <div class="form-group">
              <!-- <label>City Name</label> -->
              <input matInput placeholder="" #City name="City" class="" aria-label="City" [matAutocomplete]="packageauto"
              [formControl]="cityCtrl" style="height: 35px !important">
            <mat-autocomplete #packageauto="matAutocomplete">
              <mat-option *ngFor="let CityName of filterCities | async" [value]="CityName.City">
                <span>{{CityName.City}}</span>
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
          <div class="col-xs-3" style="margin-top: 3px;">
            <button type="button" (click)="getPackages(City.value)" class="btn_1 green full-width">SEARCH</button>
          </div>
      <hr>
  </div>
