<section id="content" class="gray-area">
    <div class="container">
        <div class="row">
            <div id="main" class="col-sms-6 col-sm-8 col-md-9">
                <div class="booking-section travelo-box">

                    <form class="booking-form" [formGroup]="packbookingForm" (ngSubmit)="Book()">
                        <div class="card-information">
                            <h2>Passenger Details</h2>
                            <div class="form-group row">
                                <div class="col-sm-6 col-md-4">
                                    <label>Package Category</label>
                                    <select class="form-control" name="Category" [(ngModel)]="Booking.CategoryId"
                                        (ngModelChange)="SetDateValidity($event)" formControlName="Category"
                                        [ngClass]="{ 'is-invalid': submitted && f.Category.errors }">
                                        <option *ngFor="let Category of Packages.Category"
                                            value="{{Category.CategoryID}}">
                                            {{Category.Categoryname}}
                                        </option>
                                        <option value="1" *ngIf="Packages.Category.length===0">
                                            Standard
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && f.Category.errors" class="invalid-feedback">
                                        <div *ngIf="f.Category.errors.required">Category is required</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <label>Name</label>
                                    <input type="text" autocomplete="off" formControlName="Name" required
                                        [(ngModel)]="Booking.LeadingPax" placeholder="" formControlName="Name"
                                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }">
                                    <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                                        <div *ngIf="f.Name.errors.required"> Name is required</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <label>Mobile No </label>
                                    <input type="text" autocomplete="off" formControlName="Phone" required
                                        [(ngModel)]="Booking.PhoneNumber" placeholder="" formControlName="phone"
                                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                        <div *ngIf="f.phone.errors.required">Mobile No. is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 col-md-5">
                                    <label>E-mail</label>
                                    <input type="email" autocomplete="off" name="Email" [(ngModel)]="Booking.email"
                                        placeholder="" formControlName="email" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-5">
                                    <label>Travel date</label>
                                    <div class="datepicker-wrap">
                                        <input type="text" class="input-text full-width" placeholder="select date"
                                            name="daterangeInput" daterangepicker [options]="option"
                                            [(ngModel)]="Booking.TravelDate" formControlName="date"
                                            (selected)="choosedDate($event)" />
                                        <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                                            <div *ngIf="f.date.errors.required">Travel Date. is required</div>
                                        </div>
                                    </div>
                                    <!-- <input type="search" #date matInput class="form-control" Daterangepicker
                                [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" [autoApply]="true"
                                formControlName="date"
                                [opens]="opens" [singleDatePicker]="singleDatePicker" [drops]="drops"
                                [lockStartDate]="false" [showDropdowns]="true" [closeOnAutoApply]="true"
                                name="daterange" [(ngModel)]="Booking.TravelDate" [minDate]="mindate" autocomplete="off"
                                [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
                            <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                                <div *ngIf="f.date.errors.required">Travel Date. is required</div>
                            </div> -->

                                </div>
                            </div>


                            <!-- <div class="form-group row">
                          <div class="col-sm-6 col-md-10">
                              <label>AddOnReq</label>
                              <textarea name="message" rows="4" id="txt_Remark" class="form-control" placeholder="write message here"></textarea>
                          </div>
                      </div> -->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <p>No. of Traveller(s) :</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 col-md-2">
                                            <label>Adults</label>
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default btn-number"
                                                        data-type="minus" (click)="onTraveller('ad', 'minus')">
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    </button>
                                                </span>
                                                <input type="text" readonly="readonly" [(ngModel)]="Booking.Adults"
                                                    class="form-control input-number" formControlName="adult"
                                                    [ngClass]="{ 'is-invalid': submitted && f.adult.errors }">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default btn-number"
                                                        data-type="plus" (click)="onTraveller('ad', 'plus')">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                </span>
                                            </div>
                                            <br>
                                            <span style="font-size: 12px;">Adult (12yrs +)</span>
                                            <!-- <div class="form-group">
                                                <div class="numbers-row" id="inc_Adult">
                                                    <input type="text" autocomplete="off" [(ngModel)]="Booking.Adults"
                                                        class="qty2 form-control" name="Adult" formControlName="adult"
                                                        [ngClass]="{ 'is-invalid': submitted && f.adult.errors }">
                                                </div>
                                                <span style="font-size: 12px;">Adult (12yrs +)</span>
                                            </div> -->
                                        </div>
                                        <div class="col-sm-2 col-md-2">
                                            <label>CHILDS</label>
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default btn-number"
                                                        data-type="minus" (click)="onTraveller('ch', 'minus')">
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    </button>
                                                </span>
                                                <input type="text" readonly="readonly" [(ngModel)]="Booking.Childs"
                                                    class="form-control input-number" formControlName="child"
                                                    [ngClass]="{ 'is-invalid': submitted && f.child.errors }">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default btn-number"
                                                        data-type="plus" (click)="onTraveller('ch', 'plus')">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                </span>
                                            </div>
                                            <br>
                                            <span style="font-size: 12px;">Child (2-12yrs)</span>
                                            <!-- <div class="form-group">
                                                <div class="numbers-row inc_Child">
                                                    <input type="text" autocomplete="off" [(ngModel)]="Booking.Childs"
                                                        class="qty2 form-control" name="Child" formControlName="child"
                                                        [ngClass]="{ 'is-invalid': submitted && f.child.errors }">
                                                </div>
                                                <span style="font-size: 12px;">Child (2-12yrs)</span>
                                            </div> -->
                                        </div>
                                        <div class="col-sm-2 col-md-2">
                                            <label>Infant</label>
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default btn-number"
                                                        data-type="minus" (click)="onTraveller('in', 'minus')">
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    </button>
                                                </span>
                                                <input type="text" readonly="readonly" [(ngModel)]="Booking.Infant"
                                                    class="form-control input-number" formControlName="infant"
                                                    [ngClass]="{ 'is-invalid': submitted && f.infant.errors }">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default btn-number"
                                                        data-type="plus" (click)="onTraveller('in', 'plus')">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                </span>
                                            </div>
                                            <br>
                                            <span style="font-size: 12px;">Infant (0-2yrs)</span>
                                            <!-- <div class="form-group">
                                                <div class="numbers-row inc_Infant">
                                                    <input type="text" autocomplete="off" [(ngModel)]="Booking.Infant"
                                                        class="qty2 form-control" name="Infant" formControlName="infant"
                                                        [ngClass]="{ 'is-invalid': submitted && f.infant.errors }">
                                                </div>
                                                <span style="font-size: 12px;">Infant (0-2yrs)</span>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-md-2" style="float: right">
                                <button class="button full-width orange">Submit</button>
                            </div>
                        </div>
                        <br />
                    </form>
                </div>
            </div>
            <div class="sidebar col-sms-6 col-sm-4 col-md-3">
                <div class="booking-details travelo-box">
                    <h4>Booking Details</h4>
                    <hr /><br />
                    <article class="tour-detail">
                        <h5><b> {{Packages.PackageName}} </b> </h5>
                        <hr><br>
                        <h5><b>Category : </b> <span
                                *ngFor="let category of Packages.Category">{{category.Categoryname}} </span> </h5>
                        <hr /><br />
                        <h5><b>Themes : </b> {{Packages.Themes}} </h5>
                        <div class="details">

                            <div class="icon-box style11 full-width">
                                <div class="icon-wrapper">
                                    <i class="soap-icon-departure"></i>
                                </div>
                                <dl class="details">
                                    <dt class="skin-color">Cities</dt>
                                    <dd>{{Packages.City}}</dd>
                                </dl>
                            </div>
                            <div class="icon-box style11 full-width">
                                <div class="icon-wrapper">
                                    <i class="soap-icon-clock"></i>
                                </div>
                                <dl class="details">
                                    <dt class="skin-color">Duration</dt>
                                    <dd>{{Packages.noDays-1}} Nights /
                                        {{Packages.noDays}} Days</dd>
                                </dl>
                            </div>


                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>