::ng-deep .daterangepicker_input {
  display: none;
}

.numbers-row {
  position: relative;
  width: 97px;
  height: 40px;
  overflow: visible;
}

.numbers-row.list {
  margin: auto;
  margin-bottom: 5px;
  margin-top: 15px;
}

input.qty2 {
  position: relative;
  width: 35px;
  height: 40px;
  border-radius: none;
  text-align: center;
  left: 31px;
  font-size: 12px;
  padding: 5px;
}

.button_inc {
  text-indent: -9999px;
  cursor: pointer;
  position: absolute;
  width: 33px;
  height: 40px;
  z-index: 9;
}

.dec {
  background: #fff url(/assets/img/minus.png) no-repeat center center;
  border: 1px solid #ccc;
  left: 0;
  top: 0;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.inc {
  background: #fff url(/assets/img/plus.png) no-repeat center center;
  right: 0;
  top: 0;
  border: 1px solid #ccc;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.btn-number {
  font-size: 7px;
}
.input-number {
  text-align: center;
  background: #fff;
  height: 34px !important;
}
