<ul class="filters-option">
  <li>
    <ngx-skeleton-loader count="1" appearance="line"> </ngx-skeleton-loader>
  </li>
  <li>
    <ngx-skeleton-loader count="1" appearance="line"> </ngx-skeleton-loader>
  </li>
  <li>
    <ngx-skeleton-loader count="1" appearance="line"> </ngx-skeleton-loader>
  </li>
  <li>
    <ngx-skeleton-loader count="1" appearance="line"> </ngx-skeleton-loader>
  </li>
  <li>
    <ngx-skeleton-loader count="1" appearance="line"> </ngx-skeleton-loader>
  </li>
  <li>
    <ngx-skeleton-loader count="1" appearance="line"> </ngx-skeleton-loader>
  </li>
</ul>