<main style="margin-bottom: 355px;">
		<div id="position">
			<div class="container">
				<ul>
					<li><a href="#">Home</a>
					</li>
					<li><a href="#">Category</a>
					</li>
					<li>Page active</li>
				</ul>
			</div>
		</div>
		<!-- End Position -->

		<div class="margin_60 container">
			<div id="tabs" class="tabs">
				<nav>
					<ul>
						<li class="tab-current"><a href="/bookings" class="icon-booking"><span>Bookings</span></a>
						</li>
						<li class=""><a href="/wishlist" class="icon-wishlist"><span>Wishlist</span></a>
						</li>
						<li class=""><a href="/changepassword" class="icon-settings"><span>Settings</span></a>
						</li>
						<li class=""><a href="/profile" class="icon-profile"><span>Profile</span></a>
						</li>
					</ul>
				</nav>
				<div class="content">
					<section id="section-1" class="content-current">
						<div id="tools">
							<div class="row">
								<div class="col-lg-2 col-md-3 col-6">
									<div class="styled-select-filters">
										<select name="sort_type" id="sort_type">
											<option value="" selected="">Sort by type</option>
											<option value="tours" selected="selected">Tours</option>
										</select>
									</div>
								</div>
								<div class="col-lg-2 col-md-3 col-6">
									<div class="styled-select-filters">
										<select name="sort_date" id="sort_date">
											<option value="" selected="">Sort by date</option>
											<option value="oldest">Oldest</option>
											<option value="recent">Recent</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<!--/tools -->
 
						<div class="strip_booking" *ngIf="arrBookings.length ==0">
							<p style="text-align: center">No Bookings Found</p>
						</div>

						<div class="strip_booking" *ngFor="let arrResv of arrBookings">
							<div class="row">
								<div class="col-lg-2 col-md-2">
									<div class="date">
										<span class="month">{{arrResv.DateRange.Month}}</span>
										<span class="day"><strong>{{arrResv.DateRange.sDate}}</strong>{{arrResv.DateRange.Day}}</span>
									</div>
								</div>
								<div class="col-lg-6 col-md-5">
									<h3 class="tours_booking">{{arrResv.Name}}<span>{{ arrResv.Adult }} Adults / {{ arrResv.Child1 + arrResv.Child2 }} Child</span></h3>
								</div>
								<div class="col-lg-2 col-md-3">
									<ul class="info_booking">
										<li><strong>Booking id</strong> {{arrResv.BookingID}}</li>
										<li><strong>Booked on</strong> {{arrResv.BookDate}}</li>
									</ul>
								</div>
								<div class="col-lg-2 col-md-2">
									<div class="booking_buttons">
										<a href="#0" class="btn_2">Edit</a>
										<a href="#0" class="btn_3">Cancel</a>
									</div>
								</div>
							</div>
							<!-- End row -->
						</div>
						<!-- End strip booking -->
					</section>
					<!-- End section 1 -->
					</div>
					<!-- End content -->
				</div>
				<!-- End tabs -->
			</div>
			<!-- end container -->
	</main>