<main>
  <div id="position" style="margin-top: 100px;">
    <div class="container">
      <ul>
        <li><a [routerLink]="['/home']">Home</a>
        </li>
        <li><a [routerLink]="['/booking-report']">Booking Report</a>
        </li>
        <li>Page active</li>
      </ul>
    </div>
  </div>
  <!-- *ngIf="_display==='Detail'" -->

  <!-- <div class="container" id="main-booking" style="margin-top: 20px;">
    <div *ngIf="_display==='Detail'">
      <div class="row" *ngFor="let booking of BookingDetails; let i=index">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-lg-9 col-md-9 col-6">
                  Booking Details
                </div>
                <div class="col-lg-3 col-md-3 col-6 text-right">
                  <a href="javascript:void(0)" *ngIf="booking.Status ==='Vouchered'">Cancel
                    Booking</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <span><b>Status :</b> {{booking.Status}}</span><br>
                  <span><b>Reference NO :</b> </span><br>
                  <span><b>Invoice No :</b> {{booking.InvoiceNo}}</span>
                </div>
                <div class="col-lg-4 col-md-4">
                  <span><b>Booked On :</b> {{booking.BookDate}}</span><br>
                  <span><b>Sightseeing Date :</b> {{booking.SightseeingDate}} </span> <br>
                  <span><b>Amount :</b> {{booking.Currency}} {{booking.TotalAmount}} </span>
                </div>
                <div class="col-lg-4 col-md-4 col-12 h-addres">
                  <span><b>{{booking.ActivityName}}</b></span><br>
                  <span><b>Location :</b> {{booking.Location}}
                  </span><br>
                  <span><b>Activity Type :</b> {{booking.ActivityType}}
                  </span>
                </div>
              </div>
              <mat-divider class="divider"></mat-divider>
              <div class="row">
                <div class="col-md-6">
                  <span><strong>Leading Guest</strong> : {{booking.PassengerName}} </span><br>
                  <span><strong>Email</strong> : {{booking.Email}} </span><br>
                  <span><strong>Mobile</strong> : {{booking.Contact}} </span><br>
                </div>
                <div class="col-md-6">
                  <span><strong>Total Guest : </strong> <strong>
                      <span>
                        {{booking.Adult}} <i class="icon-adult font16"
                          title="Adult"></i><small>(adult)</small>&nbsp;&nbsp;
                        {{(+booking.Child1) + (+booking.Child2)}} <i class="icon_group font16"></i><small>
                          (child)</small>
                        &nbsp;&nbsp;
                        {{booking.Infant}} <i class="icon_group font16"></i><small> (infant)</small>
                      </span>
                    </strong></span><br>
                  <span *ngIf="booking.Adult!=='0'"> <strong> Adult Price : </strong> {{booking.Currency}}
                    {{booking.AdultCost}}</span><br>
                  <span *ngIf="booking.Child1!=='0'"> <strong> Child 1 Price : </strong> {{booking.Currency}}
                    {{booking.Child1Cost}}</span><br>
                  <span *ngIf="booking.Child2!=='0'"> <strong> Child 2 Price : </strong> {{booking.Currency}}
                    {{booking.Child2Cost}}</span><br>
                  <span *ngIf="booking.Infant!=='0'"> <strong> Infant Price : </strong> {{booking.Currency}}
                    {{booking.InfantCost}}</span>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-md-5">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-6">
                      <a href="javascript:void(0)" (click)="downloadPdf('Invoice',i)">Download Invoice</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-6">
                      <a href="javascript:void(0)" (click)="print('Invoice',i)">Print Invoice</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                    </div>
                  </div>
                </div>
                <div class="col-md-5" *ngIf="booking.Status ==='Vouchered'">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-6">
                      <a href="javascript:void(0)" (click)="downloadPdf('Voucher',i)">Download Ticket</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-6">
                      <a href="javascript:void(0)" (click)="print('Voucher',i)">Print Ticket</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="javascript:void(0)" id="Back-to-detail" *ngIf="_display==='Invoice' || _display==='Voucher'"
      (click)="Back()">Back to detail</a>
    <br>
    <app-sightseeing-invoice *ngIf="_display==='Invoice'" (bookingAction)="Action($event)" [AgentDetails]="AgentDetails"
      [AdminUser]="AdminUser" [InvoiceDetails]="Invoice" [userdetails]="login">
    </app-sightseeing-invoice>
    <app-sightseeing-voucher *ngIf="_display==='Voucher' && Individual!==undefined" (bookingAction)="Action($event)"
      [ReservationID]="ReservationID" [Individual]="Individual">
    </app-sightseeing-voucher>
    <br>
  </div> -->
</main>